<div class="myjcp-card-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="myjcp-card-toolbar-header">
        <span>Customer Experience</span>
    </div>
    <div class="myjcp-card-toolbar-icon">
        <span class="zmdi zmdi-more-vert"></span>
    </div>
</div>
<div class="myjcp-card-contain">

    <div class="myjcp-customer-row" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="space-around center">
        <div class="myjcp-customer-col-left pl-0" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="myjcp-customer-inner-row">
                <div class="myjcp-customer-icon p-0">
                    <div class="myjcp-customer-icon-position"><span class="ic ic-Active-Users"></span></div>
                </div>
            </div>
            <div class="myjcp-customer-inner-row ml-3">
                <div class="myjcp-customer-title">JCP Users Active</div>
                <div class="myjcp-customer-status" fxLayout="row" fxLayoutAlign="start center">
                    <div class="myjcp-customer-count">1000</div>
                    <div class="myjcp-customer-trend ml-2" style="color: rgb(48, 212, 54);"> <span
                            class="zmdi zmdi-long-arrow-up"></span> +35.50%</div>
                </div>
            </div>
        </div>
        <mat-divider vertical  style="height:69px"></mat-divider>
        <div class="myjcp-customer-col-left pl-0" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="myjcp-customer-inner-row">
                <div class="myjcp-customer-icon p-0">
                    <div class="myjcp-customer-icon-position"><span class="ic ic-Active-Users"></span></div>
                </div>
            </div>
            <div class="myjcp-customer-inner-row ml-3">
                <div class="myjcp-customer-title">Reports Downloaded</div>
                <div class="myjcp-customer-status" fxLayout="row" fxLayoutAlign="start center">
                    <div class="myjcp-customer-count">1000</div>
                    <div class="myjcp-customer-trend ml-2" style="color:#F32323;"> <span
                            class="zmdi zmdi-long-arrow-down"></span> +35.50%</div>
                </div>
            </div>
        </div>
    </div>

</div>