.assign-task-container {
    .dialog-header {
       background: #0070DB; 
       .header {
        color: white;
        font-size: 18px;
        margin-left: 10px;
       }
       .dialog-close-button {
           color: white;
           background: transparent;
       }
    }
    .dialog {
        margin: 15px;
        height: 150px;
        overflow: auto;
        .assign-dialog-header {
            margin: 5px 0 5px 10px;
        }
    }
    
    .listOfIMEIS{
        background: #EDEDED;
        display: inline-block;
        font-size: 14px;
        height: 32px;
        margin: 10px;
        border-radius: 24px;
        padding: 5px 20px;
    }
}
