<div class="assign-task-container">
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <div fxFlex="grow">
                <div class="header"><span style="margin-right: 4px;" class="ic ic-list1"></span>WorkOrder Filter</div>
            </div>
            <button (click)="closeDialog()" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content>
      
            <div class="filter-wpt">
                <div>
                    <form [formGroup]="thirdFormGroup">
                        <mat-form-field class="custom-field-container date-field w-100" fxFlex="0">
                            <div class="daterange-container" style="top: 46px;
                    left: 74px;">
                                <input matInput ngxDaterangepickerMd placeholder="Date Range"
                                    [timePicker]="true" [timePickerSeconds]="true" [timePickerIncrement]="15"
                                    [timePicker24Hour]="false" formControlName="selectedDateTime"
                                    [showCustomRangeLabel]="true"
                                    [alwaysShowCalendars]="thirdFormGroup.get('alwaysShowCalendars').value"
                                    [ranges]="ranges" [showClearButton]="true" [showCancel]="true"
                                    [linkedCalendars]="false" [isTooltipDate]="isTooltipDate"
                                    [isInvalidDate]="isInvalidDate"
                                    [locale]="{ applyLabel: 'Ok', format: 'DD, MMM YYYY, h:mm A',clearLabel:'Clear'}"
                                    [keepCalendarOpeningWithRange]="thirdFormGroup.get('keepCalendarOpeningWithRange').value"
                                    [showRangeLabelOnInput]="thirdFormGroup.get('showRangeLabelOnInput').value"
                                    (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdated($event)"
                                    autocomplete="off" [opens]="opens" [drops]="drops"
                                    class="daterange-container-input" />
                                <div class="iconCal"><i class="zmdi zmdi-calendar"></i></div>
                            </div>
                        </mat-form-field>
                    </form>
                </div>

                <div>
                    <mat-form-field class="form-field-read-only w-100" style="padding: 0 20px;">
                        <mat-select disableOptionCentering [(value)]="templateType[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option value="option1" class="sector-title" *ngFor="let tcr of templateType"
                                [value]="tcr">
                                {{tcr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    </div>

    <mat-divider></mat-divider>

    <div mat-dialog-actions  class="successful-text-action-container filter-container" fxLayout="row wrap"
        fxLayoutAlign="center center">
        <div class="mr-1 successful-text-button">
            <button class=" success-butt" (click)="clickReset()" mat-stroked-button color="primary"
                style=" margin-left: 8px;">Reset</button>
        </div>
        <div class="ml-1 successful-text-button">
            <button class=" success-butt" (click)="clickApply()" mat-raised-button color="primary"
                style=" margin-left: 3px;">Apply</button>
        </div>
    </div>

</div>