$blueColor: #0078D7;
$blueLightColor: #acd2ee;
.sites-nominal-macro-popup{
    height:calc(100% - 134px) 
}
.opacity-slider {
    .mat-slider-track-fill {
        background-color: $blueColor;
    }
    .mat-slider-track-background {
        background-color: $blueLightColor;
    }
}
.light-white-backdrop {
    background-color: white !important;
    opacity: 0.7 !important;
}
