<ng-template #hybridLayerCmcSettingsPopup>
    <div class="layers-settings-popup-content">
        <section class="w-100 px-4">
            <label class="section-header"
                style="font-size: 16px; font-weight: bold; margin-top: 10px;">Properties</label>
            <div fxLayout="row" fxLayoutAlign="start center" class="pb-2">
                <div fxFlex="15">Opacity : </div>
                <mat-slider fxFlex="75" class="example-margin mr-2" color="primary" max="100" min="0" #gridsize
                    [value]="gridsize" thumbLabel="false">
                </mat-slider>
                <div fxFlex="10">{{gridsize.value}} %</div>
            </div>
        </section>
        <mat-divider></mat-divider>
        <section class="w-100 px-4">
            <label class="section-header" style="font-size: 16px; font-weight: bold; margin-top: 10px;">Frequency
                Band : </label>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="py-2">
                <mat-checkbox color="primary">All</mat-checkbox>
                <mat-checkbox color="primary">2300 MHz</mat-checkbox>
                <mat-checkbox color="primary">1800 MHz</mat-checkbox>
                <mat-checkbox color="primary">850 MHz</mat-checkbox>
            </div>
        </section>
        <mat-divider></mat-divider>
        <section class="w-100 px-4">
            <label class="section-header" style="font-size: 16px; font-weight: bold; margin-top: 10px;">Filter :</label>
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Custom calendar color</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="">
        <div class="ml-3">
            <button mat-stroked-button class="buttonWidth" (click)="closeDialog()">Reset</button>
        </div>
        <div class="col"></div>
        <!-- <div>
            <button mat-stroked-button color="primary" class="buttonWidth" (click)="closeDialog()">Cancel</button>
        </div> -->
        <div class="mx-3">
            <button mat-raised-button color="primary" class="buttonWidth" (click)="closeDialog()">Apply</button>
        </div>
    </div>
</ng-template>