<div class="power-wrapper h-100" fxLayout="row" *ngIf="showTab">
    <div class="side-bar" fxFlex="20" style="overflow-y: auto;">
        <mat-card class="power-container-one p-0">
            <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="sub-header-title">Electrical Load</div>
            </div>
            <mat-divider></mat-divider>
            <div class="sub-content-container h-100">
                <div class="sub-content d-flex mx-2 flex-row flex-wrap">
                    <div class="sub-content-flex-item p-2 w-100">
                        <div class="form-field-read-only">
                            <div class="input-title">Rated Site Load</div>
                            <div class="input-value">{{siteMileStoneDetailWrapper.ratedSiteLoad}}</div>
                        </div>

                        <div class="form-field-read-only">
                            <div class="input-title">Total DC Load</div>
                            <div class="input-value">{{siteMileStoneDetailWrapper.totalDGLoad}}</div>
                        </div>

                        <div class="form-field-read-only">
                            <div class="input-title">Actual Load</div>
                            <!-- <div class="input-value">{{siteMileStoneDetailWrapper.actualLoad}}</div> -->
                            <div class="input-value">-</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="sub-header-title">Electrical Infra</div>
            </div>
            <mat-divider></mat-divider>
            <div class="sub-content-container h-100">
                <div class="sub-content d-flex mx-2 flex-row flex-wrap">
                    <div class="sub-content-flex-item p-2 w-100">
                        <div class="form-field-read-only">
                            <div class="input-title">SMPS</div>
                            <div class="input-value">16 KW</div>
                        </div>

                        <div class="form-field-read-only">
                            <div class="input-title">Battery</div>
                            <div class="input-value">{{siteMileStoneDetailWrapper.totalDGLoad}}</div>
                        </div>

                        <div class="form-field-read-only">
                            <div class="input-title">DG</div>
                            <!-- <div class="input-value">{{siteMileStoneDetailWrapper.actualLoad}}</div> -->
                            <div class="input-value">-</div>
                        </div>

                        <div class="form-field-read-only">
                            <div class="input-title">EB</div>
                            <!-- <div class="input-value">{{siteMileStoneDetailWrapper.actualLoad}}</div> -->
                            <div class="input-value">-</div>
                        </div>

                    </div>
                </div>
            </div>
        </mat-card>



        <mat-card class="power-container-one p-0">

        </mat-card>
    </div>


    <div class="dialog-container" fxFlex="80" style="overflow-y: auto;">
        <div class="jcp-table-container" style="height: 62vh">
            <!-- <app-table-ag-grid>
            </app-table-ag-grid> -->
            <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material ag-jcp3" rowHeight="48"
                headerHeight="48" [gridOptions]="gridOptionsPower" [columnDefs]="columnDefsPower"
                [rowData]="rowDataPower" enableColResize enableSorting enableFilter groupHeaders
                suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                (gridReady)="onReady($event)">
            </ag-grid-angular>
        </div>
    </div>

</div>