<nav id="nav-menu" mmenu #myname>
    <ul class="listview-icons">
        <li *ngFor="let item of menuListAll">
            <ng-container 
                [ngTemplateOutlet]="recursiveListTmpl" 
                [ngTemplateOutletContext]="{item:item}">
            </ng-container>
        </li>
    </ul>
    <ng-template #recursiveListTmpl let-item='item'>
            <span routerLink="/{{item.link}}" *ngIf="item.children.length > 0" (click)="parentIconClick()" routerLinkActive="menu-active">
                <i class="{{item.icon}}"
                    *ngIf="item.level == 0"
                    attr.data-title="{{item.name}}"
                    ></i>
                {{item.name}}
            </span>
            <a routerLink="/{{item.link}}" *ngIf="item.children.length == 0" (click)="parentIconClick()" routerLinkActive="menu-active">
                <i class="{{item.icon}}"
                    *ngIf="item.level == 0"
                    attr.data-title="{{item.name}}"
                    ></i>
                {{item.name}}
            </a>
            <div *ngIf="item.children.length > 0 && item.name !='Layers'" class="listview-icons" [ngClass]="[ isParentLevel ? 'parentLevel0' : '']">
                <ul>
                <li *ngFor="let item of item.children">
                <ng-container 
                    [ngTemplateOutlet]="recursiveListTmpl" 
                    [ngTemplateOutletContext]="{item:item}">
                </ng-container>
                </li>
            </ul>
            </div>
            <ul *ngIf="item.children.length > 0 && item.name =='Layers'" class="listview-icons">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle>
                        <a class="mat-tree-node" routerLink="/{{node.link}}" >
                            <button mat-icon-button disabled></button>
                            {{node.name}}
                        </a>
                    </mat-tree-node>
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        <li>
                            <span routerLink="/{{node.link}}" class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="0"
                                    [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                <div class="name-node">{{node.name}}</div>
                            </span>
                            <div class="mat-tree-node-children">
                                <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul>
                            </div>
                        </li>
                    </mat-nested-tree-node>
                </mat-tree>
            </ul>
    </ng-template>
</nav>