$blueshade-color: #E5F0FC;
$blueactive-color: #0078D7;
$darkest-blue-color: #0078D7;
$px25: 25px;
$px21: 21px;
$px3: 3px;

.mm-listitem__text {
  &:hover {
      background-color: #eaecec !important;
  }
}
