<nav id="nav-menu" mmenu #varWithDirective="mmenuDirectiveExport">
    <!-- <mat-form-field>
        <input matInput placeholder="Search" (input)="filterChanged($event.target.value)">
     </mat-form-field> -->
    <ul class="listview-icons">
        <li *ngFor="let item of menuListAll">
            <ng-container 
                [ngTemplateOutlet]="recursiveListTmpl" 
                [ngTemplateOutletContext]="{item:item}">
            </ng-container>
        </li>
    </ul>
    <ng-template #recursiveListTmpl let-item='item'>
            <span routerLink="/{{item.link}}" *ngIf="item.children.length > 0"
                routerLinkActive="menu-active">
                <i class="{{item.icon}}"
                    *ngIf="item.level == 0"
                    attr.data-title="{{item.name}}"
                    ></i>
                <span attr.data-title="{{item.name.length > 23 ? item.name : null}}">
                    {{item.name}}
                </span>
            </span>
            <a routerLink="/{{item.link}}" *ngIf="item.children.length == 0"
            (click)="parentIconClick(varWithDirective, item.level)" routerLinkActive="menu-active">
                <i class="{{item.icon}} level0Item"
                    *ngIf="item.level == 0"
                    attr.data-title="{{item.name}}"
                    ></i>
                <span attr.data-title="{{item.name.length > 21 ? item.name : null}}">
                    {{item.name}}
                </span>
            </a>
            <div *ngIf="item.children.length > 0 && item.name !='Layers'" class="listview-icons">
                <ul>
                <li *ngFor="let item of item.children; let i= index" 
                id="{{item.name.split(' ').join('_')}}">
                <ng-container 
                    [ngTemplateOutlet]="recursiveListTmpl" 
                    [ngTemplateOutletContext]="{item:item}">
                </ng-container>
                </li>
            </ul>
            </div>
            
            <ul *ngIf="item.children.length > 0 && item.name =='Layers'" class="listview-icons">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle
                    matTreeNodePaddingIndent="0" (click)="onChecked(node.selected, node, activeCheckbox, 'no')" 
                    (mouseover)="layersLevelHover(node, '')" (mouseleave)="layersLevelHoverLeave(node, '')" 
                    [ngStyle]="{'cursor':'pointer'}"
                    [ngClass]="[hoverLayer0? 'layers-menu-0': '']" class="dashed-border">
                        <span class="node-arrow-nox d-flex">
                            <li *ngFor="let r of recNode(undefined, dataSource.data, -1, treeControl.dataNodes.indexOf(node))[2]| slice:1" 
                            [ngClass]="{'node-arrow': r, 'node-arrow-empty': !r}" ></li>
                        </span>
                        <!-- <div [style.border-left]="setBorder(node)" [style.padding-left]="setPadding(node)"> -->
                            <button mat-icon-button disabled></button>
                            <div *ngFor="let r of recNode(undefined, dataSource.data, -1, treeControl.dataNodes.indexOf(node))[2]| slice:1" class="node-icon" [ngClass]="[node.selected ? 'icon-h-arw-active': '']"></div>
                            <div *ngFor="let r of recNode(undefined, dataSource.data, -1, treeControl.dataNodes.indexOf(node))[2]| slice:1" class="node-icon icon-h-arw icon-ledger"></div>
                            <div class="name-node" style="margin-top: 9px;">
                                <mat-checkbox 
                                    class="checklist-leaf-node" 
                                    (change)="onChecked(node.selected, node, activeCheckbox, $event.checked)" 
                                    [checked]="node.selected" #activeCheckbox>
                                        <div isEllipsisActive attr.data-title1="{{node.name}}" id="{{node.name}}">{{node.name}}</div>
                                </mat-checkbox>
                            </div>
                            <mat-icon class="ic ic-filter-01 filter-icon" *ngIf="node.selected == true" #iconDisplay></mat-icon>
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node;when: isLevelZero;" matTreeNodePadding
                    matTreeNodeToggle (click)="activenode(node, horizontalLine)" (mouseover)="layersLevelHover(node, iconlayersZero)"
                    (mouseleave)="layersLevelHoverLeave(node, iconlayersZero)" matTreeNodePaddingIndent="0" [ngStyle]="{'cursor':'pointer'}"
                    [ngClass]="[hoverLayer0? 'layers-menu-0 layer-0': '', treeControl.isExpanded(node) ? 'active-layer': '']" id="{{node.classId}}">
                        <div class="icon-horizontal-line" #horizontalLine></div>
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name" (click)="activenode(node, horizontalLine)" 
                                (mouseover)="layersLevelHover(node, iconlayersZero)" [disableRipple]="true">
                        <mat-icon class="mat-icon-rtl-mirror"
                        [ngStyle]="{'margin-left': '-'+(node.level)*24+'px'}" #iconlayersZero>
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        </button>
                        <div class="name-node" isEllipsisActive attr.data-title1="{{node.name}}">{{node.name}}</div>
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node;when: isLevelOne; " matTreeNodePadding
                        matTreeNodeToggle (click)="activenode(node, '')" (mouseover)="layersLevelHover(node, iconlayers)"
                        (mouseleave)="layersLevelHoverLeave(node, iconlayers)" matTreeNodePaddingIndent="0" [ngStyle]="{'cursor':'pointer'}"
                        [ngClass]="[hoverLayer0? 'layers-menu-0 layer-0 layer-1': '', treeControl.isExpanded(node) ? 'active-nested-layer': '']">
                        <!-- <span class="node-arrow-nox d-flex">
                            <li  *ngFor="let r of recNode(undefined, dataSource.data, -1, treeControl.dataNodes.indexOf(node))[2]" 
                            [ngClass]="{'node-arrow': r, 'node-arrow-empty': !r}" ></li>
                        </span> -->
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name" (click)="activenode(node, '')" 
                                (mouseover)="layersLevelHover(node, iconlayers)" [disableRipple]="true">
                        <mat-icon class="mat-icon-rtl-mirror"
                        [ngStyle]="{'margin-left': '0px'}" #iconlayers>
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        </button>
                        <div class="name-node" isEllipsisActive attr.data-title1="{{node.name}}">{{node.name}}</div>
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node;when: isLevelGreterThanOne; " matTreeNodePadding
                        matTreeNodeToggle (click)="activenode(node, '')" (mouseover)="layersLevelHover(node, iconlayers)"
                        (mouseleave)="layersLevelHoverLeave(node, iconlayers)" matTreeNodePaddingIndent="0" [ngStyle]="{'cursor':'pointer'}"
                        [ngClass]="[hoverLayer0? 'layers-menu-0 ': '', treeControl.isExpanded(node) ? 'active-nested-layer': '']" 
                        class="dashed-border">
                        <span class="node-arrow-nox d-flex">
                            <li  *ngFor="let r of recNode(undefined, dataSource.data, -1, treeControl.dataNodes.indexOf(node))[2] | slice:1" 
                            [ngClass]="{'node-arrow': r, 'node-arrow-empty': !r}" ></li>
                        </span>
                        <div class="node-icon" [ngClass]="[treeControl.isExpanded(node) ? 'icon-h-arw-active': '']"></div>
                        <div class="node-icon icon-h-arw"></div>
                        <!-- <div [style.border-left]="setBorder(node)" [style.padding-left]="setPadding(node)"> -->
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name" (click)="activenode(node, '')" 
                                (mouseover)="layersLevelHover(node, iconlayers)" [disableRipple]="true">
                            <mat-icon class="mat-icon-rtl-mirror"
                            #iconlayers>
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <!-- <div class="node-icon icon-h-arw-vertical"></div>
                        <div class="node-icon icon-h-arw-horizontal"></div>-->
                        
                        
                        <div class="name-node" isEllipsisActive attr.data-title1="{{node.name}}">{{node.name}}</div>
                        <!-- </div> -->
                    </mat-tree-node>
                </mat-tree>
            </ul>
    </ng-template>
</nav>