<div class="successful-container">
    <div class="successful-circle-container" fxLayout="column wrap" fxLayoutAlign="center center">
        <div class="circle-type" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div [ngClass]="[image == 'warning'? 'ic ic-warning warning-icon': image == 'disable'? 'ic ic-layers-01 warning-icon': '']"></div>
        </div>
    </div>

    <div *ngIf="showDefaultContent" class="successful-text-container" fxLayout="column wrap" fxLayoutAlign="center center">
        <div class="p-3 successful-text-header warning">{{title}}</div>
        <div class="p-4 successful-text-subheader" style="height:1000px;">{{message}}</div>
    </div>

    <div *ngIf="showContentForCSV" class="successful-text-container" fxLayout="column wrap" fxLayoutAlign="center center">
        <div class="p-1 successful-text-subheader">No Call Plan available on the given dates for following user/s:</div>
        <div class="p-1 successful-text-subheader">{{message}}</div>
        <div class="p-1 successful-text-subheader" >Please load new call plan for above user/s after assigning the work-order</div>
    </div>

    <div mat-dialog-actions class="successful-text-action-container" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="mr-1 successful-text-button">
            <button class=" success-butt" mat-stroked-button color="primary" style=" margin-left: 8px;" (click)="onCancel()">Cancel</button>
        </div>
        <div class="ml-1 successful-text-button">
            <button class=" success-butt" mat-raised-button color="primary" style=" margin-left: 3px;" (click)="onConfirm()">Confirm</button>
        </div>
    </div>
</div>