.edit-alarm-library-container {
    .dialog-header {
       background: #0070DB; 
       .header {
        color: white;
        font-size: 18px;
       }
       .dialog-close-button {
           color: white;
           background: transparent;
       }
    }
    .assign-text-action-container {
        .assign-text-button {
            .assign-butt {
                height: 40px;
                width: 158px;
            }
        }
    }
    .edit-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 20px;
        >div {
            >div {
                margin-right: 20px;
            }
        }
    }
    .emp-label {
        text-align: left;
        font-family: Lato Regular;
        font-size: 14px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.9;
        line-height: 3;
    }
    
    .mat-con {
        margin: 15px 0px;
        > mat-radio-group {
            > mat-radio-button {
                font-family: Lato Regular;
                font-size: 14px;
            }
        }
    }
}
