<div #container class="h-100 pin-zoom-container" style="background: white;">
    <div class="toolbar-table-control-layers px-3" style="height: 50px;" fxLayout="row"
        fxLayoutAlign="space-around center">
        <div class="toolbar-control-title" class="location" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div>{{location}}</div>
        </div>
        <div class="toolbar-table-control-icon-list">
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <form [formGroup]="pinGroupDetails">
        <div style="margin-top : 10px;">
            <mat-form-field class="example-full-width col-12">
                <mat-label>Pin Name</mat-label>
                <input matInput value="Convert" formControlName="pinName">
            </mat-form-field>

            <div class="row-flex">
                <mat-form-field class="example-full-width col-6">
                    <mat-label>Latitude</mat-label>
                    <input matInput value="Convert" formControlName="latitude">
                </mat-form-field>
                <mat-form-field class="example-full-width col-6">
                    <mat-label>Longitude</mat-label>
                    <input matInput value="Convert" formControlName="longitude">
                </mat-form-field>
            </div>

            <mat-form-field class="example-full-width col-12">
                <mat-label>Comment</mat-label>
                <input matInput value="Convert" formControlName="comment">
            </mat-form-field>

            <mat-divider></mat-divider>

            <div style="margin-top: 10px;">
                <label style="margin-left: 15px;">Add In</label>
                <div class="check-selection" style="margin-left: 5px;">
                    <mat-checkbox class="example-margin" formControlName="newGroup">New Group</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="existingGroup">Existing Group</mat-checkbox>
                </div>

                <mat-form-field class="example-full-width col-12">
                    <mat-label>Group Name</mat-label>
                    <input matInput value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod"
                        formControlName="groupName">
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row wrap" style="margin-bottom: 10px;">
            <div class="col"></div>
            <div class="mr-1 successful-text-button">
                <button class=" success-butt" mat-stroked-button color="primary" style=" margin-left: 8px;"
                    (click)="deletePin()">Delete</button>
            </div>
            <div class="ml-1 successful-text-button">
                <button class=" success-butt" mat-raised-button color="primary" style="margin: 0px 15px;"
                    (click)="saveNewPin()">Apply</button>
            </div>

        </div>
    </form>

    <mat-divider></mat-divider>

    <div mat-dialog-actions class="successful-text-action-container" fxLayout="row">
        <div class="mr-1 successful-text-button">
            <button class="success-butt save-all-pins" mat-stroked-button (click)="saveNewPin()" color="primary"
                style=" margin-left: 8px;">
                <span class="zmdi zmdi-bookmark-outline save-all-pins-logo"></span>Save All Pins
            </button>
        </div>
        <div class="ml-1 successful-text-button" style="position: absolute; right: 0; margin-right: 10px;">
            <button class="success-butt export-all-pins" mat-raised-button color="primary" style=" margin: 0px3px;">
                <span class="ic ic-download export-all-pins-logo"></span>Export All Pins
            </button>
        </div>
    </div>
</div>