.pin-zoom-container {
    .toolbar-control-title {
        font-family: Lato regular;
        font-size: 16px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.85;
    }
}
.save-all-pins {
    background: transparent;
    color: #0078D7;
    border: none;
}

.export-all-pins {
    background: transparent;
    color: #0078D7;
    box-shadow: none;
}

.save-all-pins-logo {
    font-size: 20px;
    margin-right: 8px;
}

.export-all-pins-logo {
    margin-right: 8px;
}