<div class="info-container">
    <div class="info-topbar px-2">
        <div class="info-title p-3">Info:PussHoppingOffset</div>
        <button class="close-popup mat-icon-button" (click)="close()">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>
    <div class="info-dialog-content p-3">
        <p>This parameter is the long DRX cycle and DRX start offset value to run
            onDurationTimer in DRX mode in normal status. The unit of the long DRX
            cycle is asub-frame. If the short DRX-Cycle is set to a value, this parameter
            is set to a multiple of the short DRX-Cycle. The DRX start offset is set to an
            integer. For the TDD, DL sub-frame or UL sub-frame This parameter is the long DRX cycle and DRX start offset
            value to run
            onDurationTimer in DRX mode in normal status. The unit of the long DRX
            cycle is asub-frame. If the short DRX-Cycle is set to a value, this parameter
            is set to a multiple of the short DRX-Cycle. The DRX start offset is set to an
            integer. For the TDD, DL sub-frame or UL sub-frame</p>
    </div>
</div>