<div #container class="jcp-customLegends-setting-control-layers-container">
    <div class="toolbar-customLegends-setting-control-layers px-3" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="toolbar-customLegends-setting-control-title" fxFlex>
            <!-- <span class="ic ic-customLegends-01 pr-1" style="font-size: 16px;"></span> -->
            <span>Custom Legends & Ranges : Layer Settings</span>
        </div>
        <div class="toolbar-customLegends-setting-control-icon-list">
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="customLegends-setting-container">
        <!-- <div fxLayout="column" class="customLegends-setting-list-container" *ngFor="let customLegends of customLegendsdisplayslist ; first as isFirst; last as isLast">
            <div class="customLegends-setting-list-title  px-1">{{ customLegends.name }}</div>
            <div class="customLegends-setting-list-child-container  px-1" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="customLegends-setting-list-child-check" fxFlex="30" *ngFor="let item of customLegends.checks">
                    <mat-checkbox>{{item.name}}</mat-checkbox>
                </div>
            </div>
            <mat-divider *ngIf="!isLast"></mat-divider>
        </div> -->

        <mat-card class="customLegends-setting-card">
            <div class="customLegends-setting-row" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div class="customLegends-setting-type" fxFlex="50">
                    <mat-form-field class="form-field-selected-layers px-3">
                        <mat-select disableOptionCentering class="mat-select-selected-layers" placeholder="Select Technology" #singleSelect>
                            <mat-option *ngFor="let layer of technologyList" [value]="layer.value">
                                {{layer.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="customLegends-setting-type" fxFlex="50">
                    <mat-form-field class="form-field-selected-layers px-3">
                        <mat-select disableOptionCentering class="mat-select-selected-layers" placeholder="Select KPI" #singleSelect>
                            <mat-option *ngFor="let layer of kpiList" [value]="layer.value">
                                {{layer.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="customLegends-setting-type" fxFlex="100">
                    <mat-form-field class="form-field-selected-layers px-3">
                        <mat-select disableOptionCentering class="mat-select-selected-layers" placeholder="Select Band" #singleSelect>
                            <mat-option *ngFor="let layer of bandList" [value]="layer.value">
                                {{layer.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="customLegends-setting-type" fxFlex="70">
                    <mat-form-field class="form-field-selected-layers px-3">
                        <mat-select disableOptionCentering class="mat-select-selected-layers" placeholder="Palette" #singleSelect>
                            <!-- <mat-option *ngFor="let layer of paletteList" [value]="layer.value">
                                <div>{{layer.value}}</div> -->
                            <!-- <div class="w-100" *ngFor="let item of layer.colorpalette"> -->
                            <!-- <div class="colorpalette" [ngStyle]="{'background-color':item.colorName}"></div> -->
                            <!-- <div class="colorpalette"></div> -->
                            <!-- </div> -->
                            <!-- </mat-option> -->
                            <mat-option>
                                <div style="display: inline-flex;">
                                    <div>NPE View</div>
                                    <div class="colorpalette"></div>
                                </div>

                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="customLegends-setting-type" fxFlex="30" fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <div class="zmdi zmdi-plus"></div>
                    <div class="zmdi zmdi-edit"></div>
                    <div class="zmdi zmdi-delete"></div>
                </div>
            </div>
        </mat-card>
        <mat-card class="customLegends-setting-card"></mat-card>
        <mat-card class="customLegends-setting-card"></mat-card>

    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="p-0" fxLayout="row">
        <div fxFlex></div>
        <div class="p-2 my-flex-item">
            <button mat-stroked-button color="primary" class="buttonCustomeLegends">Reset To Defaults</button>
        </div>
        <div class="p-2 my-flex-item">
            <button mat-raised-button color="primary" class="buttonCustomeLegends">Save Settings</button>
        </div>
    </div>
</div>