
.nominal-validation-create-mat-card {
	height: calc(100% - 50px);
	padding: 0 !important;
	.card-content{
		height: calc(100% - 95px);
		.mat-stepper-horizontal{
			height: 100%;
			// .mat-horizontal-stepper-header-container {
			// 	width: 75%;
			// }
            .mat-horizontal-content-container{
				height: calc(100% - 30px);
				padding-left: 20px;
				padding-top: 20px;
                .mat-horizontal-stepper-content[aria-expanded="true"]{
                    height:100%;
                    .content-holder{
						.link-budget {
							.mat-radio-outer-circle {
								border-color: #0078d7 !important;
							}
							.mat-radio-checked {
								.mat-radio-outer-circle {
									border-color: #0078d7 !important;
								}
							}
							.mat-radio-inner-circle {
								background-color: #0078d7 !important;
							}
							.title-cell{
								font-family: Lato Bold;
								font-size: 14px;
							}
							.cell-key {
								font-family: Lato Regular;
								font-size: 13px;
								opacity: 0.54;
							}
							.cell-value {
								font-family: Lato Medium;
								font-size: 14px;
							}
							.row-cell{
								padding-bottom: 20px;
								padding-top: 10px;
							}
						}
					}
					.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
						background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 100%, transparent 0%) !important;
					}
					editCell{
						.input-field{
							border: none;
							background-color: #f2f2f2;
							border-radius: 4px;
							color: #006CD4;
						}
					}
				}
			}
		}
		.linkBlue {
			color: blue;
		}
		.nominal-validation-flex-item {
			padding-bottom: 1rem;
			.title-project {
				font-size: 12px;
				font-family: 'Lato Regular';
				line-height: 1.75;
			}
			.sub-title {
				font-size: 14px;
				font-family: 'Lato Medium';
				line-height: 1.5;
			}
			.nominal-validation-title {
				font-size: 15px;
				font-family: Lato Bold;
			}
			.icon-button {
				padding: 10px 16px;
			}
			.header-icon {
				font-size: 15px;
				padding: 5px 11px;
				line-height: 2;
				width: 36px;
				height: 36px;
				border-radius: 20px;
				margin: 0 7px;
				color: #B3D4F4;
				cursor: pointer;
			}
		}

		.existing-sites-holder,.polygon-name {
			border: 1px solid #00000029;
			margin: 10px;
			.menu-header {
				padding-bottom: 10px;
				border-bottom: 1px solid #00000029;
				font-size: 13px;
				font-family: Lato Medium;
				font-weight: bold;
				padding: 10px;
				height: 50px;
			}
		}

		.green-field {
			padding-right: 80px;
		}
		.delete-button {
			background-color: white;
			color: grey;
			box-shadow: none;
		}
		.add-button {
			width:10px;
			margin-right: 10px;
		}
		.menu-content{
			max-height: 180px;
			padding-top: 10px;
			.mat-checkbox {
				font-weight: 500;
				font-family: Lato Medium;
				font-size: 13px;
			}
			.polygon-data {
				cursor: pointer;
				.name-type {
					font-weight: bold;
					font-family: Lato Medium;
					font-size: 12px;
					margin-top: -4px;
				}
				.outdoor-profile {
					font-weight: 100;
					font-family: Lato Medium;
					font-size: 12px;
					color: grey;
					margin-top: -9px;
				}
			}
		}

		.menu-content-polygon {
			max-height: 180px;
			.list-polygon {
				.mat-list-item {
					.polygon-data {
						cursor: pointer;
						.name-type {
							font-weight: bold;
							font-family: Lato Medium;
							font-size: 12px;
						}
						.outdoor-profile {
							font-weight: 100;
							font-family: Lato Medium;
							font-size: 12px;
							color: grey;
						}
					}
				}
			}
		}
	}
}

.completed-project-list {
	margin-left: 20px;
}
.mat-radio-checked {
	.mat-radio-outer-circle {
		border-color: #0078d7 !important;
	}
}
.mat-radio-inner-circle {
	background-color:#0078d7 !important;
}

mat-select-panel {
    top: 26px;
    position: absolute;
    .mat-option.mat-selected {
        background-color: #E5F0FB !important;
        color: #464d69 !important;
    }
}

#map5, #map6  {
    height: 285px;
}
.tab-container-layersMap2 .icon-styleMap2 {
    font-size: 25px;
    padding: 3px 7px;
    line-height: 1.5;
    width: 38px;
    height: 38px;
    border-radius: 25px;
    color: #707070;
}

.cust-nominal-container {
    height: 210px;
    margin: 8px 10px 8px 8px;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    .header-nominal-cust {
        height: 48px;
        border-bottom: 1px solid #e2e2e2;
        .title {
            line-height: 3;
            font-family: Lato Bold;
            font-size: 16px;
        }
        .icon-container {
            margin: 4px 0;
            .iconType {
                line-height: 0;
            }
        }
    }
}

.content-nominal-cust {
    overflow: auto;
    height: 155px;
    .content-nominal-cust-row {
        .mat-checkbox-layout {
            margin-bottom: -0.5rem;
        }
        .title-poly {
            line-height: 3;
            font-family: Lato bold;
            font-size: 14px;
        }
        .sub-title-poly {
            line-height: 3.5;
            font-family: Lato Regular;
            font-size: 12px;
        }
    }
}

.traffic-map {
	.name-traffic {
		font-family: Lato Bold;
		font-size: 16px;
	}
	.traffic-date {
		.mat-form-field-infix {
			padding:0 !important;
		}
	}
}

.mat-icon-button:hover .mat-button-focus-overlay {
    opacity: 0.1 !important;
    background-color: #0078D7;
}

.disabled-additional-candidate {
	color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}