<div class="wo-sector-container">
    <mat-card class="wo-sector-card-one p-0">
        <div class="d-flex  flex-row justify-content-between align-items-center full-height wo-header">
            <mat-icon class="icon-button mx-2" style="color: #7E7E7E;" aria-label="search" (click)="goBack()">
                <span class="zmdi zmdi-arrow-left"></span>
            </mat-icon>
            <div class="col wo-flex-item" style="padding-left: 0px;">
                <div style="color: black">I-MU-MUMB-ENB-4505</div>
            </div>

        </div>
        <mat-divider></mat-divider>

        <mat-card-content class="wo-container">
            <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">

                <div class="p-2 wo-flex-item mediaContainer" style="width: 33%;"
                    *ngFor="let wo of woHeader;trackBy: trackHero">
                    <div class="wo-form-field-read">
                        <div class="wo-form-input-title">{{wo.label}}</div>
                        <div class="wo-form-input-value">{{wo.value}}</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
    </mat-card>

    <div class="flex-row flex-wrap w-100" style="position: relative; height: calc(100% - 169px);
    overflow-y: auto; overflow-x: hidden;">

        <div class="wrapper-progressBar" style="height: 75px;">
            <ul class="progressBar">
                <li class="active ic ic-checkmark"><span>Nominal Finalisation</span> </li>
                <li class="active"><span>Plan - RFA</span></li>
                <li class="active"><span>RFA - RFC</span></li>
                <li class="active"><span>RFC - RFI</span></li>
                <li class="inprogress"><span>RFI - RFE1</span></li>
                <li class="inprogress"><span>RFI - RFE2</span></li>
                <li class=""><span>RFE2 - RFR</span></li>
                <li class=""><span>ATP 11A & WCC1</span></li>
                <li><span>ATP 11B, CVT, WCC2 & HOTO</span></li>
            </ul>
        </div>

        <mat-card-content class="h-100" *ngIf="hideAction">
            <div style="width: 35%; float: right;">
                <button mat-raised-button color="basic" class="mx-3" (click)="autoAssign()">Auto Assign</button>
                <button mat-raised-button color="basic" class="mx-3" (click)="assignTask()">Assign</button>
                <button mat-raised-button color="primary" class="auto-assign-btn" (click)="acceptTask()">
                    Accept
                </button>
            </div>
        </mat-card-content>


        <mat-card  *ngIf="!assignTaskStatus" class="execution-task-container-one p-0">
            <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="sub-header-title">Site Details</div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class=" sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Circle Name*</mat-label>
                        <input matInput placeholder="" value="Lorem Ipsum">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Site ID*</mat-label>
                        <input matInput placeholder="" value="Lorem Ipsum">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Site Name*</mat-label>
                        <input matInput placeholder="" value="Lorem Ipsum">
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Priority*</mat-label>
                        <mat-select disableOptionCentering [(value)]="priority[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option value="option1" class="sector-title" *ngFor="let pr of priority" [value]="pr">
                                {{pr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Coordinates (Latitude)</mat-label>
                        <input matInput placeholder="" value="21.269661">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Coordinates (Longitude)</mat-label>
                        <input matInput placeholder="" value="78.852402">
                    </mat-form-field>
                </div>

                <!-- <div class="sub-content-flex-item p-1rem col-8">
                <mat-form-field class="p-2 col-6">
                    <mat-label>Site Address</mat-label>
                    <input matInput placeholder=""
                        value="Lorem Ipsum is simply dummy text of the printing and typesetting industry.">
                </mat-form-field>
            </div> -->
            </div>


            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Date of Survey*</mat-label>
                        <mat-select disableOptionCentering [(value)]="dateOfSurvey[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option value="option1" class="sector-title" *ngFor="let dos of dateOfSurvey"
                                [value]="dos">
                                {{dos}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-8">
                    <mat-form-field>
                        <mat-label>Site Address</mat-label>
                        <input matInput placeholder=""
                            value="Lorem Ipsum is simply dummy text of the printing and typesetting industry.">
                    </mat-form-field>
                </div>
            </div>


            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Any Obstruction</mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label> Azimuth and height Details</mat-label>
                        <input matInput placeholder="" value="Lorem Ipsum is simply dummy text">
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Any Obstruction</mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label> Azimuth and height Details</mat-label>
                        <input matInput placeholder="" value="Lorem Ipsum is simply dummy text">
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Any Structure/Rooftop/Ground/Flyover within 20m distance
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Restricted area like Hospital, Airport, School(with in 100m)
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="sub-header-title">Operator Details</div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label> No. of Operators</mat-label>
                        <input matInput placeholder="" value="2">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label> Any other operator on same building</mat-label>
                        <input matInput placeholder="" value="Yes">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>AMSL (Metres)</mat-label>
                        <input matInput placeholder="" value="Lorem Ipsum is simply dummy text">
                    </mat-form-field>
                </div>
            </div>


            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Tower/Pole Height (In Meters)
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="poleHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let ph of poleHeight" [value]="ph">
                                {{ph}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Candidate Suitable for Coverage, Height, Obstacles, Location & Other POV</mat-label>
                        <input matInput placeholder="" value="Yes">
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            No. Of Floors
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>GPS Picture</mat-label>
                        <input matInput placeholder="" value="Yes">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Site Location Picture</mat-label>
                        <input matInput placeholder="" value="Yes">
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="sub-header-title">Sector Details</div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">

                <div class="sub-content-flex-item p-1rem col-4">
                    <div class="sub-header">Alpha</div>
                    <mat-form-field>
                        <mat-label> Proposed Azimuth</mat-label>
                        <input matInput placeholder="" value="2">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <div class="sub-header">Beta</div>
                    <mat-form-field>
                        <mat-label> Proposed Azimuth</mat-label>
                        <input matInput placeholder="" value="2">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <div class="sub-header">Gamma</div>
                    <mat-form-field>
                        <mat-label> Proposed Azimuth</mat-label>
                        <input matInput placeholder="" value="2">
                    </mat-form-field>
                </div>
            </div>


            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Proposed Height (Meter)
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="poleHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let ph of poleHeight" [value]="ph">
                                {{ph}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Proposed Height (Meter)
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="poleHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let ph of poleHeight" [value]="ph">
                                {{ph}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Proposed Height (Meter)
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="poleHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let ph of poleHeight" [value]="ph">
                                {{ph}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Antenna Type
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="mountRequired[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of mountRequired" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Antenna Type
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="mountRequired[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of mountRequired" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Antenna Type
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="mountRequired[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of mountRequired" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Antenna Tilt
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="proposedHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of proposedHeight" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Antenna Tilt
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="proposedHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of proposedHeight" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Antenna Tilt
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="proposedHeight[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of proposedHeight" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="sub-header-title">Other Details</div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Panoramic Photos (Degree)</mat-label>
                        <input matInput placeholder="" value="360">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label> RF Agreed AGL (In Meters)</mat-label>
                        <input matInput placeholder="" value="30">
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field>
                        <mat-label>Proposed Azimuth</mat-label>
                        <input matInput placeholder="" value="2">
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            OD/ID Space Status
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-8">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Nearby 5 Sites ID
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="nearByFiveSites[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of nearByFiveSites" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Battery Bank Space Available
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            Mount Required
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="mountRequired[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of mountRequired" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            No. of Mounts req (If applicable)
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-1rem col-4">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                            MW Antenna Height Given by Infra Check
                        </mat-label>
                        <mat-select disableOptionCentering [(value)]="option[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option class="sector-title" *ngFor="let opt of option" [value]="opt">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-card>

        <div class="rfi-container" *ngIf="assignTaskStatus">
            <mat-card class="cards">
                <div class="card-header w-100" style="margin: 0;">
                    Site Details
                </div>
                <mat-card-content class="wo-container">
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[0].label" [value]="sapIdMapping[0].value" [type]="sapIdMapping[0].type" [id]="1">  </app-input-comment-widget>
                        </div>
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[1].label" [value]="sapIdMapping[1].value" [type]="sapIdMapping[1].type" [id]="2">  </app-input-comment-widget>
                        </div>
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[2].label" [value]="sapIdMapping[2].value" [type]="sapIdMapping[2].type" [id]="3">  </app-input-comment-widget>
                        </div>
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[3].label" [value]="sapIdMapping[3].value" [type]="sapIdMapping[3].type" [id]="4">  </app-input-comment-widget>
                        </div>
                    </div>
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[4].label" [value]="sapIdMapping[4].value" [type]="sapIdMapping[4].type" [id]="5">  </app-input-comment-widget>
                        </div>
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[5].label" [value]="sapIdMapping[5].value" [type]="sapIdMapping[5].type" [id]="6">  </app-input-comment-widget>
                        </div>
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[6].label" [value]="sapIdMapping[6].value" [type]="sapIdMapping[6].type" [id]="7">  </app-input-comment-widget>
                        </div>
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" >
                            <app-input-comment-widget [label]="sapIdMapping[7].label" [value]="sapIdMapping[7].value" [type]="sapIdMapping[7].type" [id]="8">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <!-- <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                    
                    </div> -->

                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <app-input-comment-widget [label]="sapIdMapping[8].label" [value]="sapIdMapping[8].value" [type]="sapIdMapping[8].type" [id]="9">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <app-input-comment-widget [label]="sapIdMapping[9].label" [value]="sapIdMapping[9].value" [type]="sapIdMapping[9].type" [id]="10">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <app-input-comment-widget [label]="sapIdMapping[10].label" [value]="sapIdMapping[10].value" [type]="sapIdMapping[10].type" [id]="11">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <app-input-comment-widget [label]="sapIdMapping[11].label" [value]="sapIdMapping[11].value" [type]="sapIdMapping[11].type" [id]="12">  </app-input-comment-widget>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="cards">
                <div class="card-header w-100">
                    Operator Details
                </div>
                <mat-card-content class="wo-container">
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[12].label" [value]="sapIdMapping[12].value" [type]="sapIdMapping[12].type" [id]="13">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[13].label" [value]="sapIdMapping[13].value" [type]="sapIdMapping[13].type" [id]="14">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[14].label" [value]="sapIdMapping[14].value" [type]="sapIdMapping[14].type" [id]="15">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[15].label" [value]="sapIdMapping[15].value" [type]="sapIdMapping[15].type" [id]="16">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <app-input-comment-widget [label]="sapIdMapping[16].label" [value]="sapIdMapping[16].value" [type]="sapIdMapping[16].type" [id]="17">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <app-input-comment-widget [label]="sapIdMapping[17].label" [value]="sapIdMapping[17].value" [type]="sapIdMapping[17].type" [id]="18">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <!-- <div class="wo-form-field-read">
                                <div class="wo-form-input-title">GPS Picture</div>
                                <img src="assets/images/layer-settings/Small.png" alt="profile picture">
                            </div> -->
                            <app-input-comment-widget [label]="sapIdMapping[18].label" [value]="sapIdMapping[18].value" [type]="sapIdMapping[18].type" [id]="19">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="50">
                            <!-- <div class="wo-form-field-read">
                                <div class="wo-form-input-title">GPS Picture</div>
                                <img src="assets/images/layer-settings/Small.png" alt="profile picture">
                            </div> -->
                            <app-input-comment-widget [label]="sapIdMapping[19].label" [value]="sapIdMapping[19].value" [type]="sapIdMapping[19].type" [id]="20">  </app-input-comment-widget>
                        </div>
                    </div>
                 </mat-card-content>
            </mat-card>

            <mat-card class="cards">
                <div class="card-header w-100">
                    Sector Details
                </div>
                <mat-card-content class="wo-container">
                    <label class="sector-header">Alpha</label>
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[20].label" [value]="sapIdMapping[20].value" [type]="sapIdMapping[20].type" [id]="21">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[21].label" [value]="sapIdMapping[21].value" [type]="sapIdMapping[21].type" [id]="22">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[22].label" [value]="sapIdMapping[22].value" [type]="sapIdMapping[22].type" [id]="23">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[23].label" [value]="sapIdMapping[23].value" [type]="sapIdMapping[23].type" [id]="24">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <mat-divider class="sector-divider"></mat-divider>
    
                    <label class="sector-header">Beta</label>
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[24].label" [value]="sapIdMapping[24].value" [type]="sapIdMapping[24].type" [id]="25">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[25].label" [value]="sapIdMapping[25].value" [type]="sapIdMapping[25].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[26].label" [value]="sapIdMapping[26].value" [type]="sapIdMapping[26].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[27].label" [value]="sapIdMapping[27].value" [type]="sapIdMapping[27].type" [id]="">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <mat-divider class="sector-divider"></mat-divider>
    
                    <label class="sector-header">Gamma</label>
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[28].label" [value]="sapIdMapping[28].value" [type]="sapIdMapping[28].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[29].label" [value]="sapIdMapping[29].value" [type]="sapIdMapping[29].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[30].label" [value]="sapIdMapping[30].value" [type]="sapIdMapping[30].type" [id]="">  </app-input-comment-widget>

                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[31].label" [value]="sapIdMapping[31].value" [type]="sapIdMapping[31].type" [id]="">  </app-input-comment-widget>
                        </div>
                    </div>
    
                </mat-card-content>
            </mat-card>
    
            <mat-card class="cards">
                <div class="card-header w-100">
                    Other Details
                </div>
                <mat-card-content class="wo-container">
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[32].label" [value]="sapIdMapping[32].value" [type]="sapIdMapping[32].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[33].label" [value]="sapIdMapping[33].value" [type]="sapIdMapping[33].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[34].label" [value]="sapIdMapping[34].value" [type]="sapIdMapping[34].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[35].label" [value]="sapIdMapping[35].value" [type]="sapIdMapping[35].type" [id]="">  </app-input-comment-widget>
                        </div>
                    </div>
    
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[36].label" [value]="sapIdMapping[36].value" [type]="sapIdMapping[36].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[37].label" [value]="sapIdMapping[37].value" [type]="sapIdMapping[37].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[38].label" [value]="sapIdMapping[38].value" [type]="sapIdMapping[38].type" [id]="">  </app-input-comment-widget>
                        </div>
    
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25">
                            <app-input-comment-widget [label]="sapIdMapping[39].label" [value]="sapIdMapping[39].value" [type]="sapIdMapping[39].type" [id]="">  </app-input-comment-widget>
                        </div>
                    </div>
                    <div class="title">Nearby 5 Sites ID</div>
                    <div class="d-flex mx-2 flex-row flex-wrap wo-flex-container h-100">
                        <div class="p-2 wo-flex-item mediaContainer" fxFlex="25" *ngFor="let siteId of siteIds">
                            <div class="wo-form-field-read">
                                <div class="wo-form-input-value">{{siteId}}</div>
                            </div>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

        </div>
    </div>

    <div class="d-flex task-footer" *ngIf="!assignTaskStatus">
        <div class="col"></div>
        <div class="p-2">
            <button style="width: 119px;" mat-stroked-button color="primary" class="buttonWidth">Save As Draft</button>
        </div>
        <div class="p-2">
            <button mat-raised-button color="primary" class="buttonWidth button"
                (click)="openSuccessPopup()">Submit</button>
        </div>
    </div>

    <div class="d-flex task-footer" *ngIf="assignTaskStatus">
        <div class="col"></div>
        <div class="p-2">
            <button style="width: 119px;" mat-stroked-button color="primary" class="buttonWidth" (click)="reject()">Reject</button>
        </div>
        <div class="p-2">
            <button mat-raised-button color="primary" class="buttonWidth button"
                (click)="openSuccessPopup()">Approve</button>
        </div>
    </div>