.alarms-toolbar {
    background: #1976D2;
    
    color: #ffffff;
    padding:1rem;
    font-family: "Roboto", sans-serif;
   
}

.popup-title {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}