<ng-template #networkTalLayerSettings>
  <form [formGroup]="macroDialogForm" class="layers-settings-popup-content px-3">
    <label class="section-header">Layers</label>
    <div class="color-grey" fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox fxFlex="50" formControlName="outdoor" [disableRipple]="true" id="outdoor">
        Outdoor
      </mat-checkbox>
      <mat-checkbox fxFlex="50" formControlName="indoor" [disableRipple]="true" id="indoor">
        Indoor
      </mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
        <label class="color-grey"  fxFlex="45">Color Coding</label>
        <div class="parent-color-coding" fxLayout="row" fxLayoutAlign="space-between center">
          <div [style.background]="color" class="color-coding"></div>
          <mat-icon class="zmdi zmdi-caret-down" [(colorPicker)]="color" style="text-align: center;"
            [cpPosition]="'bottom'"></mat-icon>
        </div>
      </div>
      <mat-checkbox class="color-grey"  fxFlex="50" formControlName="infillShades" [disableRipple]="true" id="infill-shades">
        Infill Shades
      </mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="15">Opacity</div>
      <mat-slider fxFlex="75" color="primary" class="opacity-slider" [disabled]="disabled" [invert]="invert" [max]="max"
        [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="opacity" (input)="someValue = $event.value"
        [value]="someValue" [vertical]="vertical">
      </mat-slider>
      <div fxFlex="10" class="color-grey ml-1" >{{ someValue }}%</div>
    </div>
    <div fxLayout="column">
      <mat-form-field class="py-2">
        <mat-select [(value)]="thematicListValue" placeholder="Thematic" disableOptionCentering
          (openedChange)="openedChange($event)" formControlName="thematic">
          <input matInput [(ngModel)]="searchThematicListValue" autocomplete="off" [ngModelOptions]="{standalone: true}"
            class="search-input" placeholder="Search...">
          <mat-option *ngFor="let item of thematicList | filter:searchThematicListValue" [value]="item.thematic_name">
            {{item.thematic_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="py-2">
        <mat-select [(value)]="hoverListValue" placeholder="Hover" disableOptionCentering
          (openedChange)="openedChange($event)" formControlName="hover">
          <input matInput class="search-input" [(ngModel)]="searchHoverListValue" autocomplete="off" [ngModelOptions]="{standalone: true}"
            placeholder="Search...">
          <mat-option *ngFor="let item of hoverList | filter:searchHoverListValue" [value]="item.hover_name">
            {{item.hover_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="">
    <div class="mx-3">
      <button mat-stroked-button class="buttonWidth w-100" (click)="closeDialog()">Reset To Defaults</button>
    </div>
    <div class="col"></div>
    <div class="mx-3">
      <button mat-stroked-button color="primary" class="buttonWidth" (click)="closeDialog()">Cancel</button>
    </div>
    <div class="mr-3">
      <button mat-raised-button color="primary" class="buttonWidth" (click)="closeDialog()">Apply</button>
    </div>
  </div>
</ng-template>