<div class="jcp-landing-page-container" style="height:100%;color: black;">
    <mat-grid-list cols="12" class="jcp-landing-grid-list" rowHeight="fit">
        <mat-grid-tile class="jcp-landing-grid-tile-one" colspan="8" rowspan="2">

            <mat-card class="jcp-landing-card p-0" fxFlexFill>
                <!-- <mat-grid-tile-header> -->
                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Daily Traffic</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">
                        <div class="jcp-landing-right-inputs col-4 pr-0">
                            <mat-form-field>
                                <!-- <mat-label>HSI</mat-label> -->
                                <mat-select disableOptionCentering placeholder="HSI">
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-3 pr-0">
                            <mat-form-field>
                                <!-- <mat-label>LTE</mat-label> -->
                                <mat-select disableOptionCentering placeholder="LTE">
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-5 pr-0">
                            <mat-form-field disableOptionCentering>
                                <!-- <mat-label>PAN India</mat-label> -->
                                <mat-select disableOptionCentering placeholder="PAN India">
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <!-- </mat-grid-tile-header> -->
                <mat-divider></mat-divider>

                <mat-card-content style="height:calc( 100% - 43px);">
                    <!-- <div style="height:inherit;width:100%;position:absolute;"> -->
                    <!-- <div fxLayout="row" fxLayoutAlign="center center"> -->
                    <div fxLayout="row warp" fxLayoutAlign="start center" style="height: 25px;padding: 1.5rem;">
                        <div style="color:#FC5F5F;font-family: Lato Bold;font-size: 19px;">
                            120.4 PB
                        </div>
                        <div
                            style="color:#707070;font-family: Lato Regular;font-size: 12px;margin-top: 10px;margin-left: 5px;">
                            Current Traffic </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div [chart]="chart1" style="display: block;"></div>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </mat-card-content>

            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile class="jcp-landing-grid-tile-two" colspan="4" rowspan="3">
            <mat-card class="jcp-landing-card p-0" fxFlexFill>

                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Sites</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">

                        <div class="jcp-landing-right-inputs col pr-0">
                            <mat-form-field>
                                <mat-label>PAN India</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <mat-card-content class="sites-details-card-content">
                    <div class="sites-details-container" *ngFor="let item of sitesListArr">
                        <div class="sites-details-row px-1" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="col-2">
                                <div class="sites-details-icon">
                                    <div class="{{item.iconsite}}"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="sites-details-title" fxLayoutAlign="start center">{{item.namesite}}</div>
                            </div>
                            <div class="col">
                                <div class="sites-details-count" fxLayoutAlign="end center">{{item.countsite}}</div>
                            </div>
                        </div>
                        <!-- <mat-divider></mat-divider> -->
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="jcp-landing-grid-tile-three" colspan="8" rowspan="2">
            <mat-card class="jcp-landing-card p-0" fxFlexFill>

                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Total Subscribers</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">
                        <div class="jcp-landing-right-inputs col-4 pr-0">
                            <mat-form-field>
                                <mat-label>HSI</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-3 pr-0">
                            <mat-form-field>
                                <mat-label>LTE</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-5 pr-0">
                            <mat-form-field>
                                <mat-label>PAN India</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <mat-card-content style="height:calc( 100% - 43px);">
                    <div>
                        <!-- <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                                style="width: 100%; height: 400px; display: block;">
                            </highcharts-chart> -->
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="jcp-landing-grid-tile-four" colspan="4" rowspan="1">
            <mat-card class="jcp-landing-card p-0" fxFlexFill>

                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Usage Metrics</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">

                        <div class="jcp-landing-right-inputs col pr-0">
                            <mat-form-field>
                                <mat-label>PAN India</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <mat-card-content class="usage-metrics-card-content">
                    <div class="usage-metrics-container">
                        <div class="usage-metrics-row" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="usage-metrics-col col pl-0">
                                <div class="usage-metrics-inner-row" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-icon p-0 col-2">
                                        <div class="ic ic-Active-Users"></div>
                                    </div>
                                    <div class="usage-metrics-count  col">
                                        <div>1000</div>
                                    </div>

                                </div>
                                <div class="usage-metrics-inner-row " fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-title">JCP Users Active</div>
                                </div>
                            </div>
                            <mat-divider vertical style="height:69px"></mat-divider>
                            <div class="usage-metrics-col col pr-0" style="padding-left: 2rem">
                                <div class="usage-metrics-inner-row" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-icon  p-0 col-2">
                                        <div class="ic ic-Report-Downloads"></div>
                                    </div>
                                    <div class="usage-metrics-count  col">
                                        <div>1200</div>
                                    </div>

                                </div>
                                <div class="usage-metrics-inner-row" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-title">Reports Downloaded</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>