<div class="jcp-landing-page-container" style="height:100%;color: black;">
    <mat-grid-list cols="12" class="jcp-landing-grid-list" rowHeight="fit">
        <mat-grid-tile class="jcp-landing-grid-tile-one" colspan="8" rowspan="2">

            <mat-card class="jcp-landing-card p-0 w-100">
                <!-- <mat-grid-tile-header> -->
                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Daily Traffic</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">
                        <div class="jcp-landing-right-inputs col-4 pr-0">
                            <mat-form-field>
                                <mat-select disableOptionCentering [(value)]="hsiItemSelecteddaily">
                                    <mat-option value="option1" *ngFor="let item of hsiListdaily" [value]="item">
                                        {{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-3 pr-0">
                            <mat-form-field>
                                <mat-select disableOptionCentering [(value)]="lteItemSelecteddaily">
                                    <mat-option value="option1" *ngFor="let item of lteListdaily" [value]="item">
                                        {{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-5 pr-0">
                            <mat-form-field disableOptionCentering>
                                <mat-select disableOptionCentering [(value)]="panIndiaItemSelecteddaily">
                                    <mat-option value="option1" *ngFor="let item of panIndiaListdaily" [value]="item">
                                        {{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <!-- </mat-grid-tile-header> -->
                <mat-divider></mat-divider>

                <mat-card-content style="height:calc( 100% - 43px);">

                    <div class="px-4 my-1" fxLayout="row warp" fxLayoutAlign="start center" style="height: 25px;">
                        <div style="color:#FC5F5F;font-family: Lato Bold;font-size: 19px;">
                            120.4 PB
                        </div>
                        <div
                            style="color:#707070;font-family: Lato Regular;font-size: 12px;margin-top: 10px;margin-left: 5px;">
                            Current Traffic </div>
                    </div>
                    <!-- <div fxLayout="row" (window:resize)="onResize($event)" fxLayoutAlign="center start" style="height: -webkit-fill-available;"> -->
                    <div fxLayout="row" fxLayoutAlign="center start" style="height: -webkit-fill-available;">
                        <div [chart]="dailyTraffic" style="display: block;"></div>
                    </div>

                </mat-card-content>

            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile class="jcp-landing-grid-tile-two" colspan="4" rowspan="3">
            <mat-card class="jcp-landing-card p-0 w-100">

                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Sites</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">

                        <div class="jcp-landing-right-inputs col pr-0">
                            <mat-form-field disableOptionCentering>
                                <mat-select disableOptionCentering [(value)]="panIndiaItemSelectedsites">
                                    <mat-option value="option1" *ngFor="let item of panIndiaListsites" [value]="item">
                                        {{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <mat-card-content class="sites-details-card-content">
                    <div class="sites-details-container" *ngFor="let item of sitesListArr">
                        <div class="sites-details-row px-1" fxLayout="row" fxLayoutAlign="space-around center">
                            <div class="col-2">
                                <div class="sites-details-icon">
                                    <div class="{{item.iconsite}}"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="sites-details-title" fxLayoutAlign="start center">{{item.namesite}}</div>
                            </div>
                            <div class="col">
                                <div class="sites-details-count" fxLayoutAlign="end center">{{item.countsite}}</div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="jcp-landing-grid-tile-three" colspan="8" rowspan="2">
            <mat-card class="jcp-landing-card p-0  w-100">

                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Total Subscribers</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">
                        <div class="jcp-landing-right-inputs col-4 pr-0">
                            <mat-form-field>
                                <mat-select disableOptionCentering [(value)]="hsiItemSelected">
                                    <mat-option value="option1" *ngFor="let item of hsiList" [value]="item">{{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-3 pr-0">
                            <mat-form-field>
                                <mat-select disableOptionCentering [(value)]="lteItemSelected">
                                    <mat-option value="option1" *ngFor="let item of lteList" [value]="item">{{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="jcp-landing-right-inputs col-5 pr-0">
                            <mat-form-field disableOptionCentering>
                                <mat-select disableOptionCentering [(value)]="panIndiaItemSelected">
                                    <mat-option value="option1" *ngFor="let item of panIndiaList" [value]="item">
                                        {{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <mat-card-content class="jcp-landing-card-content">
                    <div class="jcp-landing-card-container">
                        <div class="jcp-landing-card-subheader px-4 my-1" fxLayout="row warp" fxLayoutAlign="start center">
                            <div class="jcp-landing-card-subheader-title">
                                310.5 M
                            </div>
                            <div class="jcp-landing-card-subheader-subtitle">
                                Current Subscribers Base 
                            </div>
                        </div>
                        <div class="jcp-landing-card-chart-container" fxLayout="row" fxLayoutAlign="center start">
                            <div id="myChart" [chart]="chartTotalSubscriber"></div>
                            <!-- <highcharts-chart id="mychart" [Highcharts]="chartsTotalSubscriber" [options]="chartOptionsTotalSubscriber"
                                style=" display: block;">
                            </highcharts-chart> -->
                            <!-- <div class="chart"  [chart]="chart"></div> -->
                        </div>

                    </div>

                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="jcp-landing-grid-tile-four" colspan="4" rowspan="1">
            <mat-card class="jcp-landing-card p-0 w-100">

                <div class="jcp-landing-card-header px-4" fxLayoutAlign="space-between center" fxLayout="row wrap">

                    <div class="jcp-landing-title" fxFlex>Usage Metrics</div>

                    <div class="jcp-landing-right-container" fxFlex="40" fxLayout="row wrap">

                        <div class="jcp-landing-right-inputs col pr-0">
                            <mat-form-field disableOptionCentering>
                                <mat-select disableOptionCentering [(value)]="panIndiaItemSelectedusage">
                                    <mat-option value="option1" *ngFor="let item of panIndiaListusage" [value]="item">
                                        {{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-divider style="height: 45px !important;"></mat-divider>

                <mat-card-content class="usage-metrics-card-content">
                    <div class="usage-metrics-container">
                        <div class="usage-metrics-row" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="usage-metrics-col col pl-0">
                                <div class="usage-metrics-inner-row" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-icon p-0 col-2">
                                        <div class="ic ic-Active-Users"></div>
                                    </div>
                                    <div class="usage-metrics-count  col">
                                        <div>1000</div>
                                    </div>

                                </div>
                                <div class="usage-metrics-inner-row " fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-title">JCP Users Active</div>
                                </div>
                            </div>
                            <mat-divider vertical style="height:69px"></mat-divider>
                            <div class="usage-metrics-col col pr-0" style="padding-left: 2rem">
                                <div class="usage-metrics-inner-row" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-icon  p-0 col-2">
                                        <div class="ic ic-Report-Downloads"></div>
                                    </div>
                                    <div class="usage-metrics-count  col">
                                        <div>1200</div>
                                    </div>

                                </div>
                                <div class="usage-metrics-inner-row" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="usage-metrics-title">Reports Downloaded</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>