.jcp-landing-page-container {
    .jcp-landing-grid-list {
        height: 100%;
        .jcp-landing-grid-tile-one{
            
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
    
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        .jcp-landing-right-inputs {}
                    }
                }
            }
        }
        .jcp-landing-grid-tile-two{
            
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
    
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        .jcp-landing-right-inputs {}
                    }
                }
            }
        }
        .jcp-landing-grid-tile-three{
            
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
    
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        .jcp-landing-right-inputs {}
                    }
                }
            }
        }
        .jcp-landing-grid-tile-four{
            
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
    
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        .jcp-landing-right-inputs {}
                    }
                }
            }
        }
       
    }
}