@import "@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material.scss";
.alarms-toolbar {
    background: #1976D2;
    color: #ffffff;
    font-family: "Lato Medium", sans-serif;
}

.popup-title {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 24px;
    flex: 90%;
}

.close-popup {
    flex: 1;
    border: none;
    border-radius: 50px;
    background: #1976D2;
    color: #ffffff
}

.mat-dialog-container {
    overflow: hidden;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
    color: #0078D7 !important;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-indeterminate::after {
    color: #6F6F70 !important;
}

.ag-theme-material .ag-pinned-left-header {
    border-right: none;
}

.ag-theme-material .ag-pinned-right-header {
    border-left: none;
}

.ag-theme-material .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
    border-right: none !important;
}

.ag-theme-material .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
    border-left: none !important;
}

.ag-theme-material .ag-header {
    background-color: #D3D5DC;
}

.ag-body-viewport {
    overflow: scroll !important;
}

.redFont {
    color: #bb1b2f;
}

.greenFont {
    color: green;
}