.template-gallery-icon {
    float: right;
    display: inline-flex;
    margin-top: 20px;

    .sizeOfIcon {
      font-size: 15px;
      padding: 5px 11px;
      line-height: 2;
      width: 36px;
      height: 36px;
      border-radius: 20px;
      margin: 0 7px;
      color: #B3D4F4;
      cursor: pointer;

    }
    .sizeOfIcon-zmdi {
      font-size: 20px;
      padding: 0px 10px;
      line-height: 1.9;
      width: 36px;
      height: 36px;
      border-radius: 20px;
      margin: 0 7px;
      color: #B3D4F4;
      cursor: pointer;

    }

    :hover {
      background: rgba(0, 112, 219, 0.5411764705882353);
      color: #ffffff;
    }
  }