<div class="antenna-parameter-wrapper" *ngIf="showTab">
    <div class="jcp-table-container" style="height: 60vh">
        <!-- <app-table-ag-grid></app-table-ag-grid> -->
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material ag-jcp3" rowHeight="48"
            headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" enableColResize
            enableSorting enableFilter groupHeaders suppressRowClickSelection toolPanelSuppressGroups
            toolPanelSuppressValues rowSelection="multiple" [defaultColDef]="defaultColDef"
            (modelUpdated)="onReadyModeUpdate($event)" (gridReady)="onReady($event)">
        </ag-grid-angular>
    </div>
</div>