<div class="task-details-wrapper">
    <mat-card class="cia-module-card h-100" style="padding: 0px;">
        <mat-toolbar color="mat-blue-grey" class="create-repor(t-toolbar wo-details">
            <mat-toolbar-row class="mat-blue-grey">
                <div class="col pl-0 wo-header">
                    <div class="header" fxFlex="90">Web Performance Test</div>
                </div>
                <div class="col-4 sector-flex-item" fxFlex>
                    <mat-icon class="icon-button" style="color: #7E7E7E;" aria-label="search" (click)="show = !show;"
                        *ngIf="!show" style="margin-top: 6px;">
                        <span class="zmdi zmdi-search" style="line-height: 1.7;"></span>
                    </mat-icon>

                    <mat-form-field *ngIf="show">
                        <input matInput [(ngModel)]="searchGrid" (keyup)="onFilterChanged($event);" autocomplete="off"
                            placeholder="">
                        <mat-icon class="search-filter-icon" (click)="toggleSearch();" aria-label="search">
                            <span class="zmdi zmdi-close"></span>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary"
                    routerLink="/JCP/Work-Orders/Nv-Workorders/Web-Performance-Test/Create-New-Workorder">
                    Create WO
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-divider></mat-divider>

        <button class="workorder-filter" (click)="openWOFilter()">
            <span class="ic ic-Calendedr"></span>
        </button>

      

     
        
        <div class="td-tab-details p-0" style="height: calc(100% - 61px);">

            <div class="td-tabs h-100">

                <mat-tab-group class="td-tab-group h-100" (selectedTabChange)="tabChanged($event);">
                    <mat-tab label="WO Assignment">
                        <ng-container [ngTemplateOutlet]="myTask"></ng-container>
                    </mat-tab>


                    <mat-tab label="Pending Review">
                        <ng-container [ngTemplateOutlet]="teamTask"></ng-container>
                    </mat-tab>

                    <mat-tab label="History">
                        <ng-container [ngTemplateOutlet]="expTask"></ng-container>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>

        <mat-divider></mat-divider>
    </mat-card>

</div>

<ng-template #myTask>
    <div class="jcp-table-container" style="height: 100%;">
        <mat-card class="cia-module-card h-100" style="padding: 0px;">
            <div class="td-flex-container">
                <div class="d-flex mx-2 flex-row justify-content-between">
                    <div class="col-3 td-flex-item" fxFlex *ngFor="let task of taskDetails">
                        <div class="task-widget" fxFlex (click)="showTaskData($event)">
                            <div *ngIf="task.riskCount != ''" class="task-icon" fxFlex="30">
                                <mat-icon style="font-size: 48px;" aria-label="search">
                                    <span [class]="task.taskStatusImg"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span></span>
                                </mat-icon>

                                <div class="task-status">
                                    {{task.taskAssigned}}
                                </div>
                            </div>

                            <div *ngIf="task.riskCount != ''" class="task-info" fxFlex="70">
                                <div fxFlex="50" class="task-status">
                                    <div>{{task.riskCount}}</div>
                                    <div>{{task.riskStatus}}</div>
                                </div>
                                <div fxFlex="50" class="task-risk-status">
                                    <div>{{task.riskCount}}</div>
                                    <div>{{task.riskStatus}}</div>
                                </div>
                            </div>

                            <div *ngIf="task.riskCount=== ''" class="task-icon" fxFlex="50">
                                <mat-icon style="font-size: 48px;" aria-label="search">
                                    <span [class]="task.taskStatusImg"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span></span>
                                </mat-icon>

                                <div class="task-status">
                                    {{task.taskAssigned}}
                                </div>
                            </div>

                            <div *ngIf="task.riskCount=== ''" class="task-information" fxFlex="50">
                                <div>{{task.taskCount}}</div>
                                <div>{{task.taskAssigned}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 100%">
                <ag-grid-angular style="width: 100%; height: 42vh;"
                    class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" enableSorting
                    enableFilter [suppressCellSelection]="true" toolPanelSuppressGroups
                    toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
                    [suppressHorizontalScroll]="false" [debug]="true" [enableRangeSelection]="true" [pagination]="true"
                    [paginationAutoPageSize]="true"  [frameworkComponents]="frameworkComponentsTaskDetails">
                </ag-grid-angular>
            </div>
        </mat-card>
    </div>
</ng-template>

<ng-template #teamTask>
    <div class="jcp-table-container" style="height: 100%;">
        <mat-card class="cia-module-card h-100" style="padding: 0px;">
            <div class="td-flex-container">
                <div class="d-flex mx-2 flex-row justify-content-between">
                    <div class="col-3 td-flex-item" fxFlex *ngFor="let task of taskDetails">
                        <div class="task-widget" fxFlex (click)="showTaskData($event)">
                            <div *ngIf="task.riskCount != ''" class="task-icon" fxFlex="30">
                                <mat-icon style="font-size: 48px;" aria-label="search">
                                    <span [class]="task.taskStatusImg"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span></span>
                                </mat-icon>

                                <div class="task-status">
                                    {{task.taskAssigned}}
                                </div>
                            </div>

                            <div *ngIf="task.riskCount != ''" class="task-info" fxFlex="70">
                                <div fxFlex="50" class="task-status">
                                    <div>{{task.riskCount}}</div>
                                    <div>{{task.riskStatus}}</div>
                                </div>
                                <div fxFlex="50" class="task-risk-status">
                                    <div>{{task.riskCount}}</div>
                                    <div>{{task.riskStatus}}</div>
                                </div>
                            </div>

                            <div *ngIf="task.riskCount=== ''" class="task-icon" fxFlex="50">
                                <mat-icon style="font-size: 48px;" aria-label="search">
                                    <span [class]="task.taskStatusImg"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span></span>
                                </mat-icon>

                                <div class="task-status">
                                    {{task.taskAssigned}}
                                </div>
                            </div>

                            <div *ngIf="task.riskCount=== ''" class="task-information" fxFlex="50">
                                <div>{{task.taskCount}}</div>
                                <div>{{task.taskAssigned}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 100%">
                <ag-grid-angular style="width: 100%; height: 42vh;"
                    class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptions" [columnDefs]="columnDefsPending" [rowData]="rowData" enableSorting
                    enableFilter [suppressCellSelection]="true" toolPanelSuppressGroups
                    toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
                    [suppressHorizontalScroll]="false" [debug]="true" [enableRangeSelection]="true" [pagination]="true"
                    [paginationAutoPageSize]="true"  [frameworkComponents]="frameworkComponentsTaskDetails">
                </ag-grid-angular>
            </div>
        </mat-card>
    </div>
</ng-template>

<ng-template #expTask>
    <div class="jcp-table-container" style="height: 100%;">
        <mat-card class="cia-module-card h-100" style="padding: 0px;">
            <div class="td-flex-container">
                <div class="d-flex mx-2 flex-row justify-content-between">
                    <div class="col-3 td-flex-item" fxFlex *ngFor="let task of taskDetails">
                        <div class="task-widget" fxFlex (click)="showTaskData($event)">
                            <div *ngIf="task.riskCount != ''" class="task-icon" fxFlex="30">
                                <mat-icon style="font-size: 48px;" aria-label="search">
                                    <span [class]="task.taskStatusImg"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span></span>
                                </mat-icon>

                                <div class="task-status">
                                    {{task.taskAssigned}}
                                </div>
                            </div>

                            <div *ngIf="task.riskCount != ''" class="task-info" fxFlex="70">
                                <div fxFlex="50" class="task-status">
                                    <div>{{task.riskCount}}</div>
                                    <div>{{task.riskStatus}}</div>
                                </div>
                                <div fxFlex="50" class="task-risk-status">
                                    <div>{{task.riskCount}}</div>
                                    <div>{{task.riskStatus}}</div>
                                </div>
                            </div>

                            <div *ngIf="task.riskCount=== ''" class="task-icon" fxFlex="50">
                                <mat-icon style="font-size: 48px;" aria-label="search">
                                    <span [class]="task.taskStatusImg"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span></span>
                                </mat-icon>

                                <div class="task-status">
                                    {{task.taskAssigned}}
                                </div>
                            </div>

                            <div *ngIf="task.riskCount=== ''" class="task-information" fxFlex="50">
                                <div>{{task.taskCount}}</div>
                                <div>{{task.taskAssigned}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 100%">
                <ag-grid-angular style="width: 100%; height: 42vh;"
                    class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptions" [columnDefs]="columnDefsHistory" [rowData]="rowData" enableSorting
                    enableFilter [suppressCellSelection]="true" toolPanelSuppressGroups
                    toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
                    [suppressHorizontalScroll]="false" [debug]="true" [enableRangeSelection]="true" [pagination]="true"
                    [paginationAutoPageSize]="true"  [frameworkComponents]="frameworkComponentsTaskDetails">
                </ag-grid-angular>
            </div>
        </mat-card>
    </div>
</ng-template>