<div class="p-0" style="height: calc(100% - 10px);">
    <mat-card class="twamp-live-dashboard-top-card p-0 mb-3 mx-0" style="height: 150px;">
        <form [formGroup]="twampForm">
            <div fxLayout="row wrap" class="p-3">

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="geographyListValue" placeholder="Select Compute Model" disableOptionCentering
                        formControlName="geographyList">
                        <input matInput [(ngModel)]="searchGeographyListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of geographyList | filter:searchGeographyListValue"
                            [value]="item.geography_name">
                            {{item.geography_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="geographyListValue" placeholder="Select Report" disableOptionCentering
                        formControlName="geographyList">
                        <input matInput [(ngModel)]="searchGeographyListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of geographyList | filter:searchGeographyListValue"
                            [value]="item.geography_name">
                            {{item.geography_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="geographyListValue" placeholder="Select Report" disableOptionCentering
                        formControlName="geographyList">
                        <input matInput [(ngModel)]="searchGeographyListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of geographyList | filter:searchGeographyListValue"
                            [value]="item.geography_name">
                            {{item.geography_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="dscpListValue" placeholder="DSCP" disableOptionCentering
                        formControlName="dscpList">
                        <input matInput [(ngModel)]="searchDscpListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search...."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of dscpList | filter:searchDscpListValue" [value]="item.dscp_name">
                            {{item.dscp_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="d-flex">
                <div class="col"></div>
                <div class="px-5 py-1 my-flex-item">
                    <button mat-raised-button color="primary" type="submit" class="buttonWidth">Submit</button>
                </div>
            </div>
        </form>
    </mat-card>

    <mat-card class="twamp-ag-grid p-0 w-100" style=" overflow: auto;height: calc(100% - 163px);">
        <ng-container [ngTemplateOutlet]="recursiveListTmpl"></ng-container>
    </mat-card>
</div>

<ng-template #recursiveListTmpl>
    <div class="ml-3 py-3 ag-grid-twamp-title">Inter Circle Core to Core Matrix</div>
    <mat-divider style="position: relative;"></mat-divider>
    <ag-grid-angular style="width: 100%; height: calc(100% - 70px)" class="twamp-grid-live ag-theme-material ag-jcp3"
        [rowData]="rowData" [columnDefs]="columnDefs" (cellClicked)='onCellClicked($event)' [groupHeaderHeight]="28"
        [headerHeight]="28" [icons]="icons" [gridOptions]="twampGridOptions" [suppressHorizontalScroll]="true"
        (gridReady)="onReady($event)">
    </ag-grid-angular>
</ng-template>