<!-- <button appSpiderView>My Button</button> -->


<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Title</h4>
    </div>
    <div class="modal-body"> -->
<app-tree-node [issue]="hierarchy"></app-tree-node>
<!-- </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    </div>
</ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Open Tree</button> -->