<div style="height: 100%;overflow: auto;" id="layerDivId" fxFlexFill>
    <div id="map" class="mapClass">
        <div #spiderView></div>
    </div>
    <ng-container #headerView></ng-container>
    <!-- <div id ="topstrip"  class="topstrip position-absolute bg-white rounded  justify-content-between align-items-center"
        >
        <div class="layer-label pl-4 align-items-center text-dark font-weight-bold" *ngIf="stripDataEnabled">{{layerName}}</div>
        <div class="right-content tab-container-layers d-flex align-items-center pr-4"> 
            <span *ngIf="smartbenchlayerenabled">
                <i class="fa fa-sliders-h  smartwidget-icon" (click)="loadSmartbenchMenu($event.target)"></i>
            </span>
        </div> 
    </div> -->
</div>
<ng-template ad-host></ng-template>
<div #smartbenchComponent></div>
<div #splitmapComponent></div>