#map {
    height: 100%;
    width: 100%;
    padding: 0;
    .leaflet-control-container {
        background: red !important;
        .leaflet-bottom .leaflet-right {}
    }
}

#newline {
    right: 375px !important;
}

#screenshot,
#newline {
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 9999;
}

::ng-deep .spider-view-custom-dialog>mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}

.contextMenu-ss {
    width: 100px;
    height: 300px;
    background: red;
}

.pin-zoom-create-pins {
    background: white;
    mat-dialog-container {

    }

}
.topstrip{
    height: 48px;
    top: 56px;
    z-index: 999;
    left: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    transform: translateX(-50%);
    display: none;
    .smartwidget-icon{
        padding: 10px;
        border-radius: 50%;
        color:#666666;
        &.smartmenuToggle{
            background: #0070db;
            color: #fff;
        }
    }   
}
