#map {
    height: 100%;
    width: 100%;
    padding: 0;
    // img {
    //   position: relative;
    //   display: block;
    //   max-width: 100%;
    // }
    .leaflet-control-container {
        background: red !important;
        .leaflet-bottom .leaflet-right {}
    }
}


/* temporarily added. */

#newline {
    right: 375px !important;
}

#screenshot,
#newline {
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 9999;
}

::ng-deep .spider-view-custom-dialog>mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}

.contextMenu-ss {
    width: 100px;
    height: 300px;
    background: red;
}