
$md-primary: #0070DB;
.hidden {
    display: none
  }
.leftIconHighlight {
    background-color: rgb(255, 0, 0);
  }
  .cdk-overlay-pane{
    // min-width: 100px !important;
    // max-width: 100%;
    // max-height: 100% !important;
  }

.route-table {
    margin-right: 60px;
}
.mat-dialog-container {
    padding: 0px;
    height: auto;
    // max-width: 1200px !important;
    // max-height: 1200px !important;
    resize: both;
    // min-width: 200px !important;
    // min-height: 200px !important;
    // overflow: hidden;    
    background-color: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(2px);
    overflow: hidden;
    .dialog-header{
        height: 54px;
        max-height: 54px;
        background-color: transparent;
            .mat-toolbar-row{
            font-size: 18px;
            color: white;
            .dialog-close-button {
            .mat-button-focus-overlay {
                background-color: transparent!important;
            }
            }
            }
    }
    .ag-grid-jcp-container {
        .table-view-zoom-ag-grid {
            .ag-root-wrapper {
                background: inherit;
                .ag-root-wrapper-body {
                    .ag-root {
                        .ag-header {
                            // background: red;
                            // background: rgba(0, 120, 215, .2);
                            border-bottom-color: rgba(0, 0, 0, .2);
                            .ag-pinned-left-header {
                                border-right-color: transparent;
                                .ag-header-row-column {
                                    .ag-header-cell:hover {
                                        // background-color: rgba(0, 120, 215, .2);
                                    }
                                }
                            }
                        }
                        .ag-body-viewport {
                            .ag-center-cols-clipper {
                                .ag-center-cols-viewport {
                                    .ag-center-cols-container {
                                        .ag-row {
                                            background: inherit;
                                            border-color: rgba(0, 0, 0, .2);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // .mat-dialog-content{
    //     padding: 0px;
    //     margin: 0px;
    //     width: 100%;
    //     min-height: calc(100% - 108px);
    //     max-height: calc(100% - 108px);
    //     overflow: hidden !important;
    //     .label-text{
    //         font-size: 11px;
    //         color: #807d7d;
    //         margin-left: 25px;
    //         position: absolute;
    //     }
    //     .dummy-input{
    //         margin-left: 25px; 
    //         border-bottom: 1px solid #949494;
    //         padding: 2px 0px;
    //         font-size: 14px !important;
    //         font-family: roboto;
    //     }
    //     .mat-form-field{
    //         font-size: 14px;
    //     }
    //   .inline-button{
    //         font-size: 20px;
    //         color: #666666;
    //         &:hover{
    //               background: #e4f1fb;
    //         }
    //     } 
    //     .delete-icon{
    //         font-size: 16px;
    //     }
    // }  
}