<div #container class="jcp-candidates-acp-control-layers-container">
    <div class="toolbar-candidates-acp-control-layers px-3" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="toolbar-candidates-acp-control-title" fxFlex>
            <span>Candidates For ACP</span>
        </div>
        <div class="toolbar-candidates-acp-control-icon-list">
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="candidates-acp-container">
        <mat-card class="candidates-acp-card py-0">
            <div class="candidates-acp-row" fxLayout="row wrap" fxLayoutAlign="space-between center" style="    line-height: 3;">

                <div class="candidates-acp-type" fxLayout="row wrap">
                    <div>ACP Target</div>
                    <div class="pl-2">
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </div>
                </div>
                <div class="candidates-acp-type" fxLayout="row wrap">
                    <div style="line-height: 3.2;">
                        <i style="color: #0070DB;" class="ic ic-download"></i>
                    </div>
                    <div class=""><button mat-button color="primary">Download </button></div>
                </div>

            </div>
        </mat-card>
        <mat-card class="candidates-acp-card p-0">
            <div style="padding: 0 15px;border-bottom: 1px solid #e2e2e2;">
                <mat-form-field fxFlex="100" class="form-field-container">
                    <input matInput type="text">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="candidates-acp-card-table" style="border-radius: 4px;height: 263px;">
                <app-table-ag-grid (cellClicked)="cellClickedDetails($event)"></app-table-ag-grid>
            </div>

        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="candidates-acp-footer p-0" fxLayout="row">
        <div class="px-3 my-flex-item">
            <i style="color: #0070DB;" class="ic ic-upload4"></i>
            <button mat-button color="primary" class="buttonCustomeLegends">Upload</button>
        </div>
        <div fxFlex></div>
        <div class="px-3 my-flex-item">
            <button mat-raised-button color="primary" class="buttonCustomeLegends">Save</button>
        </div>
    </div>
</div>