<div class="h-100">
    <mat-card class="cia-module-card">
        <mat-toolbar color="mat-blue-grey" class="create-report-toolbar">
            <mat-toolbar-row fxLayout="row wrap" class="mat-blue-grey" style="padding: 0 10px;">
                <div class="pl-0" fxFlex="70" fxLayout="row wrap">
                    <div class="px-1" style="line-height: 2.2;">
                        <button mat-icon-button (click)="backPageRout()">
                            <mat-icon class="iconType" style="font-size: 25px;">
                                <div class="zmdi zmdi-chevron-left"></div>
                            </mat-icon>
                        </button>
                    </div>
                    <div class="header">Nominal Staterge</div>
                </div>
                <div class="pl-0" fxFlex *ngIf="!typeGenerate">
                    <div class="title">Project Name</div>
                    <div class="sub-title">Zone_Jio State_Jio Center_NP_CV_121020_V1</div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-card-content class="cia-card-content">
            <mat-horizontal-stepper *ngIf="Workorder == false" #nodeCounterStepper [linear]="true" (selectionChange)="stepperChanged($event)">
                <mat-step label="Basic Details">
                    <div class="" style="height: calc(100% - 58px);overflow: auto;">

                        <div style="padding-right: 15px;" fxFlex="50">
                            <div fxLayout="row wrap">
                                <ng-template ad-host></ng-template>
                            </div>
                            <div fxLayout="row wrap">
                                <div class="p-2" fxFlex="100">
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="selectedBoundaries">
                                        <mat-radio-button fxFlex="50" color="primary" class="radio-button pr-1" (change)="radioButtonChanged($event);" *ngFor="let eachBoundaries of listBoundaries" [value]="eachBoundaries">
                                            {{ eachBoundaries }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <form [formGroup]="selectJcCircleLevelFormControl">
                                <div style="height: 290px;overflow: auto;">
                                    <div *ngIf="!showDiv" fxLayout="row wrap">
                                        <div class="px-2" fxFlex="100">
                                            <mat-form-field fxFlex="100" class="form-field-container">
                                                <input matInput type="text">
                                                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>

                                        <div class="px-2" fxFlex="50">
                                            <mat-form-field fxFlex="100" class="form-field-container">
                                                <mat-select disableOptionCentering placeholder="Zone" (selectionChange)="zoneChangeFunc(zoneType)" [formControl]="zoneType" required>
                                                    <mat-option *ngFor="let item of zoneListArr" [value]="item" selected>{{item.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="px-2" fxFlex="50">
                                            <mat-form-field fxFlex="100">
                                                <mat-select disableOptionCentering placeholder="Circle" [formControl]="selectJcControl" ngDefaultControl #selectJcControlSelect>
                                                    <mat-option>
                                                        <ngx-mat-select-search placeholderLabel="Circle" [formControl]="selectJcFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let selectJc of selectJcFilter | async" [value]="selectJc">
                                                        {{selectJc.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="px-2" fxFlex="50">
                                            <mat-form-field fxFlex="100">
                                                <mat-select disableOptionCentering placeholder="Jio State" [formControl]="r4gCircleControl" ngDefaultControl #cityControlSelect>
                                                    <mat-option>
                                                        <ngx-mat-select-search placeholderLabel="Jio State" [formControl]="r4gFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let r4gCircle of r4gFilter | async" [value]="r4gCircle">
                                                        {{r4gCircle.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="px-2" fxFlex="50">
                                            <mat-form-field fxFlex="100">
                                                <mat-select (selectionChange)="render(cityControl)" disableOptionCentering placeholder="Jio Center" [formControl]="cityControl" ngDefaultControl #cityNameControlSelect>
                                                    <mat-option>
                                                        <ngx-mat-select-search placeholderLabel="Jio Center" [formControl]="cityFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let city of cityFilter | async" [value]="city">
                                                        {{city.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="px-2" fxFlex="50">
                                            <mat-form-field fxFlex="100">
                                                <mat-select disableOptionCentering placeholder="City" [formControl]="selectJcControl" ngDefaultControl #selectJcControlSelect>
                                                    <mat-option>
                                                        <ngx-mat-select-search placeholderLabel="City" [formControl]="selectJcFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let selectJc of selectJcFilter | async" [value]="selectJc">
                                                        {{selectJc.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                    </div>

                                    <div *ngIf="showDiv" fxLayout="row wrap">
                                        <div class="cust-nominal-container">
                                            <div fxLayout="row wrap" class="header-nominal-cust px-3">
                                                <div fxFlex="30" class="title">Polygon Name</div>
                                                <div fxFlex></div>
                                                <div class="icon-container">
                                                    <button mat-icon-button (click)="openDialogSuccessful()">
                                                        <mat-icon class="iconType">
                                                            <div class="zmdi zmdi-edit"></div>
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="content-nominal-cust px-2">
                                                <div class="content-nominal-cust-row" fxLayout="row wrap" *ngFor="let item of itemsListPoly">
                                                    <mat-checkbox color="primary" [checked]="item.checked" (change)="polySelectedChange(item);" style="margin-bottom:0">
                                                    </mat-checkbox>
                                                    <div class="title-poly">{{item.name}}</div>
                                                    <div class="sub-title-poly">{{item.date}}</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div fxLayout="row wrap">
                                        <div class="px-2" fxFlex="100">
                                            <mat-form-field class="p-0" fxFlex="100">
                                                <mat-label>Project Description</mat-label>
                                                <input [formControl]="projectDescriptionCtrl" matInput placeholder="Description" required style="line-height: 7px !important">
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="px-2" fxFlex="25">
                                            <button class="next-button button" matStepperNext mat-raised-button color="primary">Next</button>
                                        </div> -->
                                    </div>


                                </div>
                                <!-- <div fxLayout="row wrap" *ngIf="showDiv">
                                    <div fxLayout="row wrap" style="height:200px">
                                        <div class="header-nominal-cust">
                                            <div class="title">Polygon Name</div>
                                        </div>

                                    </div>
                                </div> -->
                                <!-- <div fxLayout="row wrap">
                                    <div class="px-2" fxFlex="100">
                                        <mat-form-field class="p-0" fxFlex="100">
                                            <mat-label>Project Description</mat-label>
                                            <input [formControl]="projectDescriptionCtrl" matInput placeholder="Description" required style="line-height: 7px !important">
                                        </mat-form-field>
                                    </div>
                                    <div class="px-2" fxFlex="25">
                                        <button class="next-button button" mat-raised-button color="primary">Next</button>
                                    </div>
                                </div> -->

                            </form>
                        </div>
                        <div fxFlex="50">
                            <div id="map2"></div>
                        </div>

                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="p-2">
                            <button mat-stroked-button color="primary" class="buttonWidth" matStepperPrevious>Back</button>
                        </div>
                        <div fxFlex></div>
                        <div class="p-2">
                            <button mat-stroked-button color="primary" class="buttonWidth">Cancel</button>
                        </div>
                        <div class="p-2">
                            <button class="next-button button" matStepperNext mat-raised-button color="primary">Next</button>
                            <!-- <button mat-stroked-button color="primary" class="buttonWidth" matStepperNext>Save?</button> -->
                        </div>
                        <!-- <div class="p-2">
                            <button mat-stroked-button color="primary" class="buttonWidth" matStepperNext [disabled]="typeGenerate">Generate</button>
                        </div> -->

                    </div>
                </mat-step>
                <mat-step label="Link Budget">
                    <div class="link-budget-container" fxLayout="column wrap" fxFlex="100">

                        <div style="padding-right: 15px;" fxFlex="100">
                            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                                <div class="p-2" fxFlex="100">
                                    <mat-radio-group fxLayoutAlign="center center" aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="selectedLinkBudget">
                                        <mat-radio-button fxFlex="100" color="primary" class="radio-button pr-1" (change)="radioButtonLinkBudgetChanged($event);" *ngFor="let linkBudget of linkBudgetArr" [value]="linkBudget">
                                            {{ linkBudget }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <form [formGroup]="selectLinkBudgetFormControl">
                                <div class="link-budget-form">
                                    <div *ngIf="showDivLinkBudget == 'Link Budget'" fxLayout="row wrap">
                                        <!-- Link Budget -->
                                        <div class="link-budget-form-container" fxFlex="100">
                                            <div class="link-budget-header">Calculated Cell Radius</div>
                                            <div fxLayout="row wrap">
                                                <div fxFlex="15">
                                                    <div class="link-budget-title">Dense Urban</div>
                                                    <div class="link-budget-value">0.3 KM</div>
                                                </div>
                                                <div fxFlex="35">
                                                    <mat-form-field class="w-100 pr-5">
                                                        <mat-select [formControl]="selectedSiteTemplate" placeholder="Site Template">
                                                            <mat-option value="Site Template">Site Template</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="15">
                                                    <div class="link-budget-title">Sub Urban</div>
                                                    <div class="link-budget-value">0.8 KM</div>
                                                </div>
                                                <div fxFlex="35">
                                                    <mat-form-field class="w-100 pr-5">
                                                        <mat-select [formControl]="selectedSiteTemplate" placeholder="Site Template">
                                                            <mat-option value="Site Template">Site Template</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="15">
                                                    <div class="link-budget-title">Urban</div>
                                                    <div class="link-budget-value">0.5 KM</div>
                                                </div>
                                                <div fxFlex="35">
                                                    <mat-form-field class="w-100 pr-5">
                                                        <mat-select [formControl]="selectedSiteTemplate" placeholder="Site Template">
                                                            <mat-option value="Site Template">Site Template</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="15">
                                                    <div class="link-budget-title">Rural</div>
                                                    <div class="link-budget-value">1.5 KM</div>
                                                </div>
                                                <div fxFlex="35">
                                                    <mat-form-field class="w-100 pr-5">
                                                        <mat-select [formControl]="selectedSiteTemplate" placeholder="Site Template">
                                                            <mat-option value="Site Template">Site Template</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="link-budget-form-container" fxFlex="100">
                                            <div class="link-budget-header">Default Cell Radius</div>
                                            <div fxLayout="row wrap">
                                                <div fxFlex="15">
                                                    <div class="link-budget-value" style="display: inline-flex;">
                                                        <mat-form-field style="width: 75px;">
                                                            <input matInput placeholder="Dense Urban" value="0.3">
                                                        </mat-form-field>
                                                        <div style="margin: auto;">KM</div>
                                                    </div>
                                                </div>
                                                <div fxFlex="15">
                                                    <div class="link-budget-value" style="display: inline-flex;">
                                                        <mat-form-field style="width: 75px;">
                                                            <input matInput placeholder="Urban" value="0.5">
                                                        </mat-form-field>
                                                        <div style="margin: auto;">KM</div>
                                                    </div>
                                                </div>
                                                <div fxFlex="15">
                                                    <div class="link-budget-value" style="display: inline-flex;">
                                                        <mat-form-field style="width: 75px;">
                                                            <input matInput placeholder="Sub Urban" value="0.8">
                                                        </mat-form-field>
                                                        <div style="margin: auto;">KM</div>
                                                    </div>
                                                </div>
                                                <div fxFlex="15">
                                                    <div class="link-budget-value" style="display: inline-flex;">
                                                        <mat-form-field style="width: 75px;">
                                                            <input matInput placeholder="Rural" value="1.5">
                                                        </mat-form-field>
                                                        <div style="margin: auto;">KM</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="showDivLinkBudget == 'Upload Link Budget'" fxLayout="row wrap">
                                        Upload Link Budget
                                    </div>

                                    <div *ngIf="showDivLinkBudget == 'Define Cell Radius'" fxLayout="row wrap">
                                        Define Cell Radius
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="py-2">
                            <button mat-stroked-button color="primary" class="buttonWidth" matStepperPrevious>Previous</button>
                        </div>
                        <div fxFlex></div>
                        <div class="p-2">
                            <button mat-stroked-button color="primary" class="buttonWidth">Cancel</button>
                        </div>
                        <div class="p-2">
                            <button class="next-button button" mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="Data Source">
                    <div fxLayout="column wrap" fxFlex="100" style="height: calc(100% - 58px);">
                        <div fxFlex="100">

                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="py-2">
                            <button mat-stroked-button color="primary" class="buttonWidth" matStepperPrevious>Previous</button>
                        </div>
                        <div fxFlex></div>
                        <div class="p-2">
                            <button mat-stroked-button color="primary" class="buttonWidth">Cancel</button>
                        </div>
                        <div class="p-2">
                            <button mat-raised-button color="primary" class="buttonWidth" matStepperNext [disabled]="typeGenerate">Generate</button>
                        </div>
                    </div>
                </mat-step>

            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>