
$md-primary: #0070db;
$color-white: #ffffff;

.sector-misalignment-container {
    height: 99%;
    min-height: 99%;
    min-width: 100%;
    width: 100%;
    padding: 0px;
    position: relative;
    .sector-flex-container {
        height: 80px !important;
        .sector-flex-item {
            font-size: 14px;
            .sector-title {
                font-size: 16px;
                font-family: Lato Bold;
            }
            .icon-button {
                padding: 10px 16px;
            }
            .cancel-btn {
                font-size: 17px;
                padding-top: 15px;
            }
        }
    }
    .jcp-table-container {
        height: calc(100% - 80px) !important;
        max-height: calc(100% - 80px) !important;
        .ag-theme-material.ag-jcp3 .ag-header {
            background-color: #D3D5DC;
        }
        // .pagination-aggrid {
        //     bottom: 20px;
        //     padding-right: 34px;
        // }
    }
        .pagination-aggrid {
            width: calc(100% - 310px);
            position: absolute;
            bottom: 0;
            height: 50px;
            bottom: 20px;
            padding-right: 34px;
            .labels {
                font-size: 14px;
                font-family: Lato Regular;
            }
        }
    .float {
        position: fixed;
        bottom: 40px;
        right: 40px;
        text-align: center;
        // box-shadow: 2px 2px 3px #f5f5f5;
    }
}
