<!-- <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  class="menu-list-item">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  <div class="list-name">{{item.displayName}}</div>
  <div fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon class="list-child-expand" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </div>
</a> -->

<div class="container sidebar-menu-list p-0">
  <a mat-list-item 
    (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
    class="menu-list-item">
    <div class="row d-flex justify-content-center m-0 w-100">
      <!-- {{item.route}} -->
      <div class="col-3" style="line-height: 2;">
        <div class="routeIcon" [ngClass]="item.iconName"></div>
      </div>
      <div class="col-6">
        <div class="list-name">{{item.displayName}}</div>
      </div>
      <div class="col-3">
        <div fxFlex *ngIf="item.children && item.children.length">
          <div fxFlex></div>
          <div class="list-child-expand zmdi zmdi-chevron-right" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="tree-list-menu" *ngIf="expanded">
  <app-menu-list-item class="tree-list-menu-child" *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
