$border-color: #e0e0e0;
$blueactive-color: #0078D7;
$blueactive-color: #E5F0FC;
$border-color: #d3d5d7;
$md-primary: #0070DB;
$color-white: #ffffff;
$color-grayBlue: #464d69;
.cia-module-card {
    padding: 0px !important;
    height: calc(100% - 15px);
    .create-report-toolbar {
        min-height: 54px;
        &.mat-toolbar {
            background: $color-white;
            height: 54px;
            padding: 0px;
            min-height: 54px;
            color: $color-grayBlue;
            .mat-toolbar-row {
                color: $color-grayBlue;
                font-size: 18px;
                font-weight: 500;
                mat-icon {
                    font-size: 18px;
                    color: $color-grayBlue;
                }
                .header {
                    font-size: 16px;
                    color: $color-grayBlue;
                    font-weight: 400;
                    font-family: 'LATO MEDIUM';
                }
                .Sub-header {
                    font-weight: 400;
                    color: $color-grayBlue;
                }
            }
        }
    }
    .rqa-scheduling-workorder-toolbar {
        min-height: 65px;
        background: $color-white;
        height: 65px;
        padding: 0px;
        color: $color-grayBlue;
        font-size: 18px;
        font-weight: 500;
        margin: 8px 11px -8px;
        mat-icon {
            font-size: 18px;
            color: $color-grayBlue;
        }
        .my-report-flex-item {
            font-size: 14px;
        }
        .mat-input-element {
            font-size: 14px !important;
        }
    }
    .cia-card-content {
        height: calc(100% - 70px);
    }
}

mat-select-panel {
    top: 26px;
    position: absolute;
    .mat-option.mat-selected {
        background-color: #E5F0FB !important;
        color: #464d69 !important;
    }
}

.button[disabled="true"] {
    border: 1px solid $border-color;
    ;
    background-color: #f0f3f5 !important;
}

.mat-datepicker-toggle {
    .mat-datepicker-toggle-default-icon {
        font-size: 20px;
    }
    .mat-icon-button {
        margin-bottom: 10px;
    }
}

.ag-theme-material .ag-header {
    background: #EAECEC;
}

.mat-calendar-body-cell.selected>.mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected:hover>.mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected>.mat-calendar-body-cell-content:hover {
    background-color: $md-primary !important;
    color: #fff !important;
}

.h-0 {
    height: 0;
}

.checkbox-group-label {
    font-family: Lato Bold;
    font-size: 14px;
    color: #515151;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.workorder-id {
    font-size: 15px;
    color: black;
    margin: 20px 0 0 20px;
}
:host ::ng-deep .my-report-flex-item mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
    width: 236px;
    padding: 8px 0;
}

.header-icon {
    color: #818181 !important;
}
.cell-details-header {
    height: 60px !important;
    min-height: 60px;
    mat-toolbar-row {
        > mat-icon {
            line-height: 3px;
        }
        > div {
            line-height: 3px;
        }
    }
}


:host ::ng-deep .ret-change-tab-container {
    height: calc(100% - 58px);
    > div {
        .tab-group  {
            > div {
                height: 100% !important;
                mat-tab-body {
                    overflow-y: hidden;
                    .mat-tab-body-content {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}



// left: 601.047px;

:host ::ng-deep .custom-field-container {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                padding: 0px 0 6px 0;
                .mat-form-field-label-wrapper {
                    .mat-form-field-label {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}