<div class="h-100">
    <mat-card class="cia-module-card">

        <mat-toolbar color="mat-blue-grey" class="create-report-toolbar cell-details-header">
            <mat-toolbar-row class="mat-blue-grey">
                <mat-icon class="icon-button mx-2" style="color: #7E7E7E;position: relative;
                top: 4px;" aria-label="search" (click)="goBack()">
                    <span class="zmdi zmdi-arrow-left" style="line-height: 1.5;"></span>
                </mat-icon>

                <div class="header" fxFlex="90"> Configuration Change Request</div>
                <mat-icon class="header-icon" aria-label="search" fxFlex="5">
                    <span class="ic ic-cloud-upload"></span>
                </mat-icon>

                <mat-icon class="header-icon" aria-label="search" fxFlex="5">
                    <span class="ic ic-download3"></span>
                </mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-divider></mat-divider>
        <!-- <mat-toolbar color="mat-blue-grey" class="create-report-toolbar">
            <mat-toolbar-row class="mat-blue-grey"> -->
        <div class="col pl-0">
            <h3 class="workorder-id">Work Order Id: {{workOrderId}}</h3>
        </div>
        <!-- </mat-toolbar-row>
        </mat-toolbar> -->
        <div class="rqa-scheduling-workorder-toolbar">
            <div class="select-duration-border-box" fxLayoutAlign="space-around center" fxLayout="row wrap">

                <div fxFlex="25" class="p-2 my-report-flex-item">
                    <mat-form-field>
                        <input matInput [(ngModel)]="searchGrid" (ngModelChange)="onFilterChanged($event);"
                            autocomplete="off" placeholder="SEARCH JC / SAP / CELL ID">
                        <mat-icon class="search-filter-icon" (click)="toggleSearch();" aria-label="search">
                            <span class="zmdi zmdi-search"></span>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div fxFlex="25" class="p-2 my-report-flex-item">
                    <mat-form-field class="form-field-container w-100">
                        <mat-select [multiple]="true" disableOptionCentering placeholder="Status"
                            [formControl]="statusControl" ngDefaultControl #jioCenterControlSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Status" [formControl]="statusFilterControl"
                                    noEntriesFoundLabel="no matching found" ngDefaultControl>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let status of statusFilter | async" [value]="status">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="25" class="p-2 my-report-flex-item" style="margin-left: 22px">
                    <mat-form-field class="form-field-container w-100">
                        <mat-select [multiple]="true" disableOptionCentering placeholder="Category"
                            [formControl]="categoryControl" ngDefaultControl #jioCenterControlSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Status" [formControl]="categoryFilterControl"
                                    noEntriesFoundLabel="no matching found" ngDefaultControl>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let category of categoryFilter | async" [value]="category">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex></div>


            </div>
        </div>

        <mat-divider></mat-divider>

        <mat-card-content class="cia-card-content">
            <div class="jcp-table-container" style="height: 80%;">
                <app-table-ag-grid [events]="eventsSubject.asObservable()"></app-table-ag-grid>
            </div>
        </mat-card-content>

    </mat-card>
</div>