.jcp-toolbar-container {
  // background: url('../../../../assets/images/toolbar/honeycomb.svg')no-repeat !important;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover !important;

  // height: 120px;
  // height: 130px;
  .jcp-toolbar-row {
    // padding: 15px 0px;
    display: flex;
    // padding: 15px 0;
    height: 52px;

    // padding: 6px 0;
    .jcp-toolbar-col-left {
      .jcp-toolbar-search-tbutt {
        // width: 20%;
        // position: absolute;
        width: 1%;
        float: left;

        .toolbar-botton-inner {
          padding: 0 !important;
          font-size: 25px !important;
          border-radius: 30px !important;
          width: 50px !important;
          height: 50px !important;
          min-width: 50px !important;

          // margin-top: 0.2rem;
          // margin-left: 18px;
          .menu-inner {
            font-size: 25px;
            padding: 10px 0;
          }

          .menu-inner::before {
            font-size: 1.5rem;
          }
        }

        :focus,
        :hover {
          outline: 0;
          // color: #0070DB;
        }

        .active-menu-button {
          display: none;
        }

        .activeNot-menu-button {
          display: contents;
        }
      }

      .active-jcpToggle {
        width: 0%;
        display: none;
      }

      .activeNot-jcpToggle {
        width: 0%;
      }
    }

    .jcp-toolbar-col-center {

      .jcp-toolbar-search-row {
        display: flex;

        .jcp-toolbar-search-form {
          width: 100%;
          margin-left: 50px;

          .form-group {
            margin-bottom: 0;
            width: -webkit-fill-available;
            // margin: 0;

            input,
            #searchId[type=search] {
              padding-left: 20px !important;
              font-size: 15px;
              font-family: 'Lato Regular';
              border-radius: 20px;
              height: 36px;
              background: #B3D4F4;
              position: relative;
              border: 0px solid #ced4da;
              color: #0070DB;
              margin: 5px 0px;
            }

            & ::-webkit-input-placeholder {
              color: #0070DB;
            }

            .active-inputsearch {
              border-radius: 20px 20px 0px 0px !important;
              background: #ffffff !important;
            }

            .search-icon {
              position: absolute;
              color: #0070DB;
              right: 10px;
              top: 8px;
              font-size: 24px;
            }

            .listOfRightIcon {
              font-size: 20px;
            }
          }
        }
      }

    }

    .jcp-toolbar-col-right {
      // padding: 0;

      .jcp-toolbar-row-right-content {
        // margin: 0;
        // float: right;

        .icon-parent-container {
          display: inline-flex;
          // background:rgba(0,0,0,0.6);
          background: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          // margin: 3px 0px;
          // padding: 5px;
          // padding: 4px;
          // margin: 2px 0px 2px 5px;

          .icon-container {
            // margin: auto;

            // padding-right: 10px;
            .icon-container-button {
              font-size: 20px;

              .note-icon {
                // line-height: 18px;
              }
            }

            .notifications-header {
              color: #464D69;

              .notifications-name {
                font-size: 15px;
              }

              .notifications-status {
                font-size: 12px;
              }
            }
          }

          :hover,
          :focus {
            outline: 0;
          }
        }


        .admin-toolbar {

          // padding: 0 15px;
          // padding: 0 8px;
          .admin-toolbar-container {
            .adminButton {
              .user-button {

                // cursor: pointer;
                // border-radius: 25px;
                // border: solid 1px;
                // height: 40px;

                width: 36px;
                height: 36px;
                border-radius: 18px;
                border: solid 1px;

              }
            }

            button:focus {
              outline: 0px auto -webkit-focus-ring-color !important;
            }

          }


          // .adminButton {
          // padding: 6px 0;
          // border-radius: 30px;
          // width: 30px !important;
          // height: 30px !important;
          // min-width: 30px !important;

          // .user-button {
          //   // cursor: pointer;
          //   // border-radius: 25px;
          //   // border: solid 1px;
          //   // height: 40px;
          //   {
          //     width: 36px;
          //     height: 36px;
          //     border-radius: 18px;
          // }
          // }
          // }
        }

      }

    }
  }

  .jcp-sub-toolbar-row {
    display: flex;
    // margin-top: 6px;
    height: 50px;
    margin: 0 0 0 15px;
    // margin: 0 20px;
    // padding: 15px;
    // margin-bottom: 15px;

    .jcp-sub-toolbar-row-left {
      display: inline-flex;
      position: relative;

      .tab-container {
        margin: auto 0;
        cursor: pointer;

        .icon-count {
          position: absolute;
          top: 24px;
          left: 26px;
          color: #006BD2;
          font-size: 12px;
        }

        .icon-style {
          font-size: 30px;
          padding: 5px 11px;
          line-height: 1.5;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          margin: 0px 6px;
          color: #B3D4F4;
        }

        .icon-style:hover {
          background: rgba(0, 112, 219, 0.5411764705882353);
          color: #ffffff;
        }
      }

      .header-container {
        .header {
          font-size: 18px;
          font-weight: 500;
          font-family: 'Lato Bold';
        }

        .sub-header {
          color: #B3D4F4;
          font-size: 14px;
          font-family: 'Lato Regular';
          height: 28px;
          line-height: 2;
        }
      }
    }

    .jcp-sub-toolbar-row-right {
      .icon-right-list {
        float: right;
        display: inline-flex;
        margin-top: 20px;

        .sizeOfIcon {
          font-size: 15px;
          padding: 6px 12px;
          line-height: 2;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin: 0 6px;
          color: #B3D4F4;
          cursor: pointer;

        }

        :hover {
          background: rgba(0, 112, 219, 0.5411764705882353);
          color: #ffffff;
        }
      }
    }

  }
}