<div class="jcp-toolbar-container" fxLayout="column warp" *ngIf="!(this.route==='/JCP/Layers')">
    <div class="jcp-toolbar-row" fxLayout="row warp" fxLayoutAlign="space-between center">
        <div class="col-1 jcp-toolbar-col-left p-0">

        </div>
        <div class="col-8 jcp-toolbar-col-center p-0">
            <div class="jcp-toolbar-search-row">

                <div class="jcp-toolbar-search-form">
                    <div class="form-group">
                        <form [formGroup]="stateForm">
                            <input class="form-control" [ngClass]="{'active-inputsearch': autoSearch._isOpen}"
                                #stateInput (keyup)="0" matInput placeholder="Search" aria-label="State"
                                [matAutocomplete]="autoSearch" [formControl]="stateCtrl" (click)="search(autoSearch)">
                            <mat-icon class="search-icon" aria-label="search">
                                <span class="zmdi zmdi-search"></span>
                            </mat-icon>
                        </form>
                        <mat-autocomplete #autoSearch="matAutocomplete" class="autoSearchClass">
                            <div class="headerMain">Recently Visited</div>

                            <mat-option (onSelectionChange)="stateInput.value !=undefined && onEnter($event)"
                                *ngFor="let state of filteredStatesVisited | async" [value]="state.name"
                                class="autoSearch-mat-option">
                                <div class="row justify-content-start align-items-center autoSearch-row">
                                    <div class="autoSearch-row-icon" [ngClass]="state.icon"></div>
                                    <div class="autoSearch-row-name">{{ state.name }}</div>
                                </div>
                            </mat-option>
                            <mat-divider style="    margin: 10px 0;"></mat-divider>
                            <div class="headerMain">Search Results</div>
                            <mat-option (onSelectionChange)="stateInput.value !=undefined && onEnter($event)"
                                *ngFor="let state of filteredStates | async" [value]="state.name"
                                class="autoSearch-mat-option">
                                <div class="row justify-content-between autoSearch-row">
                                    <div class="col-4 p-0">
                                        <div class="row p-0 m-0">
                                            <div class="autoSearch-row-iconsec" [ngClass]="state.icon"></div>
                                            <div class=" autoSearch-row-namesec">{{ state.name }}</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="autoSearch-row-url" style="float: right;">
                                            <span>... > {{state.linkurl}} > </span>
                                            <span>{{ state.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 jcp-toolbar-col-right p-0">
            <div class="jcp-toolbar-row-right-content" fxLayout="row warp" fxLayoutAlign="end center">
                <div class="icon-parent-container">
                    <div class="icon-container" (click)="openFullscreen();toggleSidenav();"
                        *ngIf="expandScreen == false">
                        <button mat-button
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-fullscreen" style="font-size: 22px;    margin-bottom: 1px;"></div>
                        </button>
                    </div>
                    <div mat-button class="icon-container" (click)="closeFullscreen();toggleSidenav();"
                        *ngIf="expandScreen == true">
                        <button
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-fullscreen-exit" style="font-size: 22px;    margin-bottom: 1px;">
                            </div>
                        </button>
                    </div>
                    <div class="icon-container ">
                        <button mat-button
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-bookmark-outline" style="font-size: 22px;    margin-bottom: 1px;">
                            </div>
                        </button>
                    </div>
                    <div class="icon-container">
                        <button mat-button [matMenuTriggerFor]="notifications"
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-notifications-active note-icon" matBadge="{{randomNotificationCount}}"
                                matBadgeSize="small" matBadgeColor="warn">
                            </div>
                        </button>
                        <mat-menu #notifications="matMenu" class="notifications-dropdown">

                            <div (click)="$event.stopPropagation();" class=" notifications-header">
                                <div class="row m-0 p-0 justify-content-between">
                                    <div class="col notifications-name">
                                        Notifications
                                    </div>
                                    <div class="col notifications-status">
                                        <div style="float: right;">


                                            <mat-form-field id="allNotifocationId">
                                                <mat-select [(ngModel)]="selectedNameMod"
                                                    (selectionChange)="allNameNoteFunc($event)">
                                                    <mat-option value="All Notifications" selected>All Notifications
                                                    </mat-option>
                                                    <mat-option *ngFor="let note of notificationsList | filterUnique"
                                                        [value]="note.name">
                                                        {{note.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="$event.stopPropagation();" *ngIf="filterDataOnSelection == false"
                                class="main-content">
                                <div class="notifications-content row justify-content-between"
                                    [ngClass]="{'activeParent': item.hideMe}"
                                    *ngFor="let item of notificationsList; let i = index">

                                    <div class="row justify-content-between notifications-content-name">
                                        <div class="col-1 p-0" style="margin: 5px 10px;">
                                            <div class="iconMod" [ngClass]="{'active-iconMod': item.hideMe}">
                                                <span [ngClass]="item.iconMod"></span></div>
                                        </div>
                                        <div class="col-7 p-0">
                                            <div class="header" (click)="item.hideMe =! item.hideMe"
                                                style="cursor: pointer;">
                                                <span>{{item.name}}</span>
                                                <span class="pl-2 zmdi zmdi-chevron-down"></span>
                                            </div>
                                            <div class="sub-header" *ngIf="!item.hideMe">{{item.detailsMod}}
                                            </div>
                                            <div class="sub-header" [ngClass]="{'active': item.hideMe}"
                                                *ngIf="item.hideMe">{{item.detailsMod}}</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="notifications-content-status" style="float: right;">
                                                <span>{{item.statusMod}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <mat-divider></mat-divider>
                                </div>

                            </div>
                            <div (click)="$event.stopPropagation();" *ngIf="filterDataOnSelection == true"
                                class="main-content">
                                <div class="notifications-content row justify-content-between"
                                    [ngClass]="{'activeParent': item.hideMe}"
                                    *ngFor="let item of filterDataArr; let i = index">

                                    <div class="row justify-content-between notifications-content-name">
                                        <div class="col-1" style="margin: 5px auto; padding: 0%;">
                                            <div class="iconMod" [ngClass]="{'active-iconMod': item.hideMe}">
                                                <span [ngClass]="item.iconMod"></span></div>
                                        </div>
                                        <div class="col-7">
                                            <div class="header" (click)="item.hideMe =! item.hideMe"
                                                style="cursor: pointer;">
                                                <span>{{item.name}}</span>
                                                <span class="pl-2 zmdi zmdi-chevron-down"
                                                    style="cursor: pointer;"></span>
                                            </div>
                                            <div class="sub-header" *ngIf="!item.hideMe">{{item.detailsMod}}
                                            </div>
                                            <div class="sub-header" [ngClass]="{'active': item.hideMe}"
                                                *ngIf="item.hideMe">{{item.detailsMod}}</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="notifications-content-status" style="float: right;">
                                                <span>{{item.statusMod}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <mat-divider></mat-divider>
                                </div>

                            </div>
                            <div (click)="$event.stopPropagation();"
                                class="row justify-content-end notifications-content-more">
                                <div class="col notifications-content-status">
                                    <div style="float: right;cursor: pointer;"
                                        (click)="showOlderNoteFunc(notificationsList)">
                                        <a>Show Older</a>
                                    </div>
                                </div>
                            </div>
                            <div (click)="$event.stopPropagation();"
                                class="row justify-content-end notifications-content-view-all">
                                <div (click)="viewAllNoteFunc(notificationsList)" class="col notifications-content-all"
                                    style="cursor: pointer;">
                                    Mark All As Read
                                </div>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div class="admin-toolbar">
                    <div class="admin-toolbar-container">
                        <button class="adminButton" [matMenuTriggerFor]="menuAdmin">
                            <img src="assets/images/logo/user.jpeg" alt="IOT" class="user-button" />
                        </button>
                    </div>
                    <mat-menu #menuAdmin="matMenu" class="menuAdmin-dropdown arrow-top">
                        <div class="justify-content-center align-items-center userDetails-Container">
                            <img src="assets/images/logo/user.jpeg" alt="IOT" class="userImg" width="50" />
                            <div class="" class="user-name-content">
                                <div class="user-header">Swapnasheela Khandagale</div>
                                <div class="user-SubHeader">CM Optimizer</div>
                            </div>
                        </div>
                        <div class="user-menu-opt-container">
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name"> My Profile</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name">My Roles / Workspaces</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name">Feedback</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item routerLink="/JCP/Row-Rendering">
                                <div class="user-menu-opt-name">Row Rendering</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item routerLink="/JCP/Column-Rendering">
                                <div class="user-menu-opt-name">Column Rendering</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item routerLink="/JCP/Tree-Rendering">
                                <div class="user-menu-opt-name">Tree Rendering</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item routerLink="/JCP/Ag-Row-Rendering">
                                <div class="user-menu-opt-name">AG-G Row Rendering</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item routerLink="/JCP/Ag-Column-Rendering">
                                <div class="user-menu-opt-name">AG-G Column Rendering</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item routerLink="/JCP/Ag-Tree-Rendering">
                                <div class="user-menu-opt-name">AG-G Tree Rendering</div>
                            </div>
                            <!-- <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name" (click)="openDialogAlarms()">Alarms</div>
                            </div> -->
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name">Capacity</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name">Configuration</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item (click)="logout()">
                                <div class="user-menu-opt-name">Logout</div>
                            </div>
                        </div>

                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="jcp-sub-toolbar-row justify-content-between" fxLayout="row warp">
        <div class="col-9 jcp-sub-toolbar-row-left p-0"
            [ngClass]="{'active-sub-toolbar-row-left': addClassNew , 'activeNot-sub-toolbar-row-left': !addClassNew}">
            <div class="tab-container">
                <div class="icon-count"><span style="font-size: 12px;font-weight: 600;">4</span></div>
                <div class="icon-style"><i class="ic ic-breadcrumbs-01"></i></div>
            </div>
            <div class="header-container">
                <div class="header">{{mainHeaderName}}</div>
                <!-- <div class="sub-header">Reports & Dashboard <i class="fas fa-chevron-right pl-1 pr-1"></i> My Reports</div> -->
                <div class="sub-header">
                    <!-- {{breadcrumbList}} -->
                    <div style="display:inline" *ngFor="let breadLink of breadcrumbList;let lastItem = last;">
                        {{breadLink}} <i class="fas fa-chevron-right pl-1 pr-1" *ngIf="!lastItem"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col jcp-sub-toolbar-row-right mr-2 p-0">
            <div class="icon-right-list">
                <div class="ic ic-dots sizeOfIcon" *ngIf="(this.route === '/JCP/Home' || this.route==='/JCP/My-JCP')">
                </div>
                <div class="ic ic-minimize-01 sizeOfIcon" *ngIf="(this.route === '/JCP/Home')"></div>
                <!-- <div class="fas fa-external-link-alt sizeOfIcon"></div> -->
                <div class="ic ic-close-01 sizeOfIcon" *ngIf="(this.route === '/JCP/Home')"></div>
                <div class="zmdi zmdi-settings sizeOfIcon-zmdi" [matMenuTriggerFor]="menuSettingMyJcp"
                    *ngIf="(this.route === '/JCP/My-JCP')"></div>
                <mat-menu #menuSettingMyJcp="matMenu" class="menuSettingMyJcp-dropdown arrow-top">
                    <app-myjcpdropdownpanel (click)="$event.stopPropagation();"></app-myjcpdropdownpanel>
                </mat-menu>
            </div>
        </div>
        <div class="col jcp-sub-toolbar-row-right mr-4 p-0" *ngIf="(this.route === '/JCP/Modules/Planning-Deployment/5G-Link-Budget')">
            <!-- <div class="icon-right-list"> -->
                <!-- <div class="ic ic-dots sizeOfIcon"></div>
                <div class="ic ic-legends-01 sizeOfIcon" [matMenuTriggerFor]="linkBudget"></div>
                <mat-menu #linkBudget="matMenu" class="link-budget-dropdown arrow-top" [hasBackdrop]="false"> -->
                    <app-template-dropdown></app-template-dropdown>
                <!-- </mat-menu>
                <div class="ic ic-filter-01 sizeOfIcon"></div> -->
            <!-- </div> -->
        </div>
        <div class="col jcp-sub-toolbar-row-right mr-4 p-0"
            *ngIf="(this.route === '/JCP/Work-Orders/Rf-Oc-Workorders/Category-Wise-Workorder-Listing/Sector-Misalignment')">
            <div class="icon-right-list">
                <div class="ic ic-dots sizeOfIcon" [matMenuTriggerFor]="menuListCommon"></div>
                <mat-menu #menuListCommon="matMenu" class="aggridMenuPanelRender">
                    <button mat-menu-item disabled>
                        <div class="pr-3 ic ic-download3" style="display: inline-block;"></div>
                        <span>Download</span>
                    </button>
                </mat-menu>
                <div class="ic ic-close-01 sizeOfIcon"></div>

            </div>
        </div>
        <div class="col jcp-sub-toolbar-row-right mr-4 p-0"
            *ngIf="(this.route === '/JCP/Work-Orders/Rf-Oc-Workorders/Category-Wise-Workorder-Listing/Overshooting-Cell')">
            <div class="icon-right-list">
                <div class="ic ic-dots sizeOfIcon" [matMenuTriggerFor]="menuListCommon"></div>
                <mat-menu #menuListCommon="matMenu" class="aggridMenuPanelRender">
                    <button mat-menu-item>
                        <div class="pr-3 ic ic-download3" style="display: inline-block;"></div>
                        <span>Download</span>
                    </button>
                </mat-menu>
                <div class="ic ic-close-01 sizeOfIcon"></div>
            </div>
        </div>
    </div>
</div>
<div class="jcp-toolbar-container-layers" fxLayout="column warp" *ngIf="(this.route==='/JCP/Layers')">
    <div class="jcp-toolbar-row" fxLayout="row warp" fxLayoutAlign="space-between center">
        <div class="col-1 jcp-toolbar-col-left p-0">

        </div>
        <div class="col-8 jcp-toolbar-col-center p-0">
            <div class="jcp-toolbar-search-row">

                <div class="jcp-toolbar-search-form">
                    <div class="form-group">
                        <form [formGroup]="stateForm">
                            <input class="form-control" [ngClass]="{'active-inputsearch': autoSearch._isOpen}"
                                #stateInput (keyup)="0" matInput placeholder="Search" aria-label="State"
                                [matAutocomplete]="autoSearch" [formControl]="stateCtrl" (click)="search(autoSearch)">
                            <mat-icon class="search-icon" aria-label="search">
                                <span class="zmdi zmdi-search"></span>
                            </mat-icon>
                        </form>
                        <mat-autocomplete #autoSearch="matAutocomplete" class="autoSearchClassLayers">
                            <div class="headerMain">Recently Visited</div>


                            <mat-option (onSelectionChange)="stateInput.value !=undefined && onEnter($event)"
                                *ngFor="let state of filteredStatesVisited | async" [value]="state.name"
                                class="autoSearch-mat-option">
                                <div class="row justify-content-start align-items-center autoSearch-row">
                                    <div class="autoSearch-row-icon" [ngClass]="state.icon"></div>
                                    <div class="autoSearch-row-name">{{ state.name }}</div>
                                </div>
                            </mat-option>
                            <mat-divider style="    margin: 10px 0;"></mat-divider>
                            <div class="headerMain">Search Results</div>
                            <mat-option (onSelectionChange)="stateInput.value !=undefined && onEnter($event)"
                                *ngFor="let state of filteredStates | async" [value]="state.name"
                                class="autoSearch-mat-option">
                                <div class="row justify-content-between autoSearch-row">
                                    <div class="col-4 p-0">
                                        <div class="row p-0 m-0">
                                            <div class="autoSearch-row-iconsec" [ngClass]="state.icon"></div>
                                            <div class=" autoSearch-row-namesec">{{ state.name }}</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="autoSearch-row-url" style="float: right;">
                                            <span>... > {{state.linkurl}} > </span>
                                            <span>{{ state.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 jcp-toolbar-col-right p-0">
            <div class="jcp-toolbar-row-right-content" fxLayout="row warp" fxLayoutAlign="end center">
                <div class="icon-parent-container">
                    <div class="icon-container" (click)="openFullscreen();toggleSidenav();"
                        *ngIf="expandScreen == false">
                        <button mat-button
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-fullscreen" style="font-size: 22px;    margin-bottom: 1px;"></div>
                        </button>
                    </div>
                    <div mat-button class="icon-container" (click)="closeFullscreen();toggleSidenav();"
                        *ngIf="expandScreen == true">
                        <button
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-fullscreen-exit" style="font-size: 22px;    margin-bottom: 1px;">
                            </div>
                        </button>
                    </div>
                    <div class="icon-container ">
                        <button mat-button
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-bookmark-outline" style="font-size: 22px;    margin-bottom: 1px;">
                            </div>
                        </button>
                    </div>
                    <div class="icon-container">
                        <button mat-button [matMenuTriggerFor]="notifications"
                            class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                            <div class="zmdi zmdi-notifications-active note-icon" matBadge="{{randomNotificationCount}}"
                                matBadgeSize="small" matBadgeColor="warn">
                            </div>
                        </button>
                        <mat-menu #notifications="matMenu" class="notifications-dropdown">

                            <div (click)="$event.stopPropagation();" class=" notifications-header">
                                <div class="row m-0 p-0 justify-content-between">
                                    <div class="col notifications-name">
                                        Notifications
                                    </div>
                                    <div class="col notifications-status">
                                        <div style="float: right;">


                                            <mat-form-field id="allNotifocationId">
                                                <mat-select [(ngModel)]="selectedNameMod"
                                                    (selectionChange)="allNameNoteFunc($event)">
                                                    <mat-option value="All Notifications" selected>All Notifications
                                                    </mat-option>
                                                    <mat-option *ngFor="let note of notificationsList | filterUnique"
                                                        [value]="note.name">
                                                        {{note.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div (click)="$event.stopPropagation();" *ngIf="filterDataOnSelection == false"
                                class="main-content">
                                <div class="notifications-content row justify-content-between"
                                    [ngClass]="{'activeParent': item.hideMe}"
                                    *ngFor="let item of notificationsList; let i = index">

                                    <div class="row justify-content-between notifications-content-name">
                                        <div class="col-1 p-0" style="margin: 5px 10px;">
                                            <div class="iconMod" [ngClass]="{'active-iconMod': item.hideMe}">
                                                <span [ngClass]="item.iconMod"></span></div>
                                        </div>
                                        <div class="col-7 p-0">
                                            <div class="header" (click)="item.hideMe =! item.hideMe"
                                                style="cursor: pointer;">
                                                <span>{{item.name}}</span>
                                                <span class="pl-2 zmdi zmdi-chevron-down"></span>
                                            </div>
                                            <div class="sub-header" *ngIf="!item.hideMe">{{item.detailsMod}}
                                            </div>
                                            <div class="sub-header" [ngClass]="{'active': item.hideMe}"
                                                *ngIf="item.hideMe">{{item.detailsMod}}</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="notifications-content-status" style="float: right;">
                                                <span>{{item.statusMod}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <mat-divider></mat-divider>
                                </div>

                            </div>
                            <div (click)="$event.stopPropagation();" *ngIf="filterDataOnSelection == true"
                                class="main-content">
                                <div class="notifications-content row justify-content-between"
                                    [ngClass]="{'activeParent': item.hideMe}"
                                    *ngFor="let item of filterDataArr; let i = index">

                                    <div class="row justify-content-between notifications-content-name">
                                        <div class="col-1" style="margin: 5px auto; padding: 0%;">
                                            <div class="iconMod" [ngClass]="{'active-iconMod': item.hideMe}">
                                                <span [ngClass]="item.iconMod"></span></div>
                                        </div>
                                        <div class="col-7">
                                            <div class="header" (click)="item.hideMe =! item.hideMe"
                                                style="cursor: pointer;">
                                                <span>{{item.name}}</span>
                                                <span class="pl-2 zmdi zmdi-chevron-down"
                                                    style="cursor: pointer;"></span>
                                            </div>
                                            <div class="sub-header" *ngIf="!item.hideMe">{{item.detailsMod}}
                                            </div>
                                            <div class="sub-header" [ngClass]="{'active': item.hideMe}"
                                                *ngIf="item.hideMe">{{item.detailsMod}}</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="notifications-content-status" style="float: right;">
                                                <span>{{item.statusMod}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <mat-divider></mat-divider>
                                </div>

                            </div>
                            <div (click)="$event.stopPropagation();"
                                class="row justify-content-end notifications-content-more">
                                <div class="col notifications-content-status">
                                    <div style="float: right;cursor: pointer;"
                                        (click)="showOlderNoteFunc(notificationsList)">
                                        <a>Show Older</a>
                                    </div>
                                </div>
                            </div>
                            <div (click)="$event.stopPropagation();"
                                class="row justify-content-end notifications-content-view-all">
                                <div (click)="viewAllNoteFunc(notificationsList)" class="col notifications-content-all"
                                    style="cursor: pointer;">
                                    Mark All As Read
                                </div>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div class="admin-toolbar">
                    <div class="admin-toolbar-container">
                        <div class="adminButton" [matMenuTriggerFor]="menuAdmin">
                            <img src="assets/images/logo/user.jpeg" alt="IOT" class="user-button" />
                        </div>
                    </div>
                    <mat-menu #menuAdmin="matMenu" class="menuAdmin-dropdown arrow-top">
                        <div class="justify-content-center align-items-center userDetails-Container">
                            <img src="assets/images/logo/user.jpeg" alt="IOT" class="userImg" width="50" />
                            <div class="" class="user-name-content">
                                <div class="user-header">Swapnasheela Khandagale</div>
                                <div class="user-SubHeader">CM Optimizer</div>
                            </div>
                        </div>
                        <div class="user-menu-opt-container">
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name"> My Profile</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name">My Roles / Workspaces</div>
                            </div>
                            <div class="user-menu-opt" mat-menu-item>
                                <div class="user-menu-opt-name">Feedback</div>
                            </div>

                            <div class="user-menu-opt" mat-menu-item (click)="logout()">
                                <div class="user-menu-opt-name">Logout</div>
                            </div>
                        </div>

                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>