<mat-card class="p-0" style="height: calc(100% - 5px);">
    <mat-card-header class="card-header" fxLayoutAlign="start center">
        <mat-card-title class="card-title mb-0">
        <div fxLayout="column">
            <div class="title-summary">
                {{nominalGenerationSummaryData.type}} : 
                <span class="state">{{nominalGenerationSummaryData.state}}</span> | 
                {{nominalGenerationSummaryData.name}}
            </div>
            <div class="title-subline">Coverage</div>
        </div>
        </mat-card-title>
        <div class="col"></div>
        <div class="my-performance-reports-flex-item d-flex justify-content-end align-items-center">
            <mat-icon class="icon-button search-icon-kpi" aria-label="search" (click)="showSearchInput = !showSearchInput;" *ngIf="!showSearchInput">
                <span class="zmdi zmdi-search"></span>
            </mat-icon>
            <mat-form-field *ngIf="showSearchInput" class="col-4">
                <input matInput [(ngModel)]="searchGrid" (ngModelChange)="onFilterChanged($event);" autocomplete="off" placeholder="">
                <mat-icon class="search-filter-icon" (click)="toggleSearch();" aria-label="search">
                    <span class="zmdi zmdi-close"></span>
                </mat-icon>
            </mat-form-field>
            <button class="ic ic-layers-01 link-icon-button"
            style="font-size: 18px;color:#464D69" mat-icon-button
            (click)="displayNominalGenerationLayers()"></button>
        </div>
    </mat-card-header>
    <mat-card-content fxLayout="row" class="site-card-content site-distribution-summary">
        <div fxFlex="auto">
            <mat-tab-group dynamicHeight fxFlex="auto" mat-align-tabs="start" [selectedIndex]="2">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon  (click)="backToSummary()">arrow_back</mat-icon>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Site Distribution Summary
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="ic ic-table-011"></span>
                    </ng-template>
                    <div class="nominal-site">
                        <ag-grid-angular style="width: 100%; height: calc(100% - 66px);" class="ag-theme-material ag-jcp3" rowHeight="48"
                            headerHeight="48" [gridOptions]="gridMyPerformanceGridOptions"[columnDefs]="gridMyPerformanceColumnDefs" 
                            [rowData]="gridMyPerformanceRowData" enableColResize enableSorting enableFilter groupHeaders
                            [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                            [enableRangeSelection]="true" [suppressRowClickSelection]="true" [groupSelectsChildren]="true"
                            [debug]="true" [frameworkComponents]="frameworkComponentsReportBuilder" [paginationPageSize]="PaginationPageSize" 
                            [pagination]="true" [suppressPaginationPanel]="true" (gridReady)="onReady($event)">
                        </ag-grid-angular>
                        <app-pagination [pageSize]="PaginationPageSize" [gridApi]="gridAPI" [noOfPages]="gridAPI?.paginationGetTotalPages()" 
                        [rowCount]="gridAPI?.getDisplayedRowCount()" [paginationArray]="[10, 20, 30, 40]"></app-pagination>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="ic ic-table1-01"></span>
                    </ng-template>
                    <div fxLayout="column">
                        <div class="summary-table">
                            <div fxFlex="100">
                                <div class="table-header">Overlay Type Vs 5G Solution type</div>
                                <table mat-table [dataSource]="dataSourceOverlay | keyvalue:orderByKey">
                                    <ng-container matColumnDef="key">
                                      <th mat-header-cell *matHeaderCellDef width ="20%"> Overlay Type </th>
                                      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
                                      <td mat-footer-cell *matFooterCellDef> Total </td>
                                    </ng-container>
                                    <ng-container matColumnDef="total">
                                      <th mat-header-cell *matHeaderCellDef width ="16%"> Total </th>
                                      <td mat-cell *matCellDef="let element"> {{element.value.total}} </td>
                                      <td mat-footer-cell *matFooterCellDef> {{ calculateTotal() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="gNB">
                                        <th mat-header-cell *matHeaderCellDef width ="16%"> gNB </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.gNB}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateGNB() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="odsc1">
                                        <th mat-header-cell *matHeaderCellDef width ="16%"> ODSC1 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.odsc1}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateODSC1() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="odsc2">
                                        <th mat-header-cell *matHeaderCellDef width ="16%"> ODSC2 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.odsc2}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateODSC2() }}</td>

                                    </ng-container>
                                    <ng-container matColumnDef="odsc3">
                                        <th mat-header-cell *matHeaderCellDef width ="16%"> ODSC3 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.odsc3}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateODSC3() }}</td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOverlay;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOverlay;"></tr>
                                    <tr mat-footer-row *matFooterRowDef="displayedColumnsOverlay; sticky: true"></tr>
                                  </table>
                            </div>
                        </div>
                        <div class="summary-table" style="overflow: auto;height: 259px;">
                            <div fxFlex="100">
                                <div class="table-header">Infra Type Vs 5G Solution type</div>
                                <table mat-table [dataSource]="dataSourceInfra | keyvalue:orderByKey">
                                    <ng-container matColumnDef="key">
                                      <th mat-header-cell *matHeaderCellDef  width ="20%"> Overlay Type </th>
                                      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
                                      <td mat-footer-cell *matFooterCellDef> Total </td>
                                    </ng-container>
                                    <ng-container matColumnDef="total">
                                      <th mat-header-cell *matHeaderCellDef  width ="16%"> Total </th>
                                      <td mat-cell *matCellDef="let element"> {{element.value.total}} </td>
                                      <td mat-footer-cell *matFooterCellDef> {{ calculateTotal() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="gNB">
                                        <th mat-header-cell *matHeaderCellDef  width ="16%"> gNB </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.gNB}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateGNB() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="odsc1">
                                        <th mat-header-cell *matHeaderCellDef  width ="16%"> ODSC1 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.odsc1}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateODSC1() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="odsc2">
                                        <th mat-header-cell *matHeaderCellDef  width ="16%"> ODSC2 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.odsc2}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateODSC2() }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="odsc3">
                                        <th mat-header-cell *matHeaderCellDef  width ="16%"> ODSC3 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value.odsc3}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{ calculateODSC3() }}</td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInfra;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInfra;"></tr>
                                    <tr mat-footer-row *matFooterRowDef="displayedColumnsInfra; sticky: true"></tr>
                                  </table>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>