<div #container class="jcp-kpi-setting-control-layers-container">
    <div class="sub-header-jcp px-2" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="pr-3">
            <mat-icon class="icon-button" aria-label="back page">
                <span class="zmdi zmdi-arrow-left"></span>
            </mat-icon>
        </div>
        <div fxFlex>
            <mat-form-field>
                <mat-select disableOptionCentering [(value)]="kpiDetailsValSelected">
                    <mat-option value="option1" *ngFor="let item of kpiDetailsList" [value]="item">
                        {{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" class="kpi-summary-view">
        <div fxFlex="50" class="kpi-summary-grid">
            <div class="label">Atoll: On-Air DL Throughput COMBINED</div>
            <div class="label">Data Source: Atoll 04/03/2017</div>
        </div>
        <div fxFlex="50" class="kpi-summary-grid">
            <span class="label">On-Air Sites :</span>
            <span class="value">246562</span>
        </div>
        <div fxFlex="100">
            <div class="jcp-landing-card-chart-container">
                <div id="kpiDetailsChartID" [chart]="kpiDetailsChart"></div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>