tr.mat-footer-row {
    font-weight: bold;
    background: #ebedef;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  
  .tab {
    padding-left: var(--level)vh;
  }
  
  table {
    width: 100%;
    table-layout: auto;
  }
  
  
  .example-container {
    width: 100%;
  }
  