<div class="selectled-layer-menu">
    <div *ngFor="let item of listSelectedLayerArr" class="selectled-layer-menu-list px-3" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="10">
            <span class="zmdi zmdi-portable-wifi"></span>
        </div>
        <div fxFlex="70">{{item.eventName}}</div>
        <div fxFlex="10">
            <span class="zmdi zmdi-eye-off"></span>
        </div>
        <div fxFlex="10">
            <span class="zmdi zmdi-close"></span>
        </div>
    </div>
</div>