.selectled-layer-menu {
    font-size: 14px;
    font-family: Lato Regular;
    margin: 8px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    .selectled-layer-menu-list {
        height: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        text-align: center;
    }
}