.selectled-layer-menu {
    font-size: 14px;
    font-family: Lato Regular;
    margin: 8px 0px;
    .selected-layers-title {
        .title {
            font-size: 16px;
            font-family: Lato Medium;
        }
        .icon {
            font-size: 16px;
        }
    }
    .selectled-layer-menu-list {
        height: 40px;
        border-radius: 10px;
        margin: 0 8px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        text-align: center;
    }
}