<div class="assign-task-container">
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <div fxFlex="grow">
                <div class="header">Reject Task</div>
            </div>
            <button (click)="closeDialog()" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content>
        <div class="px-4 mat-con">
            <mat-form-field class="w-100">
                <mat-select [(ngModel)]="reject[0]">
                    <mat-option *ngFor="let rej of reject" [value]="rej">
                        {{rej}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="px-4 mat-con">
            <div class="w-100">
                <div>Highlight</div>
                <a (click)="makeFormEditable()">Click here for Highlights Field</a>
            </div>
        </div>
        

        <div class="px-4 mat-con">
            <mat-form-field class="w-100">
                <mat-label>Remarks</mat-label>
                <input matInput placeholder="" value="Lorem Ipsum is simply dummy text of the printing and typesetting">
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div mat-dialog-actions class="assign-text-action-container px-2" fxLayout="row wrap" fxLayoutAlign="end end">
        <div class="mr-1 assign-text-button">
            <button class=" assign-butt" (click)="clickYes()" mat-stroked-button color="primary"
                style=" margin-left: 8px;">Cancel</button>
        </div>
        <div class="ml-1 assign-text-button">
            <button class=" assign-butt" (click)="clickNo()" mat-raised-button color="primary"
                style=" margin-left: 3px;">Reject</button>
        </div>
    </div>

</div>