<div class="upload-dialog-container">
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <div fxFlex="grow">
                <div>{{title}}</div>
            </div>
            <button (click)="closeDialog()" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fxLayoutAlign="center center">
        <mat-form-field fxFlex="90" class="mb20 browse-file-form-field">
            <mat-icon class="ic ic-file-text2 file-icon">
               </mat-icon>
            <input matInput class="input-field" [(ngModel)]="fileName" [readonly]="true">
            <button class="browse-button" (click)="onClick()"mat-button color="primary">Browse</button>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions>
        <button mat-button color="primary">Download Template</button>
        <div class="col"></div>
        <div class="mx10">
            <button mat-stroked-button color="primary" (click)="closeDialog()" class="buttonWidth">Cancel</button>
        </div>
        <div class="mx10">
            <button mat-raised-button color="primary" class="buttonWidth">Upload</button>
        </div>
    </div>
</div>

<!-- File browser hidden for native element ref -->
<input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="" style="display: none;"/>
<!-- File browser hidden for native element ref -->