.content-nominal-cust {
    overflow: auto;
    height: 280px;
    .ag-theme-material {
        .ag-root-wrapper {
            .ag-root-wrapper-body {
                .ag-root {
                    .ag-header {
                        background: #e9ecec;
                        // display: none !important;
                    }
                }
            }
        }
    }
    .content-nominal-cust-row {
        .mat-checkbox-layout {
            margin-bottom: -0.5rem;
        }
        .title-poly {
            line-height: 3;
            font-family: Lato bold;
            font-size: 14px;
        }
        .sub-title-poly {
            line-height: 3.5;
            font-family: Lato Regular;
            font-size: 12px;
        }
    }
}