<mat-card class="kpi-editor p-0">
    <div class="kpi-editor-flex-container">
        <div class="d-flex mx-2 flex-row justify-content-between align-items-center full-height">
            <div class="col-4 kpi-editor-flex-item kpi-title">
                KPI Editor
            </div>
            <div class="col-8 kpi-editor-flex-item d-flex justify-content-end align-items-center">
                <mat-icon class="icon-button search-icon-kpi" aria-label="search" (click)="show = !show;" *ngIf="!show">
                    <span class="zmdi zmdi-search"></span>
                </mat-icon>
                <mat-form-field *ngIf="show" class="col-4">
                    <input matInput [(ngModel)]="searchGrid" (ngModelChange)="onFilterChanged($event);" autocomplete="off"  placeholder="">
                    <mat-icon class="search-filter-icon" (click)="toggleSearch();" aria-label="search">
                        <span class="zmdi zmdi-close"></span>
                    </mat-icon> 
                </mat-form-field>
                <button mat-raised-button class="submit-button kpi-create" color="primary" routerLink="/{{paths[0].createKPI}}">Create KPI</button>
                <button mat-icon-button style="margin-left: 12px;" [disableRipple]="true" [matMenuTriggerFor]="kpiEditorMenu" aria-label="Example icon-button with a menu" [style.display]="showGlobalOperation ? 'block' : 'none'">
                    <mat-icon class="icon-button vertical-kpi" style="color:black !important;"><span class="zmdi zmdi-more-vert"></span></mat-icon>
                </button>
                <mat-menu #kpiEditorMenu="matMenu" class="kpi-editor-menu-render" xPosition="before">
                    <button mat-menu-item>
                        <span>Print</span>
                    </button>
                    <button mat-menu-item>
                        <span>Download</span>
                    </button>
                    <button mat-menu-item (click)="openBulkDeleteDialog()">
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <mat-divider style="position: relative;"></mat-divider>
    <div class="kpi-editor-table-container">
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-material ag-jcp3" 
            rowHeight="48"
            headerHeight="48" 
            [gridOptions]="gridOptions" 
            [columnDefs]="columnDefs" 
            [rowData]="rowData" 
            enableColResize
            enableSorting 
            enableFilter 
            groupHeaders
            [suppressCellSelection]="true" 
            toolPanelSuppressGroups
            toolPanelSuppressValues
            rowSelection="multiple"
            [enableRangeSelection]="true"
            [paginationPageSize]="PaginationPageSize"
            [pagination]="true"
            [suppressPaginationPanel]="true"
            [suppressRowClickSelection]="true"
            [groupSelectsChildren]="true"
            [debug]="true"
            [frameworkComponents]="frameworkComponentsKPIEditor" 
            (gridReady)="onReady($event)"
            (selectionChanged)="selectionChanged($event)">
        </ag-grid-angular>
        <app-pagination 
            [pageSize]="PaginationPageSize"
            [gridApi]="gridAPI"
            [noOfPages]="gridAPI?.paginationGetTotalPages()"
            [rowCount]="gridAPI?.getDisplayedRowCount()"
            [paginationArray] = "[10, 20, 30, 40]"
        ></app-pagination>
    </div>
</mat-card>
