$border-color: #e0e0e0;
$blueactive-color: #0078D7;
$blueactive-color: #E5F0FC;
$border-color: #d3d5d7;
$md-primary: #0070DB;
$color-white: #ffffff;
$color-grayBlue: #464d69;


.ont-wrapper {
    height: 99%;
    .mat-tab-body-content {
        overflow: hidden !important;
    }
    .header-right {
        width: 50%;
        position: absolute;
        right: 0;
    }
    .create-wo {
        position: absolute;
        top: 12px;
        padding: 0 10px;
    }
    .wpf-search {
        display: inline-block; 
        position:relative; 
        top: 5px;
    }
    .ont-module-card {
        box-shadow: none !important;
        padding: 0  !important;
        .wpt-toolbar {
            min-height: 54px;
            &.mat-toolbar {
                background: white;
                height: 60px;
                padding: 0px;
                min-height: 54px;
                color: $color-grayBlue;
                .mat-toolbar-row {
                    color: $color-grayBlue;
                    mat-icon {
                        font-size: 18px;
                        color: $color-grayBlue;
                    }
                    .wo-header {
                        margin-left: 13px;
                        .header {
                            font-size: 15px;
                            color: $color-grayBlue;
                            font-family: lato bold;
                        }
                    }
                    .wpt-flex-item {
                        height: 50px;
                        >mat-form-field {
                            .mat-form-field-wrapper {
                                padding-bottom: 0px !important;
                            }
                        }
                    }
                   
                    .Sub-header {
                        color: $color-grayBlue;
                    }
                }
            }
        }
    }
    
    .td-flex-container {
        height: 85px;
        margin: 10px !important;
        > div {
            border: 1px solid #E6E6E6;
        &.wpf-all-task {
            .wpf-task-status {
                .task-status {
                    font-size: 12px;
                    text-align: center;
                    > mat-icon {
                        display: inline-block;
                        position: relative;
                    }
                    >div {
                        margin-top: -6px;
                        font-size:  12px;
                        font-family: lato bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .wpf-task-count {
                margin: 11px 0;
                .task-count {
                    text-align: center;
                    font-family: lato bold;
                    font-size: 32px;
                    letter-spacing: 0px;
                    color: #464D69;
                }
                .task-count-status {
                    text-align: center;
                    color: #464D69;
                    font-family: lato medium;
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }   
        }
        &.wpf-not-started {
            .wpf-task-status {
                .task-status {
                    font-size: 12px;
                    text-align: center;
                    > mat-icon {
                        display: inline-block;
                        position: relative;
                    }
                    >div {
                        margin-top: -6px;
                        font-size:  12px;
                        font-family: lato bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .not-at-risk {
                margin: 11px 0;
                border-right:1px solid #E6E6E6;
                .task-count {
                    text-align: center;
                    font-family: lato bold;
                    font-size: 32px;
                    letter-spacing: 0px;
                    color: #464D69;
                }
                .task-count-status {
                    text-align: center;
                    color: #464D69;
                    font-family: lato medium;
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            } 
            .at-risk {
                margin: 11px 0;
                .task-count {
                    text-align: center;
                    font-family: lato bold;
                    font-size: 32px;
                    letter-spacing: 0px;
                    color: #F32323;
                }
                .task-count-status {
                    text-align: center;
                    color: #F32323;
                    font-family: lato medium;
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }  
    
        }
        .mat-icon-not-started  {
            background: #000000;
            opacity: 40% !important;
            font-size: 48px;
            border-radius: 39px;
            height: 38px;
            width: 38px;
            box-shadow: 0px 0px 0px 4px #888888;
            margin-top: 12px;
            > span {
                font-size: 16px;
                vertical-align: top;
                line-height: 2.5;
            }
            >span:before {
                color: white;
            }
        }
    
        .mat-icon-all  {
            background: #00BCD6;
            font-size: 48px;
            border-radius: 39px;
            height: 38px;
            width: 38px;
            box-shadow: 0px 0px 0px 4px #CCDADB;
            margin-top: 12px;
            > span {
                font-size: 16px;
                vertical-align: top;
                line-height: 2.5;
            }
            >span:before {
                color: white;
            }
        }
    
        .mat-icon-in-progress {
            background: #F8C93A;
            font-size: 48px;
            border-radius: 39px;
            height: 38px;
            width: 38px;
            box-shadow: 0px 0px 0px 4px #EADDAE;
            margin-top: 12px;
            > span {
                font-size: 16px;
                vertical-align: top;
                line-height: 2.5;
            }
            >span:before {
                color: white;
            }
        }
    
        .mat-icon-completed  {
            background: #60DD5C;
            font-size: 48px;
            border-radius: 39px;
            height: 38px;
            width: 38px;
            box-shadow: 0px 0px 0px 4px #BAE3BA;
            margin-top: 12px;
            > span {
                font-size: 16px;
                vertical-align: top;
                line-height: 2.5;
            }
            >span:before {
                color: white;
            }
        }
    }
    
    .task-search{
        position: absolute;
        right: 0;
        width: 30%;
        display: inline-block;
        .auto-assign-btn {
            position: absolute;
            right: 23px;
            top: 19px;
        }
    }

        
    .workorder-filter {
        background: transparent;
        position: absolute;
        right: 22px;
        border: none;
        margin-top: 20px;
        font-size: 18px;
        color: #7E7E7E;
    }

    
}


.ont-wrapper {
    .ont-module-card {
        .header-right {
            mat-form-field {
                .mat-form-field-wrapper {
                    padding-bottom: 0 !important;
                    .mat-form-field-flex {
                        .mat-form-field-infix  {
                            top: -19px !important;
                            padding: 0.7000em 0 !important;
                            >input {
                                font-family: lato normal;
                                font-size: 16px;
                            }
                            mat-icon {
                                bottom: -18px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ont-wrapper {
    .td-tab-details {
        .td-tabs {
            .td-tab-group {
                .mat-tab-body-wrapper {
                    > mat-tab-body {
                        overflow-y: hidden;
                        >div {
                            overflow: hidden;
                        }
                    }
                }
                mat-tab-header {
                    width: 50%;
                }
            }
        }
    }
}
