<div class="h-100">
    <mat-card class="active-alarm p-0">
        <mat-toolbar class="create-report-toolbar">
            <mat-toolbar-row fxLayout="row wrap" class="mat-blue-grey" style="height: inherit;">
                <div class="px-3" fxFlex="100" style="height: inherit;">
                    <div class="header" style="line-height: 3.5;">RAN</div>
                    <div fxFlex></div>
                    <div class="py-2">
                        <button mat-icon-button>
                            <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                <div class="zmdi zmdi-search"></div>
                            </mat-icon>
                        </button>
                    </div>
                    <div class="toggleHeader px-3" fxLayout="row" fxLayoutAlign="space-around center">
                        <div>4G</div>
                        <div style=" padding-left: 10px;">
                            <button style="line-height: 1px;" mat-button class="mx-2 icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                                <mat-slide-toggle color="primary" [(ngModel)]="toggleVersion"
                                    (change)="onChangeToggleVersion(toggleVersion)">
                                </mat-slide-toggle>
                            </button>
                        </div>
                        <div>5G</div>
                    </div>
                    <mat-divider class=" my-2" [vertical]="true"></mat-divider>
                    <div class=" px-2" style="line-height: 2.5;">
                        <button mat-icon-button class=" px-2" (click)="toggleShow()">
                            <mat-icon class="iconType" style="font-size: 18px;">
                                <div *ngIf="!isShownChartOrTable" class="ic ic-table1-01" style="line-height: 1.5;">
                                </div>
                                <div *ngIf="isShownChartOrTable" class="ic ic-graph-01" style="line-height: 1.5;"></div>
                            </mat-icon>
                        </button>
                        <button mat-icon-button class=" px-2">
                            <mat-icon class="iconType" style="font-size: 25px;line-height: 0px;">
                                <div class="zmdi zmdi-time-restore"></div>
                            </mat-icon>
                        </button>
                    </div>
                    <div fxFlex="15" class="my-2 header-date-picker-type">
                        <!-- <div class="title">Last Updated</div>
                        <div class="sub-title">25 Oct, 2016, 2:30 PM</div> -->
                        <form [formGroup]="thirdFormGroup">
                            <mat-form-field class="custom-field-container" fxFlex="90" style="font-size: 14px;">
                                <div class="daterange-container" style="top: 205px;
                            left: 74px;">
                                    <input matInput ngxDaterangepickerMd placeholder="Select Date & Time" [timePicker]="true" [timePickerSeconds]="true" [timePickerIncrement]="15" [timePicker24Hour]="false" formControlName="selectedDateTime" [showCustomRangeLabel]="true" [alwaysShowCalendars]="thirdFormGroup.get('alwaysShowCalendars').value"
                                        [ranges]="ranges" [showClearButton]="true" [showCancel]="true" [linkedCalendars]="false" [isTooltipDate]="isTooltipDate" [isInvalidDate]="isInvalidDate" [locale]="{ applyLabel: 'Ok', format: 'DD, MMM YYYY, h:mm A',clearLabel:'Clear'}"
                                        [keepCalendarOpeningWithRange]="thirdFormGroup.get('keepCalendarOpeningWithRange').value" [showRangeLabelOnInput]="thirdFormGroup.get('showRangeLabelOnInput').value" (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdated($event)"
                                        autocomplete="off" [opens]="opens" [drops]="drops" class="daterange-container-input" />
                                    <div class="iconCal"><i class="zmdi zmdi-calendar"></i></div>
                                    <!-- <ngx-daterangepicker-material class="daterange-dropdown"></ngx-daterangepicker-material> -->
                                </div>
                            </mat-form-field>
                        </form>

                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div class="px-3">
            <div fxLayout="row wrap" class="filter-group-row" style="    line-height: 4;">
                <div class="p-3" fxFlex="15" style="padding-bottom: 0px !important;">
                    <mat-form-field fxFlex="100">
                        <mat-select disableOptionCentering placeholder="Circle" [formControl]="selectJcControl" ngDefaultControl #selectJcControlSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Circle" [formControl]="selectJcFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let selectJc of selectJcFilter | async" [value]="selectJc">
                                {{selectJc.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-3" fxFlex="15" style="padding-bottom: 0px !important;">
                    <mat-form-field fxFlex="100">
                        <mat-select disableOptionCentering placeholder="Jio Center" [formControl]="cityControl" ngDefaultControl #cityNameControlSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Jio Center" [formControl]="cityFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let city of cityFilter | async" [value]="city">
                                {{city.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-3" fxFlex="15" style="padding-bottom: 0px !important;">
                    <mat-form-field fxFlex="100">
                        <mat-select disableOptionCentering placeholder="Node" [formControl]="NodeTypeControl" ngDefaultControl #NodeTypeControlSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Node" [formControl]="NodeTypeFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let NodeType of NodeTypeFilter | async" [value]="NodeType">
                                {{NodeType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-3" fxFlex="15" style="padding-bottom: 0px !important;">
                    <mat-form-field fxFlex="100">
                        <mat-select disableOptionCentering placeholder="Vendor" [(value)]="vendor">
                            <mat-option value="Airspan" selected>Airspan</mat-option>
                            <mat-option value="Samsung">Samsung</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-3" fxFlex="15" style="padding-bottom: 0px !important;">
                    <button mat-stroked-button color="primary" class="buttonWidth">Apply</button>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="p-3" fxFlex="23" style="padding-right:0 !important;padding-bottom: 0px;">
                    <mat-form-field fxFlex="100">
                        <!-- <mat-select [multiple]="true" disableOptionCentering placeholder="Select Graph" [formControl]="selectGraphControl" ngDefaultControl #selectGraphControlSelect> -->
                        <mat-select [matTooltip]="getToolTipDEata(selectGraphControl)" [multiple]="true" disableOptionCentering placeholder="Select Graph" [formControl]="selectGraphControl" ngDefaultControl #selectGraphControlSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Select Graph" [formControl]="selectGraphFilterControl" noEntriesFoundLabel="no matching found" ngDefaultControl>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let selectGraph of selectGraphFilter | async" [value]="selectGraph">
                                {{selectGraph.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
    <div class="active-alarm-main-content" style="padding-top: 10px; margin-bottom: 10px; height: calc(100% - 99px);overflow: auto;">

        <mat-grid-list class="jcp-landing-grid-list" cols="6" row="2" rowHeight="400px" [gutterSize]="'10px'">
            <mat-grid-tile class="jcp-landing-grid-tile-one" *ngFor="let tile of tiles; let i=index" [colspan]="tile.cols" [rowspan]="tile.rows">
                <mat-card class="jcp-landing-card p-0 w-100 h-100">

                    <div *ngIf="tile.text == 'Active Alarm Classification'">
                        <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                            <div class="jcp-landing-title">{{tile.text}}</div>
                            <div fxFlex></div>
                            <div class="jcp-landing-right-container" fxLayout="row wrap">
                                <div>
                                    <button mat-icon-button (click)="tableViewWidget('Active Alarm Classification',tableWidget,isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                            <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                            <!-- <div *ngIf="isShownChartOrTable" class="ic ic-graph-01"></div> -->
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="expandViewWidget('Active Alarm Classification',isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                            <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                                class="zmdi zmdi-more-vert"></span></mat-icon>
                                    </button>
                                    <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                        <button mat-menu-item>
                                            <span>Download</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="jcp-landing-card-content">
                            <app-alarm-summary-chart *ngIf="!isShownChartOrTable" [data]="'Active Alarm Classification'">
                            </app-alarm-summary-chart>
                            <app-alarm-summary-table *ngIf="isShownChartOrTable" [dataTable]="'Active Alarm Classification'">
                            </app-alarm-summary-table>
                            <!-- <app-alarm-summary-table *ngIf="isShownTableEach" [dataTable]="singleTableName">
                            </app-alarm-summary-table> -->
                        </div>
                    </div>
                    <div *ngIf="tile.text == 'Active Alarm Ageing'">
                        <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                            <div class="jcp-landing-title">{{tile.text}}</div>
                            <div fxFlex></div>
                            <div class="jcp-landing-right-container" fxLayout="row wrap">
                                <div>
                                    <button mat-icon-button (click)="tableViewWidget('Active Alarm Ageing',tableWidget,isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                            <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                            <!-- <div *ngIf="isShownChartOrTable" class="ic ic-graph-01"></div> -->
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="expandViewWidget('Active Alarm Ageing',isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                            <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                                class="zmdi zmdi-more-vert"></span></mat-icon>
                                    </button>
                                    <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                        <button mat-menu-item>
                                            <span>Download</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="jcp-landing-card-content">
                            <app-alarm-summary-chart *ngIf="!isShownChartOrTable" [data]="'Active Alarm Ageing'">
                            </app-alarm-summary-chart>
                            <app-alarm-summary-table *ngIf="isShownChartOrTable" [dataTable]="'Active Alarm Ageing'">
                            </app-alarm-summary-table>
                        </div>
                    </div>
                    <div *ngIf="tile.text == 'Circles wise SA Active Alarms with Ageing distribution'">
                        <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                            <div class="jcp-landing-title">{{tile.text}}</div>
                            <div fxFlex></div>
                            <div class="jcp-landing-right-container" fxLayout="row wrap">
                                <div>
                                    <button mat-icon-button (click)="tableViewWidget('Circles wise SA Active Alarms with Ageing distribution',tableWidget,isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                            <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                            <!-- <div *ngIf="isShownChartOrTable" class="ic ic-graph-01"></div> -->
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="expandViewWidget('Circles wise SA Active Alarms with Ageing distribution',isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                            <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                                class="zmdi zmdi-more-vert"></span></mat-icon>
                                    </button>
                                    <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                        <button mat-menu-item>
                                            <span>Download</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="jcp-landing-card-content">
                            <app-alarm-summary-chart *ngIf="!isShownChartOrTable" [data]="'Circles wise SA Active Alarms with Ageing distribution'">
                            </app-alarm-summary-chart>
                            <app-alarm-summary-table *ngIf="isShownChartOrTable" [dataTable]="'Circles wise SA Active Alarms with Ageing distribution'">
                            </app-alarm-summary-table>
                        </div>
                    </div>
                    <div *ngIf="tile.text == 'Alarms vs Outage Minutes'">
                        <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                            <div class="jcp-landing-title">{{tile.text}}</div>
                            <div fxFlex></div>
                            <div class="jcp-landing-right-container" fxLayout="row wrap">
                                <div>
                                    <button mat-icon-button (click)="tableViewWidget('Alarms vs Outage Minutes',tableWidget,isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                            <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                            <!-- <div *ngIf="isShownChartOrTable" class="ic ic-graph-01"></div> -->
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="expandViewWidget('Alarms vs Outage Minutes',isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                            <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                                class="zmdi zmdi-more-vert"></span></mat-icon>
                                    </button>
                                    <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                        <button mat-menu-item>
                                            <span>Download</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="jcp-landing-card-content">
                            <app-alarm-summary-chart *ngIf="!isShownChartOrTable" [data]="'Alarms vs Outage Minutes'">
                            </app-alarm-summary-chart>
                            <app-alarm-summary-table *ngIf="isShownChartOrTable" [dataTable]="'Alarms vs Outage Minutes'">
                            </app-alarm-summary-table>
                        </div>
                    </div>
                    <div *ngIf="tile.text == 'Sites with > 24Hr Outage'">
                        <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                            <div class="jcp-landing-title">{{tile.text}}</div>
                            <div fxFlex></div>
                            <div class="jcp-landing-right-container" fxLayout="row wrap">
                                <div>
                                    <button mat-icon-button (click)="tableViewWidget('Sites with > 24Hr Outage',tableWidget,isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                            <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                            <!-- <div *ngIf="isShownChartOrTable" class="ic ic-graph-01"></div> -->
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="expandViewWidget('Sites with > 24Hr Outage',isShownChartOrTable)">
                                        <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                            <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                        </mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                                class="zmdi zmdi-more-vert"></span></mat-icon>
                                    </button>
                                    <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                        <button mat-menu-item>
                                            <span>Download</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="jcp-landing-card-content">
                            <app-alarm-summary-chart *ngIf="!isShownChartOrTable" [data]="'Sites with > 24Hr Outage'">
                            </app-alarm-summary-chart>
                            <app-alarm-summary-table *ngIf="isShownChartOrTable" [dataTable]="'Sites with > 24Hr Outage'">
                            </app-alarm-summary-table>
                        </div>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>