$border-color: #e0e0e0;
$blueactive-color: #0078D7;
$blueactive-color: #E5F0FC;
$border-color: #d3d5d7;
$md-primary: #0070DB;
$color-white: #ffffff;
$color-grayBlue: #464d69;
.active-alarm {
    .create-report-toolbar {
        min-height: 54px;
        &.mat-toolbar {
            background: $color-white;
            height: 54px;
            padding: 0px;
            min-height: 54px;
            color: $color-grayBlue;
            .mat-toolbar-row {
                color: $color-grayBlue;
                font-size: 18px;
                font-weight: 500;
                mat-icon {
                    font-size: 18px;
                    color: $color-grayBlue;
                }
                .toggleHeader {
                    font-size: 16px;
                    font-family: 'Lato Medium';
                }
                .header {
                    font-size: 15px;
                    color: $color-grayBlue;
                    font-weight: 400;
                    font-family: 'Lato Bold';
                    line-height: 2.5;
                }
                .header-date-picker-type {
                    .no-padding {
                        .mat-form-field-wrapper {
                            .mat-form-field-flex {
                                .mat-form-field-infix {
                                    padding: 0 0 !important;
                                    border-top: 0.84375em solid transparent;
                                }
                            }
                        }
                    }
                }
                .Sub-header {
                    font-weight: 400;
                    color: $color-grayBlue;
                }
                .Sub-header-title {
                    font-weight: 400;
                    color: #464d69b3;
                    font-size: 12px;
                    font-family: "Lato Medium";
                    line-height: 3.1;
                }
                .title {
                    font-size: 12px;
                    font-family: 'Lato Regular';
                    line-height: 1.75;
                }
                .sub-title {
                    font-size: 14px;
                    font-family: 'Lato Medium';
                    line-height: 1.5;
                }
            }
        }
    }
    .filter-group-row {
        .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            // padding-bottom: 0 !important;
        }
    }
}

.active-alarm-main-content {
    .jcp-landing-grid-list {
        height: 99%;
        .jcp-landing-grid-tile-one {
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        color: #464D69;
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        line-height: 4;
                        height: 43px;
                        .jcp-landing-right-inputs {}
                    }
                }
                .jcp-landing-card-content {
                    height: calc(100% - 43px);
                    .jcp-landing-card-container {
                        height: 100%;
                        .jcp-landing-card-subheader {
                            .jcp-landing-card-subheader-title {
                                color: #FC5F5F;
                                font-family: Lato Bold;
                                font-size: 19px;
                            }
                            .jcp-landing-card-subheader-subtitle {
                                color: #707070;
                                font-family: Lato Regular;
                                font-size: 12px;
                                margin-top: 10px;
                                margin-left: 5px;
                            }
                        }
                        .jcp-landing-card-chart-container {
                            height: calc(100% - 28px);
                            #dailyTrafficChartID {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .jcp-landing-grid-tile-two {
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        color: #464D69;
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        line-height: 4;
                        height: 43px;
                        .jcp-landing-right-inputs {
                            height: 43px;
                        }
                    }
                }
                .sites-details-card-content {
                    height: calc(100% - 43px);
                    width: 100%;
                    display: block;
                    .sites-details-container {
                        width: 100%;
                        height: 16.8%;
                        border-bottom: 1px solid #e0e0e0;
                        .sites-details-row {
                            height: 100%;
                            .sites-details-icon {
                                width: 40px;
                                height: 40px;
                                background: RGBA(0, 112, 219, 0.14);
                                color: #0070DB;
                                border-radius: 25px;
                                padding: 9px 11px;
                                font-size: 20px;
                            }
                            .sites-details-title {
                                color: #464D69;
                                font-size: 12px;
                                font-family: Lato Medium;
                            }
                            .sites-details-count {
                                color: #464D69;
                                font-size: 15px;
                                font-family: Lato Bold;
                            }
                        }
                    }
                }
            }
        }
        .jcp-landing-grid-tile-three {
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        color: #464D69;
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        line-height: 4;
                        height: 43px;
                        .jcp-landing-right-inputs {}
                    }
                }
                .jcp-landing-card-content {
                    height: calc(100% - 43px);
                    .jcp-landing-card-container {
                        height: 100%;
                        .jcp-landing-card-subheader {
                            .jcp-landing-card-subheader-title {
                                color: #0FD125;
                                font-family: Lato Bold;
                                font-size: 19px;
                            }
                            .jcp-landing-card-subheader-subtitle {
                                color: #707070;
                                font-family: Lato Regular;
                                font-size: 12px;
                                margin-top: 10px;
                                margin-left: 5px;
                            }
                        }
                        .jcp-landing-card-chart-container {
                            height: calc(100% - 28px);
                            #chartTotalSubscriberID {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .jcp-landing-grid-tile-four {
            .jcp-landing-card {
                .jcp-landing-card-header {
                    height: 43px;
                    .jcp-landing-title {
                        color: #464D69;
                        font-size: 15px;
                        font-family: Lato Bold;
                    }
                    .jcp-landing-right-container {
                        font-size: 11px;
                        font-family: Lato Regular;
                        line-height: 4;
                        height: 43px;
                        .jcp-landing-right-inputs {}
                    }
                }
                .usage-metrics-card-content {
                    .usage-metrics-container {
                        height: 69px;
                        width: 85%;
                        .usage-metrics-row {
                            height: 69px;
                            .usage-metrics-col {
                                height: 69px;
                                .usage-metrics-inner-row {
                                    padding: 5px 0;
                                    .usage-metrics-icon {
                                        color: #0070DB;
                                        width: 22px;
                                        height: 22px;
                                        font-size: 20px;
                                    }
                                    .usage-metrics-count {
                                        font-size: 15px;
                                        font-family: Lato Bold;
                                        color: #464D69;
                                    }
                                    .usage-metrics-title {
                                        font-size: 13px;
                                        font-family: Lato Medium;
                                        color: #7C8195;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ::ng-deep .no-padding.mat-form-field-appearance-outline .mat-form-field-wrapper {
//     margin: 0;
// }