@import "@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material.scss";

.overshooting-cell-container {
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
   
    height: 800px;
    overflow: auto;
    .oc-toolbar {
        background: #1976d2;

        color: #ffffff;
        //padding:1rem;
        font-family: "Lato Medium", sans-serif;
        // height: 50px;
    }

    .popup-title {
        color: #ffffff;

        padding: 10px;

        .header {
            padding-left: 5px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.01em;
            line-height: 24px;
            display: flex;

            .rantext {
                flex: 2;
            }
            .close-popup {
                flex: 1;
                border: none;
                border-radius: 50px;
                background: #1976d2;
                color: #ffffff;
            }
        }
    }

    .woranrf-oc-lead {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #fafafa;
        padding: 1rem;
        color: #000000;
        border-bottom: 1px solid #cccccc;
        p {
            margin: 0;
        }
    }
    .main-content {
        padding: 1rem;
        background: #ffffff;
        .task-retrigger-details {
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12);
            header {
                font-size: 1rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: #000000;
                padding: 1rem;
                border-bottom: 1px solid #cccccc;
                background: #f2f2f2;
                h1 {
                    font-size: 1rem;
                }
            }
        }
        .site-details {
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12);
            header {
                font-size: 1rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: #000000;
                padding: 1rem;
                border-bottom: 1px solid #cccccc;
                background: #f2f2f2;
                h1 {
                    font-size: 1rem;
                }
            }
            .sitedetails-row {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .sitedetails-cell,
                .sitepdetails-cell {
                    color: #000000;
                }
            }
        }

        .site-parameter-details {
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12);
            header {
                font-size: 1rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: #000000;
                padding: 1rem;
                border-bottom: 1px solid #cccccc;
                background: #f2f2f2;
                h1 {
                    font-size: 1rem;
                }
            }
            .sitepdetails-row {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .sitepdetails-cell {
                    color: #000000;
                }
            }
        }
    }
}

.boxshadowdiv {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.header-styles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
    color: #000000;
    padding: 1rem;
    border-bottom: 1px solid #cccccc;
    background: #f2f2f2;
    h1 {
        flex: 50;
        font-size: 1rem;
    }
    .clone-btn {
        flex: 1;
    }
}

.footer {
    width:100%;
   height: 50px;
    color: #000000;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    left:0;
z-index: 999;
background: #f2f2f2;
border-top: 1px solid #cccccc;
}
.os-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.os-cell {
    flex: 0 0 30%;
    .details {
        font-size:14px;
        color: #cecece;
    }
}
.sol-imp-row {
    color: #000000;
}
.sol-impl-details-title {
    color: #000000;
}
.solution-implementation {
   
}

.oscontainer {
    padding: 2rem;
}

.imp-details-row, .suggestions-row {
    color:#000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .impcell, .suggestions-cell {
        width: 265px;
        margin-right:2rem;
    }
   
}
.suggestions-body {
    padding: 2rem;
}

.submit-btn {
    background: #1976d2;
    color: #ffffff;
    border: none;
    border-radius:5px;
    padding:0.4rem 0.8rem;
}

:host .mat-radio-button {
    margin-right:20px;
}
