<div class="p-0" style="height: calc(100% - 10px);">
    <mat-card class="twamp-live-dashboard-top-card p-0 mb-3 mx-0" style="height: 150px;">
        <form [formGroup]="twampForm">
            <div fxLayout="row wrap" class="p-3">

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="geographyListValue" placeholder="Circle-A" disableOptionCentering
                        formControlName="geographyList">
                        <input matInput [(ngModel)]="searchGeographyListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of geographyList | filter:searchGeographyListValue"
                            [value]="item.geography_name">
                            {{item.geography_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="geographyListValue" placeholder="Circle-B" disableOptionCentering
                        formControlName="geographyList">
                        <input matInput [(ngModel)]="searchGeographyListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of geographyList | filter:searchGeographyListValue"
                            [value]="item.geography_name">
                            {{item.geography_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="twamp-field-container px-4">
                    <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="kpiListValue" placeholder="Central Probe Server-A" disableOptionCentering
                        formControlName="kpiList">
                        <input matInput [(ngModel)]="searchKpiListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option>
                            Nothing Selected
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="kpiListValue" placeholder="Central Probe Server-B" disableOptionCentering
                        formControlName="kpiList">
                        <input matInput [(ngModel)]="searchKpiListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option>
                            Nothing Selected
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="twamp-field-container px-4" fxFlex="auto">
                    <mat-select [(value)]="dscpListValue" placeholder="DSCP" disableOptionCentering
                        formControlName="dscpList">
                        <input matInput [(ngModel)]="searchDscpListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search...."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of dscpList | filter:searchDscpListValue" [value]="item.dscp_name">
                            {{item.dscp_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="d-flex">
                <div class="col"></div>
                <div class="px-5 py-1 my-flex-item">
                    <button mat-raised-button color="primary" type="submit" class="buttonWidth">Submit</button>
                </div>
            </div>
        </form>
    </mat-card>
    <div style="overflow-x: hidden;overflow-y: auto;height: calc(100% - 161px);">
        <mat-card class="twamp-ag-grid p-0" style="height: 330px">
            <div class="flex-row">
                <div class="ml-3 py-3 ag-grid-twamp-title col-4">TWAMP MGW BGW SAEGW Circle A</div>
                <mat-form-field class="twamp-field-container px-4 col-2" fxFlex="auto">
                    <mat-select [(value)]="kpiListValue" placeholder="enodeB-A" disableOptionCentering
                        formControlName="kpiList">
                        <input matInput [(ngModel)]="searchKpiListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option>
                            Nothing Selected
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="twamp-field-container px-4 col-2" fxFlex="auto">
                    <mat-select [(value)]="kpiListValue" placeholder="enodeB-B" disableOptionCentering
                        formControlName="kpiList">
                        <input matInput [(ngModel)]="searchKpiListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option>
                            Nothing Selected
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="twamp-field-container px-4 col-2" fxFlex="auto">
                    <mat-select [(value)]="kpiListValue" placeholder="Type" disableOptionCentering disabled
                        formControlName="kpiList">
                        <input matInput [(ngModel)]="searchKpiListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option>
                            Metro
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="twamp-field-container px-4 col-2" fxFlex="auto">
                    <mat-select [(value)]="kpiListValue" placeholder="Central Probe Server-B" disableOptionCentering
                        formControlName="kpiList">
                        <input matInput [(ngModel)]="searchKpiListValue" autocomplete="off"
                            [ngModelOptions]="{standalone: true}" placeholder="Search..."
                            style="height: 48px !important;padding-left:15px">
                        <mat-option *ngFor="let item of dscpList | filter:searchDscpListValue" [value]="item.dscp_name">
                            {{item.dscp_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider style="position: relative;"></mat-divider>
            <ag-grid-angular style="width: 100%; height: calc(100% - 70px)"
                class="twamp-grid-live ag-theme-material ag-jcp3" [rowData]="rowData" [columnDefs]="columnDefs"
                [groupHeaderHeight]="28" [headerHeight]="28" [gridOptions]="twampGridOptions"
                [suppressHorizontalScroll]="true" (gridReady)="onReady($event)">
            </ag-grid-angular>
        </mat-card>

        <mat-card class="mx-0 p-0" style="height: 330px; margin-top: 20px">
            <div class="ml-3 py-3 ag-grid-twamp-title"> TWAMP PROBE SERVER Circle A to Circle B</div>
            <mat-divider style="position: relative;"></mat-divider>
            <ag-grid-angular style="width: 100%; height: calc(100% - 70px)" [rowData]="rowDataTwampProbe"
                class="twamp-grid-live-violation ag-theme-material ag-jcp3" [groupHeaderHeight]="28" [headerHeight]="28"
                [icons]="icons" [columnDefs]="columnDefsTwampProbe" [groupHeaderHeight]="28" [headerHeight]="28"
                [gridOptions]="twampProbeGridOptions" [suppressHorizontalScroll]="true" (gridReady)="onReady($event)">
            </ag-grid-angular>
        </mat-card>

        <mat-card class="mx-0 p-0" style="height: 330px; margin-top: 20px">
            <div class="ml-3 py-3 ag-grid-twamp-title"> TWAMP MGW BGW SAEGW Circle B</div>
            <mat-divider style="position: relative;"></mat-divider>
            <ag-grid-angular style="width: 100%; height: calc(100% - 70px)"
                class="twamp-grid-live ag-theme-material ag-jcp3" [rowData]="rowDataTwampCircleB"
                [columnDefs]="columnDefs" [groupHeaderHeight]="28" [headerHeight]="28"
                [gridOptions]="twampCircleBGridOptions" [suppressHorizontalScroll]="true" (gridReady)="onReady($event)">
            </ag-grid-angular>
        </mat-card>
    </div>

</div>