$blue-color: #3ea7e1;
$grey-color:#707070;
$black-color: #000000;
$dark-blue-color: #1792E6;
$darkest-blue-color: #0078D7;
$blueshade-color: #E5F0FC;
$lightgrey-color: #eaecec;
$arrow-color: #0063C2;
$px25: 25px;
$px33: 33px;
$px14: 14px;
$px20: 20px;
$px15: 15px;
$px16: 16px;
$px18: 18px;
$px3: 3px;
$px52: 52px;
$px5: 5px;

.mm-wrapper {
    position: static;
}

.mm-panel_iconpanel-first {
    .ic {
        font-size: $px20;
        color: $grey-color;
        line-height: $px25;
        width: $px33;
        margin-right: $px15;
        float: left;
        -webkit-transition: color 1s ease;
        -o-transition: color 1s ease;
        transition: color 1s ease;
    }
}

.mm-listitem__btn {
    margin-right: $px18;
    
    &:not(.mm-listitem__text) {
        border: none !important;
    }
}

.mm-menu_selected-parent {
    .mm-listitem__text{
        font-size: $px14;
        font-family: Lato Medium;
        line-height: 2;
    }
    .mm-listitem_selected-parent {
        .ic {
            color: $dark-blue-color !important;
        }
        .mm-listitem__text {
            background-color: $blueshade-color;
            border-left: $px3 solid $darkest-blue-color;
            padding-left: $px16;

            &:hover {
                background-color: $lightgrey-color;
                border-top-right-radius: $px15;
                border-bottom-right-radius: $px15;
                margin-right: $px18;
            }
        }
    }
}

.mm-menu_selected-hover {
    .mm-listitem__text {
        &:hover {
            background-color: $lightgrey-color;
            border-top-right-radius: $px25;
            border-bottom-right-radius: $px25;
            margin-right: $px18;
            height: $px52;
        }
    }
}

.mm-panel_opened {
    margin-top: 0;
    overflow: unset;
    .mm-navbar_sticky {
        margin-left: -59px;
            .mm-navbar__btn {
                &::before {
                    border-left: 2px solid #0063C2;
                    border-top: 2px solid #0063C2;
                }
            }
    }
}
.mm-listitem {
    height: $px52;
}

.mm-navbar__btn {
    &:not(.mm-hidden)+.mm-navbar__title:last-child {
        padding-right: 0px;
        margin-left: -39px;
        font-size: $px14;
        font-family: Lato Medium;
        padding-top: $px15;
        padding-bottom: $px15;
    }
}

.mm-navbar__title>span {
    overflow: visible;
}

.mm-menu {
    .mm-panel_opened, .mm-panel_opened-parent {
        &:not(.mm-panel_iconpanel-first) {
            left: 58px !important;
        }
    }
}

.mm-navbar__title {
    font-size: $px14;
    font-family: Lato Medium;
    padding-top: $px15;
    padding-bottom: $px15;
}

.mm-menu_position-bottom {
    height: 100vh !important;
}