<div class="config-container" style="height: 600px;">
    <div class="config-topbar px-2">
        <div class="config-title p-3">Configuration - I-MU-KLDM-ENB-0030</div>
        <button class="close-popup mat-icon-button" (click)="close()">
            <span class="material-icons">
                close
            </span></button>


    </div>

    <div class="config-dialog-content" style="height: 600px;">
        <div class="config-header d-flex justify-content-space-between align-items-center">
            <div class="config-topbar-left">
                <div class="band">
                    <mat-form-field appearance="fill">
                        <h6 class="font12">Bands</h6>
                        <mat-select class="font12" [(value)]="selectedBands">
                            <mat-option *ngFor="let band of bands" [value]="band.value" >
                                {{band.viewValue}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>


                </div>
                <div class="sector">
                    <mat-form-field appearance="fill">
                        <h6 class="font12">Sectors</h6>
                        <mat-select class="font12" [(value)]="selectedSector">
                            <mat-option *ngFor="let sector of sectors" [value]="sector.value">
                                {{sector.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
            </div>
            <div class="config-topbar-right">
                <div class="iconwrapper">
                    <div class="icon-button">
                        <div class="zmdi zmdi-search"></div>

                    </div>
                    <div class="icon-button">
                        <div class="zmdi zmdi-download"></div>

                    </div>
                    <div class="icon-button">
                        <div class="zmdi zmdi-print"></div>

                    </div>
                    <div class="icon-button">
                        <div class="zmdi zmdi-share"></div>

                    </div>
                    <div class="icon-button">
                        <div class="zmdi zmdi-time-restore"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="config-data-table" style="height: 600px;overflow: auto;">
            <!-- <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-material ag-jcp3" rowHeight="48"
                headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="configColumn" [rowData]="configRow"
                enableColResize enableSorting enableFilter groupHeaders suppressRowClickSelection
                toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                [frameworkComponents]="frameworkComponentsConfigmenu">
            </ag-grid-angular> -->
            <app-table-ag-grid style="width: 100%; height: 600px; overflow:scroll;"></app-table-ag-grid>
        </div>
    </div>
</div>