<div mat-dialog-content class="inter-circle-container w-100">
    <div class="flex-container">
        <div class="d-flex flex-row justify-content-between header">
            <div class="col-6 sector-flex-item" fxFlex>

                <div class="py-3 sector-title">Inter Circle Core to Core Round-Trip Time -Agra to Assansol</div>
            </div>

            <div class="col-1 sector-flex-item" fxFlex>
                <mat-icon class="close-icon" style="line-height: 2;position: relative; left: 43px;"
                    (click)="closeDialog()" aria-label="search">
                    <span class="zmdi zmdi-close"></span>
                </mat-icon>
            </div>
        </div>
    </div>


    
        <div class="jcp-landing-card-chart-container">
            <div id="multiChartConfig" [chart]="thirdChart"></div>
        </div>

</div>