<div class="task-details-wrapper">
    <mat-card class="cia-module-card h-100" style="padding: 0px;">
        <mat-toolbar color="mat-blue-grey" class="create-report-toolbar wo-details">
            <mat-toolbar-row class="mat-blue-grey">
                <div class=" pl-0 wo-header" fxFlex="95">
                    <div class="header" *ngIf="showCreateNewWorkorder">Create New Workorder</div>
                    <div class="header" *ngIf="showCopyToNewWorkorder">Copy To New Workorder</div>
                </div>
                <div class="sector-flex-item" fxFlex="5">
                    <mat-icon  style="line-height: 0; font-size: 15px;color: rgba(0,0,0,0.54);">
                        <span class="ic ic-clustertask"></span></mat-icon>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>


        <mat-divider></mat-divider>

        <div class="d-flex flex-row justify-content-between container">
            <div fxFlex="50" style="border-right: 1px solid #D3D5DC;">
                <div class="sub-content d-flex  flex-row flex-wrap">
                    <div class="sub-content-flex-item p-2 col-6">
                        <mat-form-field class="form-field-read-only">
                            <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                                Template Type*</mat-label>
                            <mat-select *ngIf="showCreateNewWorkorder" disableOptionCentering [(value)]="templateType[0]"
                                style="font-family: lato Regular; font-size: 14px;">
                                <mat-option value="option1" class="sector-title" *ngFor="let tcr of templateType"
                                    [value]="tcr">
                                    {{tcr}}</mat-option>
                            </mat-select>

                            <mat-select *ngIf="showCopyToNewWorkorder" disableOptionCentering [(value)]="templateType[0]"
                            style="font-family: lato Regular; font-size: 14px;" disabled>
                            <mat-option value="option1" class="sector-title" *ngFor="let tcr of templateType"
                                [value]="tcr">
                                {{tcr}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="sub-content d-flex  flex-row flex-wrap" style="border-bottom: 1px solid #D3D5DC;">
                    <div class="sub-content-flex-item p-2 col-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Workorder Id*</mat-label>
                            <input *ngIf="showCreateNewWorkorder" matInput placeholder="" value="">
                            <input *ngIf="showCopyToNewWorkorder" matInput placeholder="" value="" disabled>
                        </mat-form-field>
                    </div>

                    <div class="sub-content-flex-item p-2 col-6">
                        <mat-form-field class="form-field-read-only">
                            <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                                Type*</mat-label>
                            <mat-select disableOptionCentering [(value)]="templateType[0]"
                                style="font-family: lato Regular; font-size: 14px;">
                                <mat-option value="option1" class="sector-title" *ngFor="let tcr of templateType"
                                    [value]="tcr">
                                    {{tcr}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="sub-content d-flex  flex-row flex-wrap">
                    <div class="sub-content-flex-item p-2 col-12" style="padding-bottom: 0px !important;"> 
                        <!-- <div class="w-100 sap-id-label">Upload URLs:*</div> -->
                        <mat-form-field fxFlex="100" class="browse-file-form-field">

                            <input matInput class="input-field" placeholder="Upload URLs:" [(ngModel)]="fileName"
                                [readonly]="true" required>
                            <button style="position: absolute; right: 0; bottom: 0;" class="browse-button"
                                (click)="onClick()" mat-icon-button color="primary"><i class="ic ic-file"></i></button>
                        </mat-form-field>
                        <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=""
                            style="display: none;" />
                    </div>
                    <div class="upload-instruction">Upload excel files only</div>

                    <div class="sub-content-flex-item col-12">
                        <!-- <div class="px-1" fxFlex="70"></div> -->
                        <div style="float: right;">
            
                            <button class="upload-btn next-button button" mat-raised-button
                                color="primary"> <span class="ic ic-upload4"></span> Upload</button>
                        </div>
                    </div>

                </div>

                <div class="sub-content d-flex  flex-row flex-wrap" style="border-bottom: 1px solid #D3D5DC;">
                    <div class="sub-content-flex-item p-2 col-12">
                        <ag-grid-angular (gridReady)="onGridReady($event)"
                            class="ag-theme-material table-view-zoom-ag-grid" style="width: 100%; height: 344px;"
                            rowHeight="48" headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                            [rowData]="rowData" enableColResize groupHeaders
                            [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
                            rowSelection="multiple" [suppressRowClickSelection]="true" [debug]="true"
                            [enableRangeSelection]="true" [pagination]="false" [paginationAutoPageSize]="false"
                            [frameworkComponents]="frameworkComponentsTaskDetails">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
            <div fxFlex="50">
                <div class="sub-content d-flex  flex-row flex-wrap">
                    <div class="wo-sector-card-one p-2 col-11 mar-20" style="display: inline-block">
                        <form [formGroup]="thirdFormGroup">
                            <mat-form-field class="custom-field-container" fxFlex="90">
                                <div class="daterange-container" style="top: 46px;
                        left: 74px;">
                                    <input matInput ngxDaterangepickerMd placeholder="Select Date & Time"
                                        [timePicker]="true" [timePickerSeconds]="true" [timePickerIncrement]="15"
                                        [timePicker24Hour]="false" formControlName="selectedDateTime"
                                        [showCustomRangeLabel]="true"
                                        [alwaysShowCalendars]="thirdFormGroup.get('alwaysShowCalendars').value"
                                        [ranges]="ranges" [showClearButton]="true" [showCancel]="true"
                                        [linkedCalendars]="false" [isTooltipDate]="isTooltipDate"
                                        [isInvalidDate]="isInvalidDate"
                                        [locale]="{ applyLabel: 'Ok', format: 'DD, MMM YYYY, h:mm A',clearLabel:'Clear'}"
                                        [keepCalendarOpeningWithRange]="thirdFormGroup.get('keepCalendarOpeningWithRange').value"
                                        [showRangeLabelOnInput]="thirdFormGroup.get('showRangeLabelOnInput').value"
                                        (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdated($event)"
                                        autocomplete="off" [opens]="opens" [drops]="drops"
                                        class="daterange-container-input" />
                                    <div class="iconCal"><i class="zmdi zmdi-calendar"></i></div>
                                </div>
                            </mat-form-field>
                        </form>
                    </div>
                </div>

                <div class="sub-content d-flex  flex-row flex-wrap" style="border-bottom: 1px solid #D3D5DC;">
                    <div class="sub-content-flex-item p-2 col-6 mar-20">
                        <mat-form-field class="example-full-width">
                            <mat-label>Iterations</mat-label>
                            <input matInput placeholder="" value="">
                        </mat-form-field>
                    </div>

                    <div class="sub-content-flex-item p-2 col-5">
                        <label class="time-duration-label">Time Duration</label>

                        <input class="time-selection" type="time" name="appt" min="09:00" max="18:00" required>
                    </div>

                </div>

                <div class="sub-content d-flex  flex-row flex-wrap">
                    <div class="sub-content-flex-item p-2 col-12">
                        <div class="label mar-20">Add Devices:</div>
                        <section class="col checkbox" *ngIf="showCreateNewWorkorder">
                            <mat-checkbox class="col-6">Add Manually</mat-checkbox>
                            <mat-checkbox class="col-6">Upload</mat-checkbox>
                            <mat-checkbox class="col-6">Upload Login Id File</mat-checkbox>
                            <mat-checkbox class="col-6">Dual Sim WO</mat-checkbox>
                        </section>

                        <section class="col checkbox" *ngIf="showCopyToNewWorkorder">
                            <mat-checkbox class="col-6">Add Manually</mat-checkbox>
                            <mat-checkbox class="col-6">Upload</mat-checkbox>
                        </section>
                    </div>

                </div>

                <div class="sub-content d-flex  flex-row flex-wrap">
                    <div class="sub-content-flex-item p-2 col-5 mar-20" >
                        <mat-form-field class="example-full-width">
                            <mat-label>IMEI</mat-label>
                            <input matInput placeholder="" value="" [(ngModel)]="imeiValue">
                        </mat-form-field>
                    </div>
                    <div class="sub-content-flex-item p-2 col-3">

                    </div>
                    <div class="sub-content-flex-item p-2 col-2">
                        <button mat-raised-button color="primary" (click)="addToSelectedDevice()">Add</button>
                    </div>
                </div>

                <div class="sub-content d-flex  flex-row flex-wrap" style="border-left: 1px solid rgb(211, 213, 220);">
                    <div class="sub-content-flex-item p-2 col" style="padding-bottom: 0px !important;">
                        <div class="w-100" style="height: 50px; background: #D3D5DC">
                            <div class="select-device">Select Device</div>
                            <div class="device-count">{{selectDevice.length}} out of 100</div>
                        </div>
                        <div class="selected-device">
                            <div *ngFor="let devices of selectDevice">
                                {{devices}}
                            </div>
                            <div *ngIf="selectDevice.length === 0" class="add-data">
                                <!-- <div >
                                    Add Data
                                </div> -->
                                Add Data
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showCopyToNewWorkorder" class="download-device w-100">
                        <button mat-button class="icon-container-button" color="primary"><i
                            class="ic ic-download pr-2"></i>Download</button>
                    </div>
                </div>
            </div>

        </div>


    </mat-card>

</div>


<div class="d-flex task-footer">
    <div class="col"></div>
    <div class="p-2">
        <button style="width: 119px;" mat-stroked-button color="primary" class="buttonWidth"
            (click)="navigateBack()">Back</button>
    </div>
    <div class="p-2">
        <button mat-raised-button color="primary" class="buttonWidth button" (click)="assignWorkorder()"
            >Assign</button>
    </div>
</div>