<div>
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <button mat-icon-button>
                <span class="ic ic-Equipment1 structure-icon"><span class="path1"></span><span
                        class="path2"></span><span class="path3"></span><span class="path4"></span><span
                        class="path5"></span></span>
            </button>
            <div fxFlex="grow">
                <div style="color: black" class="pl-3">Equipment {{title}}</div>
            </div>
            <button mat-icon-button>
                <span class="ic ic-Logical structure-icon"><span class="path1"></span><span class="path2"></span></span>
            </button>

            <button (click)="closeDialog()" color="primary" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row fxLayout="row">
            <div fxFlex="60" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div fxLayout="row" *ngFor="let info of labelInfo" fxLayoutAlign="space-evenly center">
                    <div style="color:black; font-size: 13px; font-family: lato bold;">{{info.label }} </div>
                    <div class="pl-1" style="color:gray; font-size: 13px;font-family: lato regular;"> {{info.value}}
                    </div>
                    <mat-divider *ngIf="info.label !='Jio Center:'" style="height: 24px; padding-left: 20px;"
                        [vertical]="true"></mat-divider>
                </div>
            </div>
            <div fxFlex="40" class="text-right">
                <button mat-button color="primary"><i class="ic ic-download pr-2"></i>Download</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="prop-tab-container p-0">
        <div class="tabs">
            <mat-tab-group (selectedTabChange)="tabChanged($event);">
                <mat-tab label="OVERVIEW">
                    <div class="ag-grid-jcp-container">
                        <ag-grid-angular (gridReady)="onGridReady($event)"
                            class="ag-theme-material table-view-zoom-ag-grid" style="width: 100%; height: 409px;"
                            rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
                            [columnDefs]="gridOverviewColumnDefs" [rowData]="gridActiveAlarmsData" enableColResize
                            enableSorting enableFilter groupHeaders [suppressCellSelection]="true"
                            toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                            [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
                            [suppressPaginationPanel]="true">
                        </ag-grid-angular>
                    </div>
                </mat-tab>
                <mat-tab label="GEOGRAPHY">
                    <div class="ag-grid-jcp-container">
                        <ag-grid-angular (gridReady)="onGridReady($event)"
                            class="ag-theme-material table-view-zoom-ag-grid" style="width: 100%; height: 409px;"
                            rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
                            [columnDefs]="gridOverviewColumnDefs" [rowData]="gridActiveAlarmsData" enableColResize
                            enableSorting enableFilter groupHeaders [suppressCellSelection]="true"
                            toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                            [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
                            [suppressPaginationPanel]="true">
                        </ag-grid-angular>
                    </div>
                </mat-tab>
                <mat-tab label="STRUCTURE">
                    <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
                        style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48"
                        [gridOptions]="activeAlarmsGridOptions" [columnDefs]="gridOverviewColumnDefs"
                        [rowData]="gridActiveAlarmsData" enableColResize enableSorting enableFilter groupHeaders
                        [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
                        rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true"
                        [debug]="true" [suppressPaginationPanel]="true">
                    </ag-grid-angular>
                </mat-tab>
                <mat-tab label="ENTITY">
                    <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
                        style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48"
                        [gridOptions]="activeAlarmsGridOptions" [columnDefs]="gridOverviewColumnDefs"
                        [rowData]="gridActiveAlarmsData" enableColResize enableSorting enableFilter groupHeaders
                        [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
                        rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true"
                        [debug]="true" [suppressPaginationPanel]="true">
                    </ag-grid-angular>
                </mat-tab>
                <mat-tab label="HISTORY">
                    <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
                        style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48"
                        [gridOptions]="activeAlarmsGridOptions" [columnDefs]="gridOverviewColumnDefs"
                        [rowData]="gridActiveAlarmsData" enableColResize enableSorting enableFilter groupHeaders
                        [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
                        rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true"
                        [debug]="true" [suppressPaginationPanel]="true">
                    </ag-grid-angular>
                </mat-tab>
                <mat-tab label="MISCELLANEOUS">
                    <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
                        style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48"
                        [gridOptions]="activeAlarmsGridOptions" [columnDefs]="gridOverviewColumnDefs"
                        [rowData]="gridActiveAlarmsData" enableColResize enableSorting enableFilter groupHeaders
                        [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
                        rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true"
                        [debug]="true" [suppressPaginationPanel]="true">
                    </ag-grid-angular>
                </mat-tab>
                <mat-tab label="Port Details">
                    <div style="height: 89%; overflow-x: hidden;overflow-y: auto;">
                        <ng-container *ngIf="title === 'AG2'" [ngTemplateOutlet]="portDetailsAG2">
                        </ng-container>

                        <ng-container *ngIf="title === 'OLT'" [ngTemplateOutlet]="portDetailsOLT">
                        </ng-container>

                        <ng-container *ngIf="title === 'SPLITTER 1'" [ngTemplateOutlet]="portDetailsSplitter1">
                        </ng-container>

                        <ng-container *ngIf="title === 'SPLITTER 2'" [ngTemplateOutlet]="portDetailsSplitter2">
                        </ng-container>

                        <ng-container *ngIf="title === 'ONT'" [ngTemplateOutlet]="portDetailsONT">
                        </ng-container>
                    </div>


                </mat-tab>
                <mat-tab label="Structure Details">
                    <div class="ag-grid-jcp-container">
                        <ag-grid-angular (gridReady)="onGridReady($event)"
                            class="ag-theme-material table-view-zoom-ag-grid" style="width: 100%; height: 409px;"
                            rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
                            [columnDefs]="structureDetailsColumnDefs" [rowData]="structureDetailsData" enableColResize
                            enableSorting enableFilter groupHeaders [suppressCellSelection]="true"
                            toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                            [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
                            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
                        </ag-grid-angular>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<ng-template #portDetailsStructure>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridPortDetailsColumnDefs" [rowData]="gridPortDetailsData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">>
        </ag-grid-angular>
    </div>
</ng-template>

<ng-template #portDetailsEquipment>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridPortDetailsColumnDefs" [rowData]="gridPortDetailsData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>
</ng-template>

<ng-template #portDetailsAG2>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridAg2PORTDetailsColDefs" [rowData]="gridAg2PORTDetailsData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>
</ng-template>

<ng-template #portDetailsONT>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 409px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridONTPORTDetailsColDefs" [rowData]="gridONTPORTDetailsData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>
</ng-template>

<ng-template #portDetailsOLT>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 196px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridOLTPORTWestColDefs" [rowData]="gridOLTPORTWestData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>

    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 196px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridOLTPORTEastColDefs" [rowData]="gridOLTPORTEastData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>

    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 200px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridOLTPORTSplitterColDefs" [rowData]="gridOLTPORTSplitterData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>
</ng-template>

<ng-template #portDetailsSplitter1>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 194px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridPDSplitter1ColDefs" [rowData]="gridPortDetailsSplitter1OltData" enableColResize
            enableSorting enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups
            toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
            [suppressRowClickSelection]="true" [debug]="true" [suppressPaginationPanel]="true"
            [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>

    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 194px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridPDSplitter1Splitter2ColDefs" [rowData]="gridPortDetailsSplitter1Splitter2Data"
            enableColResize enableSorting enableFilter groupHeaders [suppressCellSelection]="true"
            toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
            [suppressRowClickSelection]="true" [debug]="true" [suppressPaginationPanel]="true"
            [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>
</ng-template>

<ng-template #portDetailsSplitter2>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 196px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridPDSplitter2Splitter1ColDefs" [rowData]="gridPDSplitter2Splitter1Data" enableColResize
            enableSorting enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups
            toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
            [suppressRowClickSelection]="true" [debug]="true" [suppressPaginationPanel]="true"
            [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>

    <div class="ag-grid-jcp-container">
        <ag-grid-angular (gridReady)="onGridReady($event)" class="ag-theme-material table-view-zoom-ag-grid"
            style="width: 100%; height: 196px;" rowHeight="48" headerHeight="48" [gridOptions]="activeAlarmsGridOptions"
            [columnDefs]="gridPDSplitter2ONTColDefs" [rowData]="gridPDSplitter2ONTData" enableColResize enableSorting
            enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues
            rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true" [debug]="true"
            [suppressPaginationPanel]="true" [frameworkComponents]="frameworkComponentsDetails">
        </ag-grid-angular>
    </div>
</ng-template>