<div #container class="jcp-table-control-layers-container">
    <div class="toolbar-table-control-layers px-3" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="toolbar-table-control-title" fxFlex>
            <span class="ic ic-KPI-01 pr-1" style="font-size: 16px;"></span>
            <span>KPI Details</span>
        </div>
        <div class="toolbar-table-control-icon-list">
            <div class="p-2 zmdi zmdi-tune" (click)="kpiSettingPopFun()" style="font-size: 20px;"></div>
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="kpi-details-container ">
        <div class="kpi-details-card" *ngFor="let item of listOfKpiDetails">
            <div class="kpi-details-card-container" [ngStyle]="{'border-left-color': item.color,'border-left-style': 'solid','border-left-width': '5px'}" fxLayout="row">
                <div class="value-container" fxLayout="column">
                    <div class="kpi-details-card-title">{{item.title}}</div>
                    <div class="kpi-details-card-value">{{item.value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>