.my-jcp-setting-subheader {
    cursor: pointer;
}

.mat-radio-checked {
    .mat-radio-outer-circle {
        border-color: #005E89 !important;
    }
}

.mat-radio-inner-circle {
    background-color: #005E89 !important;
}