.ems-wrapper {
    .side-bar {
        border: 1px solid rgba(0, 0, 0, 0.12);
        .radio-title {
            font-family: lato bold;
            background-color: #f9f9f9;
            padding: 15px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            border: 0px;
            color: black;
        }
        > div {
            mat-radio-group {
                mat-radio-button {
                    padding-left: 15px;
                    line-height: 2;
                    color: rgba(0,0,0,.54);
                    font-size: 14px;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                mat-radio-button:checked {
                    color: #2196f3;
                }
            }
        }

    }
    .dialog-container {
         margin: 16px;
        .dialog-container-one {
            border: 1px solid rgba(0, 0, 0, 0.12);
            margin-bottom: 15px;
            .sub-header {
                height: 45px;
                background: #e9ecec;
                .sub-header-title {
                    color: #464D69;
                    font-size: 15px;
                    font-family: Lato Bold;
    
                }
            }
            .sub-content-container {
                .sub-content {
                    .sub-content-flex-item {
                        .form-field-read-only {
                            .input-title {
                                font-size: 13px;
                                color: rgba(0,0,0,.54);
                            }
                            .input-value {
                                font-size: 15px;
                                width: 100%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
    }
}





.ems-wrapper {
    height:calc(100% - 52px);
    overflow: auto;
    background: transparent;
    margin: 15px;
   
        .sub-content-container {
            .sub-content {
                .sub-content-flex-item {
                    .form-field-read-only {
                        .input-title {
                            font-size: 13px;
                            color: rgba(0,0,0,.54);
                        }
                        .input-value {
                            font-size: 15px;
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                    }
                }

            }
        }
    }
}