<mat-grid-list class="jcp-landing-grid-list" cols="6" row="2" rowHeight="400px" [gutterSize]="'10px'">
    <mat-grid-tile class="jcp-landing-grid-tile-one" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <mat-card class="jcp-landing-card p-0 w-100 h-100">

            <div *ngIf="tile.text == 'One'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title" (ngModel)="table1Title" fxFlex="60">Active Alarm Classification</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button (click)="tableViewWidget(table1Title)">
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Active Alarm Classification Pie-chart')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <div [chart]="panindiachart" *ngIf="!tableViewShow" style="display: block;"></div>
                    <app-alarm-summary-table *ngIf="tableViewShow" [dataTable]="dataTransferTableToChild">
                    </app-alarm-summary-table>

                </div>
            </div>
            <div *ngIf="tile.text == 'Two'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title" (ngModel)="table2Title">Active Alarm Aging</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button (click)="tableViewWidget(table2Title)">
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Active Alarm Ageing')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                    <!-- <div class="ic ic-shrink2"></div> -->
                                </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <div id="activeAlarmAgingID" *ngIf="!tableViewShow2" [chart]="activeAlarmAgingChart"></div>
                    <app-alarm-summary-table *ngIf="tableViewShow2" [dataTable]="dataTransferTableToChild">
                    </app-alarm-summary-table>
                </div>
            </div>
            <div *ngIf="tile.text == 'Three'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title" (ngModel)="table3Title">Circles wise SA Active Alarms with Ageing distribution
                    </div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button (click)="tableViewWidget(table3Title)">
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Circles wise SA Active Alarms with Ageing distribution')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                    <!-- <div class="ic ic-shrink2"></div> -->
                                </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <div id="kpiDetailsChartID" *ngIf="!tableViewShow3" [chart]="circleWiseAlarmsChart"></div>
                    <app-alarm-summary-table *ngIf="tableViewShow3" [dataTable]="dataTransferTableToChild">
                    </app-alarm-summary-table>
                </div>
            </div>
            <div *ngIf="tile.text == 'Four'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title" (ngModel)="table4Title">Alarms vs Outage Minutes</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button (click)="tableViewWidget(table4Title)">
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Alarms vs Outage Minutes')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                    </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <div id="kpiDetailsChartID" *ngIf="!tableViewShow4" [chart]="alarmsOutageMinutesChart"></div>
                    <app-alarm-summary-table *ngIf="tableViewShow4" [dataTable]="dataTransferTableToChild">
                    </app-alarm-summary-table>
                </div>
            </div>
            <div *ngIf="tile.text == 'Five'" id="dailyTrafficChartIdDiv">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title" (ngModel)="table5Title">Sites with > 24Hr Outage</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button (click)="tableViewWidget(table5Title)">
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Sites with > 24Hr Outage')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                   </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <div id="dailyTrafficChartID" *ngIf="!tableViewShow5" [chart]="sitesWithChart"></div>
                    <app-alarm-summary-table *ngIf="tableViewShow5" [dataTable]="dataTransferTableToChild">
                    </app-alarm-summary-table>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>