.twamp-live-dashboard-top-card {
    height: 148px;

    .twamp-field-container {
        .mat-form-field-infix {
            width: auto !important;
        }
    }
}

.twamp-ag-grid {
    height: calc(100% - 180px);
    overflow: scroll;

    .text-align-group-header .ag-header-group-cell-label {
        justify-content: center;
    }

    .search-twamp-icon {
        width: 18px;
        margin: 18px;
        max-width: 18px;
    }

    .parent-header {
        border-top: none !important;
    }

    .grid-icon {
        font-size: 18px;
        padding-right: 8px;
        margin-left: -22px;
    }

    .grid-space {
        margin-left: 7px;
    }

    .ag-pinned-left-header {
        .ag-header-row-column {
            top: 0px !important;
            height: 56px !important;
        }
    }

    .ag-floating-bottom {
        .ag-pinned-left-floating-bottom {
            .ag-row {
                .ag-cell-value {
                    font-weight: bold;
                }
            }
        }
    }

    .ag-grid-twamp-title {
        line-height: 2;
        font-size: 15px;
        font-family: Lato bold;
    }
}

.mat-select-search-panel,
.mat-select-panel {
    top: 28px;
    position: absolute;
    box-shadow: 0px 3px 9px #00000029 !important;
}

.mat-select-panel .mat-option.mat-selected {
    background-color: #E5F0FB !important;
    color: #464d69 !important;
}

.ag-theme-material .ag-header {
    background: #EAECEC;
}

.form-violation {
    margin-bottom: -10px;
    margin-top: 12px;
}

.twamp-grid-live {
    position: relative;

}

div.graytooltip {
    padding: 10px;
    border-radius: 5px;
    background: #434962;
    color: #ffffff;
    display: block;
    width: 230px;
    height: 123.73px;
    position: absolute;
    top: 0;
    left: 48.2%;
    z-index: 999999;
}

.ag-theme-material:hover .graytooltip {
   
    width: 230px;
    height: 123.73px;
    background: #434962;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.tooltip-data {
    width: 200px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .tooltip-hrs {
        width: 41px;
        height: 20px;
        color: #cccccc;
        font-size: 14px;
    }

    .tooltip-bar {
        width: 100px;
        height: 6px;
        background:#cccccc;
        border-radius: 10px;

    }

    .tooltip-number {
        width: 20px;
        height: 20px;
        font-size: 14px;
        color: #cccccc;
    }
}

.tooltip-bar {
    width: 100px;
    height: 3px;
    color: #ffffff;
}

.tooltip-data .tooltip-number:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 7px;
    border-style: solid;
    border-color: #434962 transparent transparent transparent;
 }

progress{
    width: 100px;
}

.cover {
    width: 500px;
    height: 500px;
    background-color: transparent;
    position: absolute;
    top: 42%;
    left: 50%;
    z-index: 99;
}



div.graytooltip {
    padding: 10px;
    border-radius: 5px;
    background: #434962;
    color: #ffffff;
    display: none;
    // visibility: hidden;
    width: 230px;
    height: 123.73px;
    position: absolute;
    top: 0;
    left: 48.2%;
    z-index: 100;
}

div.cover:hover~div.graytooltip {
    display: block;
}

:host ::ng-deep .mat-card.twamp-ag-grid {
    overflow: scroll;
}