.geography-options {
    margin: 10px;
}

.mat-dialog-content {
    padding: 0;
}

.geography-form {
    margin-top: 19px;
    margin-left: 28px;
}

.apply-buttons {
    left: 46%;
}

.geography-options .mat-ripple-element {
    background-color: #b3d4f4 !important;
}
