.mat-dialog-container{
padding: 0px;
overflow: hidden;
  .leftside-settings-poup {
    overflow: hidden;
    height: 450px;
    max-height: 80vh;
    .dialog-header{
      background-color: white
    }
  }
}

  