$blueLightColor: #acd2ee;

.light-white-backdrop {
  background: rgba(255, 255, 255, 0.7);
}
.mat-dialog-container{
padding: 0px;
overflow: hidden;
  // .leftside-settings-poup {
  //   overflow: hidden;
  //   height: 450px;
    // max-height: 80vh;
    .dialog-header{
      background-color: white;
      min-height:54px;
      height: 54px;
    // }
  }

.layers-settings-popup-content{
  height: calc(100% - 108px) !important;
  overflow: auto;
  .section-header{
      font-size: 16px; 
      font-weight: bold; 
      margin-top: 10px;
  }

  .opacity-slider {
    .mat-slider-track-background {
        background-color: $blueLightColor;
        }
    }
.color-grey{
  color: #676767;;
}
  .color-coding {
    border: 0;
    border-radius: 4px;
  }
.color-picker {
    width: 279px;
    border-radius: 4px;
    border: none !important;
    width: 279px !important;
    height: 216px !important;
    .arrow-bottom {
        display: none !important;
    }
    .saturation-lightness {
        border-radius: 4px !important;
        height: 200px !important;
        .cursor {
            border: 2px solid white;
        }
    }
    .left {
        display: none;
    }
    .hue-alpha {
        padding: 3px 1px !important;
    }
    .right {
        padding: 0 !important;
        .alpha {
            display: none !important;
        }
        .hue {
            margin-bottom: 0 !important;
            height: 7px !important;
            border-radius: 8px !important;
            .cursor {
                width: 7px;
                height: 7px;
                border: 1px solid white;
            }
        }
    }
    .hex-text {
        display: none !important;
    }
    .type-policy{
        display: none !important;
    }
}
.parent-color-coding {
    background:#f1f1f1;
    height: 32px;
    width: 48px;
    border-radius: 6px;
    .mat-icon {
        font-size: 24px;
    }
    .color-coding {
        width: 25px;
        height: 24px;
        border-radius: 4px;
        background-color: white;
        margin-left: 4px;
    }
}
}
}

  