<div class="my-jcp-setting-container">
  <mat-grid-list cols="12" rowHeight="fit">
    <mat-grid-tile *ngFor="let tile of myJcpListTile" [colspan]="tile.cols" [rowspan]="tile.rows">
      <!-- {{tile.text}} -->

      <mat-card class="card-body-one" *ngIf="tile.text == 'one'">
        <app-workorders></app-workorders>
      </mat-card>
      <mat-card class="card-body-two" *ngIf="tile.text == 'two'">
        <app-backhaul-violators></app-backhaul-violators>
      </mat-card>
      <mat-card class="card-body-three" *ngIf="tile.text == 'three'">
        <app-customer-experience></app-customer-experience>
      </mat-card>
      <mat-card class="card-body-four" *ngIf="tile.text == 'four'">
        <app-performance></app-performance>
      </mat-card>
      <mat-card class="card-body-five" *ngIf="tile.text == 'five'">
        <app-planning></app-planning>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>