<div class="execution-task-container">
    <mat-card class="comp-title d-flex  flex-row justify-content-between align-items-center full-height exec-header">
        <mat-icon class="icon-button mx-2" style="color: #7E7E7E" aria-label="search" (click)="goBack()">
            <span class="zmdi zmdi-arrow-left"></span>
        </mat-icon>
        <div class="col exec-title" style="padding: 19px 0;">
            <div *ngIf="execLead" style="color: black">Execution Task IAN Lead</div>
            <div *ngIf="ianLead" style="color: black">0015_2300_7_T01
                :
                Execution Task - RF OC L2</div>
        </div>
    </mat-card>


    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Task Retrigger Details</div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 116px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptions"
                    [columnDefs]="taskColDef" [rowData]="taskRowdata" enableColResize enableSorting enableFilter
                    groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues
                    rowSelection="multiple" [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </mat-card>


    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Site Details</div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container h-100">
            <div class="sub-content d-flex mx-2 flex-row flex-wrap">
                <div class="sub-content-flex-item p-1rem col-3" *ngFor="let site of siteDetails">
                    <div class="form-field-read-only">
                        <div class="input-title">
                            {{site.label}}
                        </div>
                        <div class="input-value" [matTooltip]="site.value" matTooltipPosition="after">
                            {{site.value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>


    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Site Parameter Details</div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 250px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsSite"
                    [columnDefs]="siteColDef" [rowData]="siteRowdata" enableColResize enableSorting enableFilter
                    groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues
                    rowSelection="multiple" [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </mat-card>


    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Field Measurement Information</div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container h-100">
            <div class="sub-content d-flex mx-2 flex-row flex-wrap">
                <div class="sub-content-flex-item p-1rem col-3" *ngFor="let fmi of fieldMeasurementInformation">
                    <div class="form-field-read-only">
                        <div class="input-title">{{fmi.label}}</div>
                        <div class="input-value">{{fmi.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>


    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Observed Issues and Actions (Deviation calculated based on Centre
                Angle of Sector with Maximum Samples)
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container h-100">
            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-bottom: 16px;">
                <div class="sub-content-flex-item col-3" style="padding: 16px 16px 0 16px;"
                    *ngFor="let oi of observedIssues">
                    <div class="form-field-read-only">
                        <div class="input-title">{{oi.label}}</div>
                        <div class="input-value">{{oi.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Solution Implementation</div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container h-100" *ngIf="execLead">

            <div class="content-list">
                <div class="content-list-container p-3 " fxFlex="50">
                    <div class="form-field-read-only">
                        <div class="input-title">Issue Identified</div>
                        <div class="input-value">{{issueIdentified}}</div>
                    </div>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;">
                <div class="sub-content-flex-item p-2 col-3">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">Task
                            Closure Remarks*</mat-label>
                        <mat-select disableOptionCentering [(value)]="taskClosureRemarks[0]"
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option value="option1" class="sector-title" *ngFor="let tcr of taskClosureRemarks"
                                [value]="tcr">
                                {{tcr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="sub-content d-flex  flex-row flex-wrap" *ngIf="execLead">
                <div class="sub-content-flex-item col-5">

                    <div class="sub-content-flex-item " style="width: 100%">
                        <mat-form-field>
                            <input matInput class="input-field" style="position: inherit; opacity: 0.6;font-size: 14px;"
                                placeholder="Select File" [(ngModel)]="fileName" [readonly]="true" required>
                            <button class="browse-button"
                                style="position: absolute; right: 0; bottom :0; font-size: 14px;" (click)="onClick()"
                                mat-icon-button color="primary"><i class="ic ic-file"></i></button>

                            <input type="file" [readonly]="true" #fileUpload id="fileUpload" name="fileUpload" accept=""
                                style="display: none;" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="sub-content d-flex  flex-row flex-wrap" *ngIf="execLead">
                <div class="sub-content-flex-item col-5">
                    <div class=" sub-content-flex-item  tribe-post-controls-uploader-mini-wrapper col-5"
                        style="display: inline;" *ngIf="showFileUploadwidget">
                        <div class="uploaded-files" *ngFor="let img of uploadedImg">
                            <div class="tribe-post-controls-uploader-item uploaded" title="Click to remove a file">
                                <img [src]="img.src">
                            </div>

                            <div class="tribe-post-controls-uploader-item-remove"></div>
                        </div>
                        <div class="tribe-post-controls-uploader-item-btn upload-file-widget"
                            title="Choose a file to upload" (click)="onClick()" multiple="multiple">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-content d-flex mx-2 flex-row flex-wrap" style="padding-top: 10px;" *ngIf="ianLead">
                <div class="sub-content-flex-item p-2 col-3">
                    <mat-form-field class="form-field-read-only">
                        <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">Task
                            Closure Remarks*</mat-label>
                        <mat-select disableOptionCentering [(value)]="taskClosureRemarks[0]" disabled
                            style="font-family: lato Regular; font-size: 14px;">
                            <mat-option value="option1" class="sector-title" *ngFor="let tcr of taskClosureRemarks"
                                [value]="tcr">
                                {{tcr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="content-list">
                <div class="content-list-container p-3 " fxFlex="50">
                    <div class="form-field-read-only">
                        <div class="input-title">*Note:</div>
                        <div class="input-value">Task will be assigned to IAN Lead for further Physical Optimization
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-content d-flex  flex-row flex-wrap" *ngIf="ianLead">
                <div class="sub-content-flex-item col-3" style="line-height: 2;">
                    <mat-label style="font-family: Lato Regular; font-size: 12px;color: #000000;opacity: 0.54;">Site
                        Photos*
                    </mat-label>
                    <img src="../../../../../../../assets/images/logo/user.jpeg"
                        style="height: 170px; width: 170px; margin-bottom: 10px;">
                </div>
            </div>


        </div>
    </mat-card>


    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Capacity Solution Details</div>
        </div>
        <mat-divider></mat-divider>
        <div class="grid-inner-label">Band Addition Status:</div>

        <div class="sub-content-container innertable-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 230px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptionsBandAddition" [columnDefs]="implBandAddition"
                    [rowData]="implRowDataBandAddition" enableColResize enableSorting enableFilter groupHeaders
                    suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                    [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>

        <div class="grid-inner-label">Bi-Sectorization Status:</div>
        <div class="sub-content-container innertable-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 165px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptionsBiSector" [columnDefs]="implBandBiSector" [rowData]="implRowDataBiSector"
                    enableColResize enableSorting enableFilter groupHeaders suppressRowClickSelection
                    toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                    [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>

        <div class="grid-inner-label">Proposed IDSC information:</div>
        <div class="sub-content-container innertable-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 165px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsIdsc"
                    [columnDefs]="propIdscColDef" [rowData]="rowDataIdsc" enableColResize enableSorting enableFilter
                    groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues
                    rowSelection="multiple" [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>


        <div class="grid-inner-label">Proposed Outdoor Solutions information:</div>
        <div class="sub-content-container innertable-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 165px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptionsProposedOutdoor" [columnDefs]="proposedOutdoorColDef"
                    [rowData]="rowDataProposedOutdoor" enableColResize enableSorting enableFilter groupHeaders
                    suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                    [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>


        <div class="grid-inner-label">Planned Indoor Solutions information:</div>
        <div class="sub-content-container innertable-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 165px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsIdsc"
                    [columnDefs]="proposedIndoorColDef" [rowData]="rowDataProposedIndoor" enableColResize enableSorting
                    enableFilter groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues
                    rowSelection="multiple" [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>


        <div class="grid-inner-label">Planned Macro Site Solutions information:</div>
        <div class="sub-content-container innertable-container">
            <div class="sub-content-table">
                <ag-grid-angular style="width: 100%; height: 165px; padding-bottom: 5px;"
                    class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48"
                    [gridOptions]="gridOptionsMacroSiteData" [columnDefs]="columnDefsproposedmacrosite"
                    [rowData]="rowDataMacroSiteData" enableColResize enableSorting enableFilter groupHeaders
                    suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues rowSelection="multiple"
                    [defaultColDef]="defaultColDef" (modelUpdated)="onReadyModeUpdate($event)"
                    (gridReady)="onReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </mat-card>

    <mat-card class="execution-task-container-one p-0">
        <div class="sub-header px-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sub-header-title">Remark</div>
        </div>
        <mat-divider></mat-divider>
        <div class="sub-content-container h-100">
            <div class="sub-content d-flex mx-2 flex-row flex-wrap">
                <div class="content-list">
                    <div class="content-list-container p-3 " fxFlex="50">
                        <div class="form-field-read-only">
                            <div class="input-title">Issue Identified</div>
                            <div class="input-value">{{issueIdentified}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

</div>

<div class="d-flex task-footer">
    <div class="col"></div>
    <div class="p-2">
        <button mat-stroked-button color="primary" class="buttonWidth">Cancel</button>
    </div>
    <div class="p-2">
        <button mat-raised-button color="primary" class="buttonWidth button"
            (click)="openSuccessPopup()">Submit</button>
    </div>
</div>