<div class="mat-dialog">
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <div fxFlex="grow">
                <div *ngIf="showReasonLabel">Create Reason Template</div>
                <div *ngIf="showStatusLabel">Create Status Template</div>
            </div>
            <button (click)="closeDialog()" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <form fxLayout="column" class="">
            <div class="m20" fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top:20px">

                <mat-form-field class="form-field-read-only" fxFlex="20">
                    <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Milestone
                    </mat-label>
                    <mat-select disableOptionCentering [(value)]="milestone[0]"
                        style="font-family: lato Regular; font-size: 14px;">
                        <mat-option class="sector-title" *ngFor="let mile of milestone" [value]="mile">
                            {{mile}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field-read-only" fxFlex="20">
                    <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Task
                    </mat-label>
                    <mat-select disableOptionCentering [(value)]="task[0]"
                        style="font-family: lato Regular; font-size: 14px;">
                        <mat-option class="sector-title" *ngFor="let t of task" [value]="t">
                            {{t}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field-read-only" fxFlex="20">
                    <mat-label *ngIf="showReasonLabel"
                        style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Reason
                    </mat-label>
                    <mat-label *ngIf="showStatusLabel"
                        style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Task Status
                    </mat-label>
                    
                    <input matInput [value]="reason">
                </mat-form-field>

                <div fxFlex="20" fxLayoutAlign="center center">
                    <button mat-button color="primary" fxFlex="20" (click)='addCondition()'>Add</button>
                    <!-- <button *ngIf="conditionArray.length>0" mat-button color="primary" fxFlex="20"
                        (click)='deleteCondition()'>Delete</button> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-evenly center" class="m20"
                *ngFor="let conditionDiv of conditionArray, let i = index ; trackBy:trackByDiv">

                <mat-form-field class="form-field-read-only" fxFlex="20">
                    <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Milestone
                    </mat-label>
                    <mat-select disableOptionCentering [(value)]="milestone[0]"
                        style="font-family: lato Regular; font-size: 14px;">
                        <mat-option class="sector-title" *ngFor="let mile of milestone" [value]="mile">
                            {{mile}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field-read-only" fxFlex="20">
                    <mat-label style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Task
                    </mat-label>
                    <mat-select disableOptionCentering [(value)]="task[0]"
                        style="font-family: lato Regular; font-size: 14px;">
                        <mat-option class="sector-title" *ngFor="let t of task" [value]="t">
                            {{t}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field-read-only" fxFlex="20">
                    <mat-label *ngIf="showReasonLabel"
                        style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Reason
                    </mat-label>
                    <mat-label *ngIf="showStatusLabel"
                        style="font-family: Lato Regular; font-size: 16px;color: #000000;opacity: 0.54;">
                        Task Status
                    </mat-label>
                    <!-- <mat-select disableOptionCentering [(value)]="reason[0]"
                        style="font-family: lato Regular; font-size: 14px;">
                        <mat-option class="sector-title" *ngFor="let t of reason" [value]="t">
                            {{t}}</mat-option>
                    </mat-select> -->

                    <input matInput [value]="reason">
                </mat-form-field>

                <div fxFlex="20"></div>
            </div>
            <!-- <div class="m20" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex="20" class="mx40">
                    <mat-select placeholder="If True">
                        <mat-option value=""></mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="20" class="">
                    <mat-select placeholder="Else">
                        <mat-option value=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </form>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="">
        <div class="col"></div>
        <div class="mx10" style="margin: 10px;">
            <button mat-stroked-button color="primary" (click)="closeDialog()" class="buttonWidth">Cancel</button>
        </div>
        <div class="mx10" style="margin: 10px;">
            <button mat-raised-button color="primary" class="buttonWidth">Submit</button>
        </div>
    </div>
</div>