
$md-primary: #0070DB;
.mat-dialog {
    .dialog-header{
        height: 54px;
        max-height: 54px;
        min-height: 54px;
        background-color: #0070DB;
            .mat-toolbar-row{
            font-size: 18px;
            color: white;
            .dialog-close-button {
            .mat-button-focus-overlay {
                background-color: transparent!important;
            }
            }
            }
    }
    .mat-dialog-content{
        padding: 0px;
        margin: 0px;
        height: 185px;
        width: 100%;
        .mat-form-field{
            font-size: 14px;
        }
    }  
}
