// .my-report-container {
// margin-bottom: 15px;
// height: calc(100vh - 160px);

.my-report-card {
    // height: 100%;
    height: 99%;
    min-height: 99%;
    min-width: 100%;
    width: 100%;

    .my-report-flex-container {
        height: 80px !important;

        .my-report-flex-item {
            font-size: 14px;
        }
    }
    .jcp-table-container {
        height: calc(100% - 80px) !important;
        max-height: calc(100% - 80px) !important;
        
    }
}

// }