.my-report-container {
    margin-bottom: 15px;
    height: calc(100vh - 160px);

    .my-report-card {
        height: 100%;

        .my-report-flex-container {
            height: 100%;
            .my-report-flex-item {}

            .jcp-table-container {
                height: 100%;
                .jcp-table {
                    width: 100% !important;
                    height: 100% !important;
                    // height: calc(100% - 100px);
                    overflow: auto;
                }

            }
        }
    }
}