.report-wizard-card-one {
    .report-flex-container {
        .report-flex-item {
            .report-form-field {
                width: 100%;
            }
        }
    }
}
.report-wizard-card-two {
    margin: 15px 0;
    .report-flex-container {
        .report-flex-item {
            .report-form-field {
                width: 100%;
            }
        }
    }
}