<mat-sidenav-container class="container-jcp" fullscreen>
    <mat-sidenav #sidenav class="sidebarleftsidenav" [opened]="true" mode="side">
        <div class="side-mat-toolbar-row">
            <div class="jcp-logo-container">
                <img src="assets/images/logo/logo_blue.svg" alt="IOT" width="133" height="32" [routerLink]="['']">
               
                <button type="button" mat-button class="toolbar-botton" (click)="sidenav.close();toggleSidenav()"
                    (mouseenter)="changeIcon()" (mouseleave)="changeIcon()">
                    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
                    <div class="icon-bar hide" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
                    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
                </button>
            </div>
            <div class="tree-container-jcp">
                <mat-divider></mat-divider>
                <app-leftside-navigation></app-leftside-navigation>
            </div>
        </div>
        <div class="copy-right fixed-bottom">Copyrights Jio Platforms Ltd.</div>
    </mat-sidenav>
    <mat-sidenav-content class="body-sidenav-container"
        [ngClass]="{'active-body-sidenav': sidenav.opened, 'activeNot-body-sidenav': !sidenav.opened}">
        <div class="container-fluid p-0 h-100" fxFlexFill>
            <!-- <div class="jcp-toolbar" [ngClass]="{'active-jcp-toolbar': sidenav.opened, 'activeNot-jcp-toolbar': !sidenav.opened}"> -->
            <div class="jcp-toolbar" >
                <div id="headerIdHome" class="jcp-toolbar-main-container">
                    <div class="jcp-toolbar-search-tbutt"
                        [ngClass]="{'active-jcpToggle': sidenav.opened, 'activeNot-jcpToggle': !sidenav.opened}">
                        <button type="button" mat-button class="toolbar-botton-inner"
                            (click)="sidenav.open();toggleSidenav()">
                            <div class="menu-inner ic ic-menu-01" aria-label="Menu"></div>
                        </button>
                    </div>
                    <div id="header-container-id" class=""
                        [ngClass]="{'active-jcp-toolbar': sidenav.opened , 'activeNot-jcp-toolbar': !sidenav.opened}"
                        fxLayout="column">
                        <app-header></app-header>
                    </div>
                </div>
                <!-- <div class="jcp-toolbar-main-container-layers"  *ngIf="displayHomeHeader == true">
                    <div class="jcp-toolbar-search-tbutt"
                        [ngClass]="{'active-jcpToggle': sidenav.opened, 'activeNot-jcpToggle': !sidenav.opened}">
                        <button type="button" mat-button class="toolbar-botton-inner"
                            (click)="sidenav.open();toggleSidenav()">
                            <div class="menu-inner ic ic-menu-01" aria-label="Menu"></div>
                        </button>
                    </div>
                    <div class=""
                        [ngClass]="{'active-jcp-toolbar': sidenav.opened, 'activeNot-jcp-toolbar': !sidenav.opened}"
                        fxLayout="column">
                        <app-header *ngIf="displayHomeHeader == true"></app-header>
                    </div>
                </div> -->
                <!-- <div class="jcp-toolbar-main-container-layers">
                    <div class="jcp-toolbar-search-tbutt"
                        [ngClass]="{'active-jcpToggle': sidenav.opened, 'activeNot-jcpToggle': !sidenav.opened}">
                        <button type="button" mat-button class="toolbar-botton-inner"
                            (click)="sidenav.open();toggleSidenav()">
                            <div class="menu-inner ic ic-menu-01" aria-label="Menu"></div>
                        </button>
                    </div>
                    <div class=""
                        [ngClass]="{'active-jcp-toolbar': sidenav.opened, 'activeNot-jcp-toolbar': !sidenav.opened}"
                        fxLayout="column">
                        <app-header></app-header>
                    </div>
                </div> -->
                <div id="route-outlet-id" class="jcp-page-route" [ngClass]="{'activeNot-jcp-page-route': !sidenav.opened}">
                    <router-outlet></router-outlet>
                </div>
               
            </div>
            <!-- <div class="jcp-toolbar" *ngIf="displayHomeHeader == true">

                <div class="jcp-toolbar-main-container-layers">
                    <div class="jcp-toolbar-search-tbutt"
                        [ngClass]="{'active-jcpToggle': sidenav.opened, 'activeNot-jcpToggle': !sidenav.opened}">
                        <button type="button" mat-button class="toolbar-botton-inner"
                            (click)="sidenav.open();toggleSidenav()">
                            <div class="menu-inner ic ic-menu-01" aria-label="Menu"></div>
                        </button>
                    </div>
                    <div class=""
                        [ngClass]="{'active-jcp-toolbar': sidenav.opened, 'activeNot-jcp-toolbar': !sidenav.opened}"
                        fxLayout="column">
                        <app-header></app-header>
                    </div>


                </div>

                <div class="jcp-page-route p-0 h-100" [ngClass]="{'activeNot-jcp-page-route': sidenav.opened}">
                    <router-outlet></router-outlet>


                </div>

            </div> -->
        </div>




    </mat-sidenav-content>
</mat-sidenav-container>