$md-primary: #0070DB;
$color-white: #ffffff;

.jcp-toolbar {
  // background: #0070DB !important;
  color: #ffffff;

  .toolbar-icon {
    color: #ffffff;
  }
}

.container-jcp {
  height: 100%;
  font-family: 'Lato Regular';

  .sidebarleftsidenav {
    border-radius: 0px 25px 25px 0px !important;
    border-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20rem;

    .mat-drawer-inner-container {
      overflow: hidden;
      .side-mat-toolbar-row {
        margin-top: 15px;
        margin-bottom: 15px;
        position: sticky;
        border-bottom: 1px solid #707070 !important;
        .jcp-logo-container {
          padding-left: 15px;
          margin-bottom: 15px;
          // padding-right: 15px;
          .mat-button {
            box-sizing: border-box;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            outline: 0;
            border: none;
            -webkit-tap-highlight-color: transparent;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            vertical-align: baseline;
            text-align: center;
            margin: 0 10px 0 35px;
            ;
            min-width: 50px;
            line-height: 18px;
            padding: 0;
            border-radius: 25px;
            overflow: visible;
            width: 50px;
            height: 50px;
            float: right;

            div {
              // font-size: 30px;
              // padding: 10px 0;
              color: #0070DB;
              font-size: 1.5rem;
            }

            .zmdi-close::before {
              font-size: 1.5rem;
            }
          }

          :focus,
          :hover {
            outline: 0;
            color: #0070DB;
          }
        }
      }
    }
  }


  .body-sidenav-container {
    .jcp-toolbar {
      // background: url('../../assets/images/toolbar/honeycomb.svg')no-repeat !important;
      // -webkit-background-size: cover;
      // -moz-background-size: cover;
      // -o-background-size: cover;
      // background-size: cover !important;
      height: 100%;
      .jcp-toolbar-main-container {
        height: 140px;
        .jcp-toolbar-search-tbutt {
          // width: 20%;
          // position: absolute;
          width: 1%;
          float: left;
          .toolbar-botton-inner {
            padding: 0 !important;
            font-size: 25px !important;
            border-radius: 30px !important;
            width: 50px !important;
            height: 50px !important;
            min-width: 50px !important;
            margin-top: 0.6875rem;
            margin-left: 18px;
            .menu-inner {
              font-size: 25px;
              padding: 10px 0;
            }
            .menu-inner::before {
                font-size: 1.5rem;
            }
          }
          :focus,
          :hover {
            outline: 0;
            // color: #0070DB;
          }
          .active-menu-button {
            display: none;
          }
          .activeNot-menu-button {
            display: contents;
          }
        }
        .active-jcpToggle {
          width: 0%;
          display: none;
        }
        .activeNot-jcpToggle {
          width: 6%;
        }
      }
      .header-jcp-container {
        background: url('../../assets/images/toolbar/comb.svg')no-repeat !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover !important;
        height: 234px;
      }
      .jcp-page-route {
        height: calc(100% - 155px);
        overflow: auto;
        margin-bottom: 15px;
      }
      .active-jcp-page-route{
        margin-left: 20px;
      }
      .activeNot-jcp-page-route{
        margin-left: 0px;
      }
    }

    .active-jcp-toolbar {
      padding: 15px 15px 0 35px;
    }

    .activeNot-jcp-toolbar {
      padding: 15px 15px 0 15px;
    }

  }

  .active-body-sidenav {
    // background-color: blue;
    margin-left: 18.6875rem !important;
  }

  .activeNot-body-sidenav {
    margin-left: 0px !important;
    // background-color: red;
  }

  // }
}