<mat-sidenav-container class="container-jcp" fullscreen>
    <mat-sidenav #sidenav class="mat-sidenav sidebarleftsidenav" opened="true" mode="side"
        [ngStyle]="{ 'width.em': sidenavWidth }">
        <mat-toolbar class="side-mat-toolbar-row justify-content-center align-items-center">
            <mat-toolbar-row style="height: 55px;padding: 0px;">
                <!-- <div class="container p-0">
                  <div class="row m-0 justify-content-md-center">
                      <div class="col">
                          <div class="row m-0">
                              <div class="col-4 p-0">
                                  <img src="assets/image/agriculture/login/JIOIOT_icons_Logo_white.svg" alt="IOT"
                                      (click)="sidenav.toggle()" style="width: 68px;margin-top: 13px;">
                              </div>
                              <div class="col sub-header">Jio Agriculture Platform</div>
                          </div>
                      </div>
                      <div class="col-1 p-0">
                          <div mat-button [matMenuTriggerFor]="menuAppListAgri" class="primeApp-list">
                              <div class="ic ic-dropdown-01" style=" margin-top: 35px;"></div>
                          </div>
                      </div>
                  </div>
              </div> -->

                <div class="container padding-0" style="height: 100%;">
                    <div class="row">
                        <div class="col padding-right-0">
                            <div class="row margin-0">
                                <img *ngIf="expanded == true" src="assets/images/logo/logo_blue.svg" alt="IOT"
                                    width="175" style="cursor: pointer; margin: 4px 0; padding: 0px 0px 0px 15px;">
                                <!-- <button type="button" mat-button class="toolbar-botton" (click)="sidenav.toggle()"
                                    (mouseenter)="decrease()"> -->
                                <button type="button" mat-button class="toolbar-botton" (mouseenter)="decrease()"
                                    (click)="sidenav.toggle()">
                                    <mat-icon aria-label="Menu">menu</mat-icon>
                                </button>
                            </div>
                        </div>
                        <!-- <div class="col-1">
                          <div mat-button [matMenuTriggerFor]="menuAppListAgri" class="primeApp-list">
                              <div class="ic ic-dropdown-01" style=" margin-top: 35px;"></div>
                          </div>
                      </div> -->
                    </div>
                </div>
            </mat-toolbar-row>
            <!-- <mat-menu #menuAppListAgri="matMenu" xPosition="before" class="menuAppListClass-jcp">
              <div class="container padding-0">
                  <button mat-menu-item>
                      <div class="row menuAppList-container"  [routerLink]="['/', 'jap']">
                          <div class="menuAppList-icon col-3 ic ic-JIOIOT_icons_Agriculture"></div>
                          <div class="menuAppList-text col agricultrure-app-text">Agriculture</div>
                      </div>
                  </button>
                  <mat-divider [vertical]="true"></mat-divider>
                  <button mat-menu-item>
                      <div class="row menuAppList-container">
                          <div class="menuAppList-icon col-3 ic ic-JIOIOT_icons_Home-security"></div>
                          <div class="menuAppList-text col homeSecurity-app-text">Home Security</div>
                      </div>
                  </button>
                  <mat-divider [vertical]="true"></mat-divider>
                  <button mat-menu-item>
                      <div class="row menuAppList-container">
                          <div class="menuAppList-icon col-3 ic ic-JIOIOT_icons_IEM"></div>
                          <div class="menuAppList-text col iem-app-text">IEM</div>
                      </div>
                  </button>
                  <mat-divider [vertical]="true"></mat-divider>
                  <button mat-menu-item>
                      <div class="row menuAppList-container" [routerLink]="['/', 'Dashborad']">
                          <div class="menuAppList-icon col-3 ic ic-JIOIOT_icons_Enterprise"></div>
                          <div class="menuAppList-text col enterprise-app-text">Enterprise</div>
                      </div>
                  </button>
                  <mat-divider [vertical]="true"></mat-divider>
              </div>
          </mat-menu> -->
        </mat-toolbar>
        <div class="tree-container-jcp" (mouseenter)="increase()">
            <div [ngClass]="{'active': togglemenuback}" class="my_class" (click)="clickEvent($event)"><i
                    class="fas fa-arrow-left"></i></div>
            <!-- <div (ngModel)="parentArr" (click)="backMenuList(parentArr);"><i class="fas fa-arrow-left" ></i></div> -->
            <div *ngFor="let parent of menulist">
                <!-- <div *ngIf=" !parent?.children?.length > 0"> -->
                <div (click)="menuListFunc(parent);" *ngIf="childMenuListFirst == false">
                    <mat-list>
                        <mat-list-item> {{parent.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div *ngFor="let child_second of childFirstArr">
                <div *ngIf="childMenuListSecond == false" (click)="firstMenuListFunc(child_second);">
                    <mat-list>
                        <mat-list-item> {{child_second.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div *ngFor="let child_third of childSecondArr">
                <div *ngIf="childMenuListThree == false" (click)="secondMenuListFunc(child_third);">
                    <mat-list>
                        <mat-list-item> {{child_third.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div *ngFor="let child_fourth of childThreeArr">
                <div *ngIf="childMenuListFourth == false" (click)="threeMenuListFunc(child_fourth);">
                    <mat-list>
                        <mat-list-item> {{child_fourth.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div *ngFor="let child_fifth of childFourthArr">
                <div *ngIf="childMenuListFifth == false" (click)="fourthMenuListFunc(child_fifth);">
                    <mat-list>
                        <mat-list-item> {{child_fifth.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div *ngFor="let child_sixth of childFifthArr">
                <div *ngIf="childMenuListSixth == false" (click)="fifthMenuListFunc(child_sixth);">
                    <mat-list>
                        <mat-list-item> {{child_sixth.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div *ngFor="let child_seventh of childSixthArr">
                <div *ngIf="childMenuListSeventh == false" (click)="sixthMenuListFunc(child_seventh);">
                    <mat-list>
                        <mat-list-item> {{child_seventh.name}} </mat-list-item>
                    </mat-list>
                </div>
            </div>

            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node [routerLink]="[node.link]" *matTreeNodeDef="let node" matTreeNodeToggle
                    matTreeNodePadding class="col">
                    <div class="col node-tree" [routerLink]="[node.link]">
                        {{node.name}}</div>
                </mat-tree-node>
                <mat-tree-node [routerLink]="[node.link]" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
                    matTreeNodeToggle>
                    <mat-icon [ngClass]="node.icon" aria-label="Toggle icon"></mat-icon>
                    <div *ngIf="expanded == true" class="col"
                        [ngClass]="{'main-module': !treeControl.isExpanded(node)}">{{node.name}}</div>
                    <button *ngIf="expanded == true" mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="zmdi zmdi-caret-up" *ngIf="treeControl.isExpanded(node)"></mat-icon>
                        <mat-icon class="zmdi zmdi-caret-down" *ngIf="!treeControl.isExpanded(node)"></mat-icon>
                    </button>
                </mat-tree-node>
            </mat-tree>
        </div>

    </mat-sidenav>
    <mat-sidenav-content class="body-sidenav-container" (mouseenter)="decrease()">
        <mat-toolbar class="jcp-toolbar">
            <mat-toolbar-row class="d-flex jcp-toolbar-row">


                <div class="col-3">
                    <button type="button" mat-button color="primary" class="toolbar-botton" (click)="sidenav.toggle()"
                        (mouseenter)="increase()">
                        <mat-icon aria-label="Menu">menu</mat-icon>
                    </button>
                </div>
                <div class="col-6 mr-auto jcp-toolbar-row-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" id="search">
                            <mat-icon class="search-icon" aria-label="search"><span class="zmdi zmdi-search"></span>
                            </mat-icon>
                        </div>
                    </div>
                </div>
                <div class="col-3 jcp-toolbar-row-right">
                    <div class="row jcp-toolbar-row-right-content">
                        <div class="icon-container ">
                            <button
                                class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                                <mat-icon class="zmdi zmdi-bookmark-outline"></mat-icon>
                            </button>
                        </div>
                        <!-- <div class="icon-container" (keydown)="openFullscreen($event)" (click)="openFullscreen($event)" > -->
                        <div class="icon-container" (click)="openFullscreen($event)" *ngIf="expandScreen == false">
                            <button
                                class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                                <mat-icon class="zmdi zmdi-fullscreen"></mat-icon>
                            </button>
                        </div>
                        <div class="icon-container" (click)="closeFullscreen()" *ngIf="expandScreen == true">
                            <button
                                class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                                <mat-icon class="zmdi zmdi-fullscreen-exit"></mat-icon>
                            </button>
                        </div>
                        <div class="icon-container">
                            <button mat-button [matMenuTriggerFor]="notifications"
                                class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center">
                                <mat-icon class="zmdi zmdi-notifications-active" matBadge="{{randomNotificationCount}}"
                                    matBadgeColor="warn">
                                </mat-icon>
                            </button>
                            <mat-menu #notifications="matMenu" class="notifications-dropdown">

                                <div class="row justify-content-between notifications-header">
                                    <div class="col notifications-name">
                                        Notifications
                                    </div>
                                    <div class="col notifications-status">
                                        <div style="float: right;">
                                            <span>All Notifications</span>
                                            <span class="pl-2 zmdi zmdi-chevron-down"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-content">
                                    <div class="notifications-content row justify-content-between"
                                        [ngClass]="{'activeParent': item.hideMe}"
                                        *ngFor="let item of notificationsList; let i = index">

                                        <div class="col-1 notifications-content-icon">
                                            <div class="iconMod">
                                                <span [ngClass]="item.iconMod"></span>
                                            </div>
                                        </div>
                                        <div class="col notifications-content-name">
                                            <div class="header">
                                                <span>{{item.nameMod}}</span>
                                                <span (click)="item.hideMe =! item.hideMe"
                                                    class="pl-2 zmdi zmdi-chevron-down" style="cursor: pointer;"></span>
                                            </div>
                                            <div class="sub-header" *ngIf="!item.hideMe">{{item.detailsMod}}</div>
                                            <div class="sub-header" [ngClass]="{'active': item.hideMe}"
                                                *ngIf="item.hideMe">{{item.detailsMod}}</div>
                                        </div>
                                        <div class="col-3 notifications-content-status">
                                            <div style="float: right;">
                                                <span>{{item.statusMod}}</span>
                                            </div>
                                        </div>

                                        <mat-divider></mat-divider>

                                    </div>

                                </div>

                                <div class="row justify-content-end notifications-content-more">
                                    <div class="col notifications-content-status">
                                        <div style="float: right;" (click)="showOlderNoteFunc(notificationsList)">
                                            <a>Show Older</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-end notifications-content-view-all">
                                    <div (click)="viewAllNoteFunc(notificationsList)"
                                        class="col notifications-content-all">
                                        View All
                                    </div>
                                </div>

                            </mat-menu>
                        </div>
                        <div class="d-flex plr-10">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <div class="d-flex" style="height: 38px;">
                                    <img src="assets/images/logo/user.jpeg" alt="IOT" class="" width="40"
                                        style="cursor: pointer;border-radius: 25px;border: solid 1px;height: 40px;" />
                                    <!-- <div class="col" style="line-height: 20px;text-align: left;">
                    <div>Swapnasheela Khandagale</div>
                    <div style="font-weight: 300;font-size: 12px;">NHQ</div>
                </div>
                <mat-icon style="line-height: 20px;">arrow_drop_down</mat-icon> -->
                                </div>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Admin</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item>My Profile</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item>Workspaces/Roles</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item>Notification</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item>Feedback</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item>Favourites</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item>Help</button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-menu-item (click)="logout()">Logout</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>




            </mat-toolbar-row>
        </mat-toolbar>

        <!-- <div class="body-content"> -->
        <router-outlet></router-outlet>
        <!-- </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>