<div class="benchmarking-container mt-5 bg-grey border " *ngIf="showBenchmark | async">
	<div class="d-flex justify-content-between py-3 px-4 position-relative border-bottom">
		<p class="font-weight-bold text-dark mb-0">Analytics > Network > Smart Benchmarking</p>
		<p class="cross-btn text-dark font17 mb-0 position-absolute cursor-pointer" (click)="closeSmartbenchMenubar()"><i class="fa fa-times"></i></p>
	</div>
	<div class="benchmarking-innercontainer p-4">
		<div class="benchmark-form">
			<form class="inner-container" *ngFor="let option of uiContent;index as i" #splitForm="ngForm">
				<div class="mb-3">
					<mat-accordion>
						<mat-expansion-panel [expanded]="isExpanded">
							<mat-expansion-panel-header class="border-bottom">
								<mat-panel-title class="font-weight-bold" *ngFor="let analytics of option.data">
									{{analytics.label}}
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="content pt-4">
								<div class="stream">
									<span class="pr-2" *ngFor="let stream of option.data[0].dataStreams;index as i">
										{{stream.name}}
										<mat-slide-toggle [(ngModel)]="toggleIsChecked" name="toggle" *ngIf="i==1"
											(change)="datastreamSlideToggle($event)">
										</mat-slide-toggle>
										<span *ngIf="i == 3" matTooltip="Info about the action" class="font17">
											<i class="fa fa-info-circle"></i>
										</span>
									</span>
		
								</div>
								<div class="operators-list" *ngFor="let operator of option.operators;">
									<p class="font-weight-bold font17 mt-3">{{operator.label}}</p>
									<p class="mt-2">
										<mat-button-toggle-group class="border-0" #group="matButtonToggleGroup" multiple=true
											[(ngModel)]="selectedButtonToggle" name="button">
											<mat-button-toggle #button class="mr-3 rounded-pill   border"
												*ngFor="let list of operator.operatorsList;let i = index"
												(change)="operatorSelected(list,i,$event)" [value]="list.name">{{list.name}}
											</mat-button-toggle>
										</mat-button-toggle-group>
									</p>
									<p>
										<mat-error *ngIf="operatorError">Please select at least one operator</mat-error>
									</p>
								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<mat-accordion class="mb-2 criteria-accordions" *ngFor="let criteria of criterias;index as i" [attr.name]="criteria.name">
					<mat-expansion-panel  [disabled]="criteria.accordionState" [(expanded)]="criteria.expanded">
						<mat-expansion-panel-header class="border-bottom pl-1">
							<mat-panel-title>
								<span class="example-list-section">
									<mat-checkbox class="example-margin" [checked]="criteria.selected" [name]="criteria.name"
										(change)="toggleCriteriaOptions(criteria.selected,criteria,i,$event)"
										[disabled]="criteria.disabled" ngModel required>
										{{criteria.name}}
									</mat-checkbox>
								</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<ul class="d-flex flex-wrap options-list m-0 p-0">
							<li class="mr-3" *ngFor="let option of criterias[i].options">
								<mat-checkbox [name]="option.name" [(ngModel)]="option.selected" [checked]="option.selected"
									[disabled]="option.disabled" (change)="optionSelected(option,criteria.name)">
									{{option.name}}
								</mat-checkbox>
		
							</li>
						</ul>
						<div *ngIf="criteria.name == 'Grid'">
							<mat-tab-group>
								<mat-tab label={{tab.name}} *ngFor="let tab of criteria.tablabels" [disabled]="tab.disabled">
									<ul class="pl-0">
										<li class="d-flex justify-content-between w-100 p-3" *ngFor="let data of tab.tabData">
											<mat-radio-group aria-label="Select an option" [name]="tab.name" [(ngModel)]="cleargrid">
												<mat-radio-button value="{{data.name}}" [checked]="data.selected"
													[disabled]="data.disabled"
													(change)="gridCheckbox(data.name,tab.name,data.selected,data.tag)">
													{{data.name}}
												</mat-radio-button>
											</mat-radio-group>
											<div class="tabgrid">{{data.description}}</div>
										</li>
									</ul>
								</mat-tab>
							</mat-tab-group>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
				<p class="d-flex justify-content-between mt-4 mb-0">
					<button type="submit" [disabled]="resetDisabled" (click)="resetForm()"
						class="btn btn-light border reset-btn m-0">Reset</button>
					<button type="submit" [disabled]="disableSubmitButton" (click)="submitFormData()"
						class="btn btn-primary save-btn text-white m-0">Save</button>
				</p>
			</form>
		</div>
	</div>
</div>
