$md-primary: #0070db;
$color-white: #ffffff;
.execution-task-container {
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    .ex-card-one {
        border-bottom: 1px solid lightgrey;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0px;
        border: 4px;
    .card-header {
        height: 48px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }
    app-table-ag-grid {
        ag-grid-angular {
            height: 100%!important;
            color: red;
        }
    }   
        .sector-title{
            width: 100%;
            background-color: #f2f2f2;
            font-size: 16px;
            font-family: Lato Bold;
        }
            .report-flex-container {
                margin-top: 10px;

                .report-flex-item {
                    .report-form-field {
                        width: 100%;
                    }

                    .report-form-field-read {
                        .report-form-input-title {
                            font-size: 10px;
                            color: #767676;
                        }

                        .report-form-input-value {
                            font-size: 15px;
                        }
                    }
                }
            }
    }

    .ex-card-two, .ex-card-three, .ex-card-four, .ex-card-five {
        margin: 10px 0;
        // height: calc(100% - 225px);
        // min-height: calc(100% - 225px);
        // max-height: calc(100% - 225px);
        padding: 0;
        border: 4px;
    .card-header {
        height: 48px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }  
        .ex-flex-container {    
            background: white;
            .ex-flex-item {
                padding: 15px;
                .ex-form-field-read {
                    .ex-form-input-title {
                        font-size: 13px;
                        color: rgba(0,0,0,.54);
                    }
                    .ex-form-input-value {
                        font-size: 14px;
                        color: rgba(0,0,0,.87);
                    }
                }
            }
        }
    } 
    .ex-card-three {
        margin: 10px 0;
        // height: calc(100% - 225px);
        // min-height: calc(100% - 225px);
        // max-height: calc(100% - 225px);
        padding: 0;
    .card-header {
        height: 48px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }  
        .ex-flex-container {  
            background: white;  
            .ex-flex-item {
                padding: 15px;
                .ex-form-field-read {
                    .ex-form-input-title {
                        font-size: 13px;
                        color: rgba(0,0,0,.54);
                    }
                    .ex-form-input-value {
                        font-size: 14px;
                        color: rgba(0,0,0,.87);
                    }
                }
            }
        }
    } 

    .ex-card-five {
        margin: 10px 0;
        // height: calc(100% - 225px);
        // min-height: calc(100% - 225px);
        // max-height: calc(100% - 225px);
        padding: 0;
    .card-header {
        height: 48px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }  
        .ex-flex-container {    
            background: white;
            .ex-form-field-read {
                padding: 16px;
                .ex-form-input-title {
                    font-size: 13px;
                    color: rgba(0,0,0,.54);
                }
                .ex-form-input-value {
                    font-size: 14px;
                    color: rgba(0,0,0,.87);
                }
            }
            
        }
        .ex-flex-container-file{
            background: white;
            .ex-file-field {
                height: 1px;
                .input-field {
                    position: absolute;
                    top: 31px;
                    display: inline-block;
                    font-size: 13px;
                    color: rgba(0,0,0,.54);
                }
                .ex-browse-button {
                    float: right;
                    bottom: 40px;
                    font-size: 23px;
                    display: inline-block;
                }
            }

        }
    }
    
    .ex-card-pso {
        border-bottom: 1px solid lightgrey;
        padding: 0px;
        border: 4px;
    .card-header {
        height: 48px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }    
        .sector-title{
            width: 100%;
            background-color: #f2f2f2;
            font-size: 16px;
            font-family: Lato Bold;
        }
            .report-flex-container {
                margin-top: 10px;

                .report-flex-item {
                    .report-form-field {
                        width: 100%;
                    }
                }
            }
    }


    .ex-card-five {
        .ex-flex-container-file{
            .ex-form-field {
                mat-form-field {
                    .mat-form-field-flex {
                        .mat-form-field-infix {
                            .mat-icon-button {
                                float: right;
                                position: absolute;
                                bottom: 0px;
                                right: 0;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    // .mat-focus-indicator {
    //     
    // }
}

.sector-title{
    width: 100%;
    background-color: #f2f2f2;
    font-size: 16px;
    font-family: Lato Bold;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sector-panel {
    border-radius: 2px;
}