<div class="execution-task-container">
    <!-- <mat-card class="report-wizard-card-one">
        <app-table-ag-grid></app-table-ag-grid>
    </mat-card> -->
    <mat-card>Physical Parameter Optimization</mat-card>
    <app-table-ag-grid></app-table-ag-grid>


    <div>
        <mat-card>Select the solution to be implemented for mitigation of overshooting cell*</mat-card>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">E-Tilt/Tx attenuation Change</mat-radio-button>
            <mat-radio-button value="2">Physical Parameter Optimization</mat-radio-button>
        </mat-radio-group>
    </div>
    <mat-divider></mat-divider>

    <div>
        <mat-card>Select the solution to be implemented for mitigation of overshooting cell*</mat-card>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">E-Tilt/Tx attenuation Change</mat-radio-button>
            <mat-radio-button value="2">Physical Parameter Optimization</mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-divider></mat-divider>
    <mat-divider></mat-divider>

</div>