.execution-task-container {
    height:calc(100% - 52px);
    overflow: auto;
    background: transparent;
    .comp-title {
        margin-bottom: 10px;
        font-weight: 400;
        font-family: lato bold;
        font-size: 14px;
        color: black;
        padding-left: 25px;
    }
    .execution-task-container-one {
        border: 4px;
        margin-bottom: 15px;
        .sub-header {
            height: 46px;
            background: white;
            //line-height: 2.5;
            .sub-header-title {
                color: #464D69;
                font-size: 15px;
                font-family: Lato Bold;

            }
        }
        .sub-content-container {
            .sub-content-table {

            }
            .content-list{
                .content-list-container {
                    .input-content {
                        
                    }
                }
            }
        }
        .sub-content-container {
            .sub-content {
                .sub-content-flex-item {
                    .form-field-read-only {
                        .input-title {
                            font-size: 13px;
                            color: rgba(0,0,0,.54);
                        }
                        .input-value {
                            font-size: 15px;
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                    }
                }

            }
            .content-list{
                .content-list-container {
                    .input-content {
                        
                    }
                }
            }
        }
    }
}

.tribe-post-controls-uploader-mini-wrapper {
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 100px;
    .uploaded-files {
        display: inline-block;
    }
    .tribe-post-controls-uploader-item {
        width: 75px;
        height: 75px;
        border: 1px dashed fade-out(#000, 0.87);
        margin: 5px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &.uploaded {
            position: relative;
            display: inline-block;
            &:after {
                content: none;
            }
        }
        &:after {
            content: '\f278';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 48px;
            line-height: 75px;
            text-align: center;
            color: fade-out(#000, 0.87);
        }
        &:hover:after {
            color: fade-out(#000, 0.46);
        }
        &:hover,
        &:focus {
            outline: 0;
        }
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            .tribe-post-controls-uploader-item-remove {
                display: block;
            }
        }
        .tribe-post-controls-uploader-item-remove {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: fade-out(#000, 0.50);
            color: fade-out(#FFF, 0.13);
            top: 0px;
            left: 0px;
            display: none;
            &:after {
                content: '\f136';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 36px;
                line-height: 75px;
                text-align: center;
                color: fade-out(#FFF, 0.13);
            }
        }
    }
    .tribe-post-controls-uploader-item-btn {
        width: 75px;
        height: 75px;
        border: 1px dashed fade-out(#000, 0.87);
        margin: 5px;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:after {
            content: '\f278';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 48px;
            line-height: 75px;
            text-align: center;
            color: fade-out(#000, 0.87);
        }
        &:hover:after {
            color: fade-out(#000, 0.46);
        }
        &:hover,
        &:focus {
            outline: 0;
        }
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            .tribe-post-controls-uploader-item-remove {
                display: block;
            }
        }
        .tribe-post-controls-uploader-item-remove {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: fade-out(#000, 0.50);
            color: fade-out(#FFF, 0.13);
            top: 0px;
            left: 0px;
            display: none;
            &:after {
                content: '\f136';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 36px;
                line-height: 75px;
                text-align: center;
                color: fade-out(#FFF, 0.13);
            }
        }
    }
}
.task-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    border: 1px solid lightgray;
    height: 52px;
}


.p-1rem {
    padding: 1rem !important;
}