<div class="execution-task-container">
    <mat-card class="report-wizard-card-one">
        <mat-card-content>
            <div class="d-flex flex-row flex-wrap report-flex-container">
                <div class="px-3 report-flex-item col-4">
                    <div class="report-form-field-read">
                        <div class="report-form-input-title">Report Measure*</div>
                        <div class="report-form-input-value">RF Analysis</div>
                        <!-- <input matInput placeholder="Ex. Pizza" value="RF Analysis"> -->
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="report-wizard-card-two">
        <mat-card-content class="h-100" fxLayout>


        </mat-card-content>
    </mat-card>
</div>



















<div class="execution-task-container">

    <mat-card>Physical Parameter Optimization</mat-card>
    <app-table-ag-grid></app-table-ag-grid>


    <mat-card>
        <mat-card-title>Title</mat-card-title>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">E-Tilt/Tx attenuation Change</mat-radio-button>
            <mat-radio-button value="2">Physical Parameter Optimization</mat-radio-button>
        </mat-radio-group>
    </mat-card>
    <mat-divider></mat-divider>

    <mat-card>
        <div class="d-flex flex-row flex-wrap report-flex-container">
            <div class="px-3 report-flex-item col-3" *ngFor="let site of siteDetails">
                <div class="report-form-field-read">
                    <div class="report-form-input-title">{{site.label}}</div>
                    <div class="report-form-input-value">{{site.value}}</div>

                </div>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap report-flex-container">
            <div class="col-6" *ngFor="let site of siteDetail">
                <div class="report-form-field-read">
                    <div class="report-form-input-title">{{site.label}}</div>
                    <div class="report-form-input-value">{{site.value}}</div>

                </div>
            </div>
        </div>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <div class="d-flex flex-row flex-wrap report-flex-container">
            <div class="px-3 report-flex-item col-3" *ngFor="let oi of observedIssues">
                <div class="report-form-field-read">
                    <div class="report-form-input-title">{{oi.label}}</div>
                    <div class="report-form-input-value">{{oi.value}}</div>

                </div>
            </div>
        </div>
    </mat-card>


    <mat-divider></mat-divider>

    <mat-card>
        <div class="d-flex flex-row flex-wrap report-flex-container">
            <div class="px-3 report-flex-item col-3" *ngFor="let fmi of fieldMeasurementInformation">
                <div class="report-form-field-read">
                    <div class="report-form-input-title">{{fmi.label}}</div>
                    <div class="report-form-input-value">{{fmi.value}}</div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-form-field id="allNotifocationId">
            <mat-select>
                <mat-option *ngFor="let task of taskClosureRemark"></mat-option>
                {{task.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>








    <!-- <mat-card class="p-0" style="height:calc(100% - 52px)">
    <mat-card-header class="card-header" fxLayoutAlign="start center">
        <mat-card-title class="card-title">Admin Settings</mat-card-title>
        <div class="col"></div>
        <div class="d-flex justify-content-end align-items-center mt-2 mr-4">
            <mat-form-field fxFlex="35" class="mr-4">
                <input matInput placeholder="Number of Cells" type="number" value="8" required>
            </mat-form-field>
            <mat-form-field fxFlex="35" class="">
                <input matInput placeholder="Number of KPIs" type="number" value="20" required>
            </mat-form-field>
        </div>
    </mat-card-header>

    <mat-divider style="position: relative;"></mat-divider>
    <ag-grid-angular style="width: 100%; height: calc(100% - 66px);" class="ag-theme-material ag-jcp3" rowHeight="48"
        headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" enableColResize
        enableSorting enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups
        toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true" [suppressRowClickSelection]="true"
        [groupSelectsChildren]="true" [debug]="true" [frameworkComponents]="frameworkComponentsKpiSettings"
        (gridReady)="onReady($event)">
    </ag-grid-angular>
</mat-card>
<div class="d-flex">
    <div class="col"></div>
    <div class="p-2">
        <button mat-stroked-button color="primary" class="buttonWidth">Cancel</button>
    </div>
    <div class="p-2">
        <button mat-raised-button color="primary" (click)="openUpdateDialog()" class="buttonWidth button">Update</button>
    </div>
</div> 