$blueColor: #0070DB;
$white: #ffffff;
$lightgrey-color: #eaecec;
$px25: 25px;

.mat-dialog-container {
    background-color:rgba(255, 255, 255, 0.8) !important;
}
.target-sites {
    border-radius: 0;
    height: 47px;
    .icon-container-button {
        position: absolute;
        top:15%;
        .mat-checked {
            .mat-slide-toggle-label {
                .mat-slide-toggle-bar {
                    background-color: $blueColor !important;
                }
            }
        }
        .mat-slide-toggle-thumb-container{
            .mat-slide-toggle-ripple{
                display: none;
            }
            
            .mat-slide-toggle-thumb {
                background-color: $white;
                border: 1px solid $blueColor;
            }
        }
    }
    .target-button {
        margin-left: 92px;
        font-size: 16px;
        font-family: Lato Medium;
    }
}

.table-div {
    height: calc(100% + 128px);
    .target-sites-table {
        border-radius: 0;
        height: calc(100% - 226px);
        padding: 0px 0px 16px 0px !important;
        .input-search {
            height: 47px;
        }
        .search-icon {
            position: absolute;
            right: 6%;
            top: 6%;
            font-size: 19px;
            color: #858585;
        }
        .icon-container-button {
            position: absolute;
            top:15%;
        }
    }
}

#nav-menu-custom {
    .layers-menu-0 {
        .mat-icon {
            margin-left: 20px !important;
        }
        .filter-icon {
            margin-right: 0px !important;
        }
        &:hover {
            margin-left: 0px !important;
            .name-node {
                margin-left: 0px !important;
            }
            .mat-icon {
                margin-left: 20px !important;
            }
        }
    }
    .active-layer {
        margin-left: 0px !important;
        .name-node {
            margin-left: 0px !important;
        }
    }
}