.overview-wrapper{
    .overview-container {
        margin-top: 20px;
        .right-pane {
            .header-on-air {
                margin: 0 37px;
                >label:first-child {
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                    border-right: 1px solid lightgray;
                    padding-right: 15px;
                }
                >label:last-child {
                    margin-left: 15px;
                    font-size: 14px;
                    color: rgba(0,0,0,.87);
                }
            }
            .comp-courasal {
                margin-top: 15px;
                .indi-slider {
                    .carousel-multi-item {
                        display: inline-block;
                        width: 100%;
                        mdb-carousel-item {
                            div {
                                mdb-card {
                                    mdb-card-body {
                                        .signal-type {
                                            font-size: 14px;
                                            color: rgba(0,0,0,.44);
                                        }
                                        .signal-date {
                                            font-size: 16px;
                                            color: rgba(0,0,0,.87);
                                            font-weight: 500;
                                        }
                                        .signal-strength {
                                            font-size: 14px;
                                            color: rgba(0,0,0,.87);
        
                                        
                                        }
                                    }
                                }
                            }
                        }
                        .controls-top {
                            > a:first-child {
                                color: black;
                                position: relative;
                                top: 77px;
                            }
                            > a:last-child {
                                right: 0;
                                bottom: 43px;
                                color: black;
                                position: absolute;
                            }
                        }
                        .carousel-inner {
                            display: inline-block;
                            position: relative;
                            left: 25px;
                        }
                        
                    }
                }
            }

            .longitude-mapping {
                .graphs {
                    width: 100%;
                    border: 1px sold lightgray;
                    padding-left: 15px;
                    > div {
                        width: 49%;
                        height: 80px;
                        border: 1px solid lightgray;
                        display: inline-block;
                        mat-icon {
                            text-align: center;
                            position: relative;
                            top: 16px;
                            color: rgba(0,0,0,0.54);
                            font-size: 34px;
                            width: 25%;
                        }
                        > div{
                            display: inline-block;
                            width: 75%;
                            .overview-value {
                                position: relative;
                                top: 15px;
                                font-size: 16px;
                                color: rgba(0,0,0,.87);
                            }
                            .overview-label {
                                position: relative;
                                top: 15px;
                                color: rgba(0,0,0,0.54);
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .left-pane {
            .images {
                .left-carousel {
                    .carousel{
                        .carousel-inner {
                            height: 57vh !important;
                        }
                    }
                }
            }
            .site-address {
                .site-icon {
                    font-size: 26px;
                    border-right: 1px solid lightgray;
                    color: #1976d2;
                    text-align: center;
                    width: 10%;
                    height: 50px;
                    margin-right: 10px;
                    line-height: 1.5;
                    margin-right: 10px;
                    position: relative;
                    bottom: 10px;
                }
                .site-address-text {
                    padding: 10px;
                    width: 85%;
                    font-family: lato regular;
                    display: inline-block;
                    .site-label {
                        color: rgba(0,0,0,.54);
                        font-size: 12px;
                    }
                    .site-value {
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: 15px;
                         color: rgba(0,0,0,.87);
                    }
                }
            }
        }
    }
    
    .product-container {
        position: relative;
        width: 50%;
        display: inline-block;
        div {
            > img {
                width: 100%;
                height: 40vh;
            }
        }
        .site-address {
            > div:first-child {
                width: 50px;
                display: inline-block;
                height: 51px;
                color: gray;
            }
            >div:last-child{
                display: inline-block;
            }
        }
    }
    .on-air {
        position: absolute;
        display: inline-block;
        width: 50%;
        .indi-slider {
            .carousel-multi-item {
                display: inline-block;
                width: 20%;
                mdb-carousel-item {
                    div {
                        mdb-card {
                            mdb-card-body {
                                .signal-type {
                                    font-size: 14px;
                                    color: rgba(0,0,0,.44);
                                }
                                .signal-date {
                                    font-size: 16px;
                                    color: rgba(0,0,0,.87);
                                    font-weight: 500;
                                }
                                .signal-strength {
                                    font-size: 14px;
                                    color: rgba(0,0,0,.87);

                                
                                }
                            }
                        }
                    }
                }
            }
        }
        .graphs {
            width: 100%;
            border: 1px sold lightgray;
            > div {
                width: 49%;
                border: 1px solid lightgray;
                display: inline-block;
                > div {
                    display: inline-block;
                }
                >div:first-child {
                    position: relative;
                    width: 15%;
                    height: 70px;
                    text-align: center;
                    top:22px;
                }
                >div:last-child {
                    position: absolute;
                    width: 35%;
                    height:70px;
                    >div {
                        height: 50%;
                        width: 100%;
                    }
                    >div:first-child {
                        position: relative;
                        top:12px;
                    }
                }
            }
        }
    }
    .status-wrapper {
        width: 100%;
        .status-table {
           width: 49%;
           display: inline-block;
            .status {
                width: 100%;
                display: inline-block; 
                border-bottom: 1px solid lightgray;
                height: 30px;
                font-family: lato regular;
                margin: 5px 10px;
                > div:first-child {
                    width: 50%;
                    display: inline-block;
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 14px;
                }
                > div:last-child {
                    text-align: right;
                    float: right;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.87);
                    width: 50%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    overview-label {
        width: 100%;
        display: inline-block;
        color: rgba(0,0,0,.54);
        font-size: 14px;
        font-family: lato regular;
    }
    overview-value {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: lato regular;
    }
    
}


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}



