<!-- <mat-grid-list class="jcp-landing-grid-list" cols="6" row="2" rowHeight="400px" [gutterSize]="'10px'">
    <mat-grid-tile class="jcp-landing-grid-tile-one" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <mat-card class="jcp-landing-card p-0 w-100 h-100">

            <div *ngIf="tile.text == 'One'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title" fxFlex="60">Active Alarm Classification</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button>
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Active Alarm Classification Pie-chart')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                    
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <ag-grid-angular style="width: 100%; height: calc(100% - 72px);" class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [tooltipShowDelay]="tooltipShowDelay" [rowData]="rowData" groupHeaders
                        [defaultColDef]="defaultColDef" [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues [enableRangeSelection]="true" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true" (gridReady)="onReady($event)"
                        [frameworkComponents]="frameworkComponents">
                    </ag-grid-angular>
                </div>
            </div>
            <div *ngIf="tile.text == 'Two'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title">Active Alarm Aging</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button>
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Active Alarm Ageing')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                    
                                </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <ag-grid-angular style="width: 100%; height: calc(100% - 72px);" class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [tooltipShowDelay]="tooltipShowDelay" [rowData]="rowData" groupHeaders
                        [defaultColDef]="defaultColDef" [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues [enableRangeSelection]="true" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true" (gridReady)="onReady($event)"
                        [frameworkComponents]="frameworkComponents">
                    </ag-grid-angular>
                </div>
            </div>
            <div *ngIf="tile.text == 'Three'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title">Circles wise SA Active Alarms with Ageing distribution</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button>
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Circles wise SA Active Alarms with Ageing distribution')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                   
                                </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <ag-grid-angular style="width: 100%; height: calc(100% - 72px);" class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [tooltipShowDelay]="tooltipShowDelay" [rowData]="rowData" groupHeaders
                        [defaultColDef]="defaultColDef" [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues [enableRangeSelection]="true" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true" (gridReady)="onReady($event)"
                        [frameworkComponents]="frameworkComponents">
                    </ag-grid-angular>
                </div>
            </div>
            <div *ngIf="tile.text == 'Four'">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title">Alarms vs Outage Minutes</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button>
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Alarms vs Outage Minutes')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                   
                                </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <ag-grid-angular style="width: 100%; height: calc(100% - 72px);" class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [tooltipShowDelay]="tooltipShowDelay" [rowData]="rowData" groupHeaders
                        [defaultColDef]="defaultColDef" [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues [enableRangeSelection]="true" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true" (gridReady)="onReady($event)"
                        [frameworkComponents]="frameworkComponents">
                    </ag-grid-angular>
                </div>
            </div>
            <div *ngIf="tile.text == 'Five'" id="dailyTrafficChartIdDiv">
                <div class="jcp-landing-card-header pl-3" fxLayoutAlign="space-between center" fxLayout="row wrap">
                    <div class="jcp-landing-title">Sites with > 24Hr Outage</div>
                    <div fxFlex></div>
                    <div class="jcp-landing-right-container" fxLayout="row wrap">
                        <div>
                            <button mat-icon-button>
                                <mat-icon class="iconType" style="font-size: 18px;line-height: 18px;">
                                    <div class="ic ic-table-011" style="padding: 3px 0;"></div>
                                </mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="expandViewWidget('Sites with > 24Hr Outage')">
                                <mat-icon class="iconType" style="font-size: 14px;line-height: 18px;">
                                    <div class="ic ic-enlarge2" style="padding: 5px;"></div>
                                   
                                </mat-icon>
                            </button>
                        </div>
                        <div>

                            <button mat-icon-button [matMenuTriggerFor]="aggridMenu" aria-label="Example icon-button with a menu">
                                <mat-icon style="font-size: 18px;line-height: 18px;"><span
                                        class="zmdi zmdi-more-vert"></span></mat-icon>
                            </button>
                            <mat-menu #aggridMenu="matMenu" class="aggridMenuPanelRender">
                                <button mat-menu-item>
                                    <span>Download</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="jcp-landing-card-content">
                    <ag-grid-angular style="width: 100%; height: calc(100% - 72px);" class="ag-theme-material ag-jcp3" rowHeight="48" headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [tooltipShowDelay]="tooltipShowDelay" [rowData]="rowData" groupHeaders
                        [defaultColDef]="defaultColDef" [suppressCellSelection]="true" toolPanelSuppressGroups toolPanelSuppressValues [enableRangeSelection]="true" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true" (gridReady)="onReady($event)"
                        [frameworkComponents]="frameworkComponents">
                    </ag-grid-angular>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->

<!-- <ng-content select="[header]"></ng-content> -->
<div *ngIf="parentDataGetTable == 'Active Alarm Classification Pie-chart'">
    <ag-grid-angular style="width: 100%;height: 357px;" class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsTable1" [columnDefs]="columnDefsTable1" [rowData]="rowDataTable1" enableSorting enableFilter [suppressCellSelection]="true"
        toolPanelSuppressGroups toolPanelSuppressValues [frameworkComponents]="frameworkComponentsTable1" rowSelection="multiple" [enableRangeSelection]="true" [suppressHorizontalScroll]="false" [debug]="true" (gridReady)="onReadyTable1($event)">
    </ag-grid-angular>
</div>

<div *ngIf="parentDataGetTable == 'Active Alarm Ageing'">
    <ag-grid-angular style="width: 100%;height: 357px;" class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsTable3" [columnDefs]="columnDefsTable3" [rowData]="rowDataTable3" enableSorting enableFilter [suppressCellSelection]="true"
        toolPanelSuppressGroups toolPanelSuppressValues [frameworkComponents]="frameworkComponentsTable3" rowSelection="multiple" [enableRangeSelection]="true" [suppressHorizontalScroll]="false" [debug]="true" (gridReady)="onReadyTable3($event)">
    </ag-grid-angular>
</div>
<div *ngIf="parentDataGetTable == 'Circles wise SA Active Alarms with Ageing distribution'">
    <ag-grid-angular style="width: 100%;height: 357px;" class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsPloy" [columnDefs]="columnDefsPloy" [rowData]="rowDataPloy" enableSorting enableFilter [suppressCellSelection]="true"
        toolPanelSuppressGroups toolPanelSuppressValues [frameworkComponents]="frameworkComponentsPloy" rowSelection="multiple" [enableRangeSelection]="true" [suppressHorizontalScroll]="false" [debug]="true" (gridReady)="onReadyPloy($event)">
    </ag-grid-angular>
</div>
<div *ngIf="parentDataGetTable == 'Alarms vs Outage Minutes'">
    <ag-grid-angular style="width: 100%;height: 357px;" class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsTable4" [columnDefs]="columnDefsTable4" [rowData]="rowDataTable4" enableSorting enableFilter [suppressCellSelection]="true"
        toolPanelSuppressGroups toolPanelSuppressValues [frameworkComponents]="frameworkComponentsTable4" rowSelection="multiple" [enableRangeSelection]="true" [suppressHorizontalScroll]="false" [debug]="true" (gridReady)="onReadyTable4($event)">
    </ag-grid-angular>
</div>
<div *ngIf="parentDataGetTable == 'Sites with > 24Hr Outage'">
    <ag-grid-angular style="width: 100%;height: 303px;" class="ag-theme-material ag-jcp3 ret-change" rowHeight="48" headerHeight="48" [gridOptions]="gridOptionsTable5" [columnDefs]="columnDefsTable5" [rowData]="rowDataTable5" enableSorting enableFilter [suppressCellSelection]="true"
        toolPanelSuppressGroups toolPanelSuppressValues [frameworkComponents]="frameworkComponentsTable5" rowSelection="multiple" [enableRangeSelection]="true" [suppressHorizontalScroll]="false" [debug]="true" (gridReady)="onReadyTable5($event)">
    </ag-grid-angular>
</div>