<!-- <div style="width: 100%;height: 100%;" id="screens"></div> -->
<div #container class="jcp-table-control-layers-container">
    <div class="toolbar-table-control-layers px-3" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="toolbar-table-control-title" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div class="ic ic-snapshot1 pr-1" style="font-size: 22px;"></div>
            <div>Screenshots</div>
        </div>
        <div class="toolbar-table-control-icon-list">
            <!-- <div class="p-2 zmdi zmdi-tune" (click)="kpiSettingPopFun()" style="font-size: 20px;"></div> -->
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="screenshort-container ">
        <div id="screens"></div>
    </div>
    <!-- <div style="width: 100%;height: 100%;" id="screens"></div> -->
</div> 