
$border-color: #e0e0e0;
$blueactive-color: #0078D7;
$blueactive-color: #E5F0FC;
$border-color: #d3d5d7;
$md-primary: #0070DB;
$color-white: #ffffff;
$color-grayBlue: #464d69;
    
    
.trai-call-plan-container {
    height: 99%;
    .mat-tab-body-content {
        overflow: hidden !important;
    }
    .header-right {
        width: 50%;
        position: absolute;
        right: 0;
    }
    .create-wo {
        position: absolute;
        top: 12px;
        padding: 0 10px;
    }
    .wpf-search {
        display: inline-block; 
        position:relative; 
        top: 5px;
    }
    .call-plan {
        height: 50px;
        top: 12px;
    }
    .trai-label {
        font-family: Lato bold;
        font-size: 15px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding: 20px;
    }
}
.space-around {
    padding: 20px;
}
.trai-module-card {
    box-shadow: none !important;
    padding: 0  !important;
    .wpt-toolbar {
        min-height: 54px;
        &.mat-toolbar {
            background: white;
            height: 60px;
            padding: 0px;
            min-height: 54px;
            color: $color-grayBlue;
            .mat-toolbar-row {
                color: $color-grayBlue;
                mat-icon {
                    font-size: 18px;
                    color: $color-grayBlue;
                }
                .wo-header {
                    margin-left: 13px;
                    .header {
                        font-size: 15px;
                        color: $color-grayBlue;
                        font-family: lato bold;
                    }
                }
                .wpt-flex-item {
                    height: 50px;
                    >mat-form-field {
                        .mat-form-field-wrapper {
                            padding-bottom: 0px !important;
                        }
                    }
                }
                
                .Sub-header {
                    color: $color-grayBlue;
                }
            }
        }
    }
}