<div class="upload-dialog-container">
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <div fxFlex="grow">
                <div>{{title}}</div>
            </div>
            <button (click)="closeDialog()" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="main-content">
        <div class="px-4 overflow-x-hidden">
            <div fxLayoutAlign="center">
                <mat-form-field fxFlex="100" class="mb-3 browse-file-form-field">
                    <!-- <mat-icon class="ic ic-file-text2 file-icon">
                    </mat-icon> -->
                    <input matInput class="input-field" placeholder="Select File" [(ngModel)]="fileName"
                        [readonly]="true" required>
                    <button class="browse-button" (click)="onClick()" mat-icon-button color="primary"><i class="ic ic-file"></i></button>
                </mat-form-field>
            </div>
            <div *ngIf="showExample" class="example-content">
                <span>Example: </span> <span class="example-value"> I-MH-ABVL-ENB-0004_c3</span> <br> <span
                    class="example-value indent">I-MH-AMBT-OSC-0001-SMC001_c0</span>
            </div>
            <div *ngIf="showCSVText" class="example-content">
                <span>Note: </span> <span class="example-value"> Upload CSV files only</span>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions>
        <button *ngIf="showFileDownload" mat-button color="primary"><i class="ic ic-download pr-2"></i> Download Template
        </button>
        <div class="col"></div>
        <div class="mx-1">
            <button mat-stroked-button color="primary" (click)="closeDialog()" class="buttonWidth">Cancel</button>
        </div>
        <div class="mx-3">
            <button mat-raised-button color="primary" (click)="uploadAndClose()" class="buttonWidth">Upload</button>
        </div>
    </div>
</div>
<input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="" style="display: none;" />