// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jcpThree-primary: mat-palette($mat-indigo);
$jcpThree-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jcpThree-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$jcpThree-theme: mat-light-theme($jcpThree-primary, $jcpThree-accent, $jcpThree-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($jcpThree-theme);

//external css file

@import './scss/_vars.scss';
@import './scss/_theme.scss';
@import './scss/_sidebar.scss';
@import './scss/_button_css.scss';
@import './scss/button/hover.scss';

//END external css file

// font icons

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//END font icons

// font family
@font-face {
  font-family: 'Lato Bold';
  src: url('./assets/font_family/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('./assets/font_family/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/font_family/poppins/Poppins-Regular.ttf');
}

// End font family

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden; // -webkit-user-select: none;
  margin: 0;
  font-family: "Roboto", "RobotoDraft", "Helvetica Neue", sans-serif !important;

  .container-main-view {
    height: 100%;

  }
}



// Home Page

$md-primary: #0071bc;
$color-white: #ffffff;

.mat-drawer-container {
  .mat-drawer {
    // min-width: 250px;

    .mat-drawer-inner-container {
      overflow: hidden !important;

      .mat-drawer-toolbar {
        background: #333333;
        height: 56px;
        min-height: 56px;

        .mat-toolbar-row {
          height: 56px;

          .header {
            color: $color-white;
            font-size: 14px;
            padding-left: 10px;
          }
        }

        .tree-container {
          height: calc(100% - 84px);

          .tree-main-header {}
        }
      }
    }
  }

  .mat-drawer-content {
    // .toolbar {
    //     &.mat-toolbar {
    //         background: $md-primary;
    //         height: 56px;
    //         padding: 0px;
    //         min-height: 56px;
    //         color: #0071bc;

    //         .mat-toolbar-row {
    //             height: 56px;
    //             padding: 0px;
    //             line-height: 55px;
    //             color: $color-white;
    //             font-size: 18px;

    //             .toolbar-botton {
    //                 padding: 0px;
    //                 min-width: 50px;
    //                 color: $color-white;

    //                 &:focus,
    //                 &:hover {
    //                     outline: 0;
    //                 }
    //             }

    //             .header {
    //                 color: fade-out(#fff, 0.3);
    //                 font-weight: 400;
    //             }

    //             .Sub-header {
    //                 font-weight: 400;
    //                 color: $color-white;
    //             }
    //         }

    //     }
    // }

    .jcp-toolbar {
      &.mat-toolbar {
        background: $md-primary;
        height: 56px;
        padding: 0px;
        min-height: 56px;
        color: #fff;

        .mat-toolbar-row {
          height: 56px;
          padding: 0px;
          line-height: 55px;
          color: $color-white;
          font-size: 18px;

          .toolbar-botton {
            padding: 0px;
            min-width: 50px;
            color: $color-white;

            &:focus,
            &:hover {
              outline: 0;
            }
          }

          .header {
            color: fade-out(#fff, 0.3);
            font-weight: 400;
          }

          .Sub-header {
            font-weight: 400;
            color: $color-white;
          }
        }

      }
    }
  }
}

.container-jcp {

  .sidebarleftdrawer {

    .tree-container-jcp {

      .mat-radio-group {

        .mat-tree {

          // background-color: red;
          .mat-tree-node {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;

            // background-color: red;
            .child-radio-butt {

              .mat-radio-label {

                .mat-radio-container {

                  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
                  .mat-radio-outer-circle {
                    border-color: fade-out(#fff, 0.46) !important;
                  }


                  .mat-radio-outer-circle {
                    .mat-radio-checked & {
                      border-color: fade-out(#fff, 0.46) !important;
                    }
                  }

                  .mat-radio-inner-circle {
                    background-color: fade-out(#fff, 0.46);
                  }

                  .mat-radio-ripple .mat-ripple-element {
                    background-color: rgba(#3f51b5, 0.26);
                  }


                }

              }

            }


          }


        }

        // &:focus {
        //   outline: 0;
        // }

      }


    }
  }

  .body-sidenav-container {
    margin-left: 0 !important;

    .jcp-toolbar {
      height: 55px;
      padding: 0px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

      .jcp-toolbar-row {
        .jcp-toolbar-row-center {}

        .jcp-toolbar-row-right {
          padding: 0;

          .jcp-toolbar-row-right-content {
            margin: 0;
            float: right;

            .icon-container {

              // padding-right: 10px;
              .icon-container-button {
                font-size: 24px;
              }

              // .notifications-header {
              //   color: #464D69;

              //   .notifications-name {
              //     font-size: 15px;
              //   }

              //   .notifications-status {
              //     font-size: 12px;
              //   }
              // }



              // .mat-menu-panel.notifications-dropdown {
              //   background-color: red;
              //   max-width: none;
              //   width: 100vw;
              //   margin-left: -8px;
              //   margin-top: 24px;
              // }



            }

          }

        }
      }


    }
  }



  // .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
  // .mat-radio-outer-circle {
  //     border-color: fade-out(#fff, 0.46) !important;
  // }

  // .mat-radio-button.mat-accent .mat-radio-inner-circle {
  //     // background-color: #ff4081;
  //     border-color: fade-out(#fff, 0.46) !important;
  // }


  // .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  //     border-color: fade-out(#fff, 0.46) !important;
  // }
}

.mat-menu-panel.notifications-dropdown {
  // background-color: red;
  max-width: none;
  width: 500px;
  height: calc(100% - 90px);
  max-height: calc(100% - 90px);

  // margin-left: -8px;
  // margin-top: 24px;
  .mat-menu-content {
    padding-top: 0px;
    padding-bottom: 0px;
    height: calc(100% - 52px);
    max-height: calc(100% - 50px);

    .notifications-header {
      color: #464D69;
      height: 60px;
      line-height: 4;
      padding: 0 15px;
      margin: 0;
      // box-shadow: 0 1px 1px -1px grey;
      border-bottom: 1px solid #cccccc;
     
      .notifications-name {
        font-size: 15px;
        font-weight: 500;
      }

      .notifications-status {
        font-size: 12px;
        line-height: 5;
      }
    }

    .main-content{
      height: calc(100% - 100px);
      overflow: auto;
      box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
      .notifications-content {
        // color: #464D69;
  
        height: 73px;
        line-height: 2;
        padding: 0;
        // border-top: 1px solid grey;
        // box-shadow: 0 1px 1px -1px grey;
        color: #FC5F5F;
        background-color: RGBA(252, 95, 95, 0.12);
        margin: 0;
        border-bottom: 1px solid #cccccc;
  
        .notifications-content-icon {
          padding: 0;
          margin: 13px auto;
  
          .iconMod {
            margin: auto;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 30px;
  
          }
  
        }
  
        .notifications-content-name {
          margin: 8px 0px;
  
          .header {
            font-size: 15px;
            font-weight: 500;
          }
  
          .sub-header {
            font-size: 12px;
            color: #707070;
            width: 25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
  
          .active {
            font-size: 12px;
            color: #707070;
            width: 25em;
            height: auto;
            white-space: normal;
            overflow: auto;
            text-overflow: ellipsis;
  
          }
  
        }
  
        .notifications-content-status {
          color: #464D69;
          margin: 8px 0px;
          font-size: 12px;
          // line-height: 4;
        }
  
        // &:focus,
        // &:hover {
        //   outline: 0;
        // }
  
  
        // &:focus,
        // &:hover {
        //   outline: 0;
        //   color: #464D69;
        //   background-color: #ffffff;
        //   border-left: 2px solid #FC5F5F;
        // }
        &:visited,&:active,&:hover{
          border-left: 2px solid #FC5F5F;
        }
  
  
      }
      .activeParent {
        outline: 0;
        color: #464D69;
        background-color: #ffffff;
        border-bottom: 1px solid #cccccc;
        height: auto;
      }
    }
  

    .notifications-content-more {
      color: #464D69;
      height: 35px;
      line-height: 2;
      padding: 0 15px;
      margin: 0;
      box-shadow: 0 1px 1px -1px grey;

      a {
        color: #007bff;
        font-size: 14px;
      }

      &:visited {
        color: #609;
      }
    }

    .notifications-content-view-all {
      margin: 0;
      background-color: RGBA(0, 112, 219, 0.14);
      color: #0070DB;
      height: 56px;
      .notifications-content-all {
        padding: 0;
        margin: 15px auto;
        text-align: center;
      }
    }

   

  }

}



//END Home Page



//Default Custom css

.p-15 {
  padding: 15px !important;
}

.p-l-10 {
  padding-left: 10 !important;
}

.p-lr-15 {
  padding-left: 15 !important;
  padding-right: 15 !important;
}

.p-tb-15 {
  padding-top: 15 !important;
  padding-bottom: 15 !important;
}

.p-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-tb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.m-15 {
  margin: 15px !important;
}

.m-lr-15 {
  margin-left: 15 !important;
  margin-right: 15 !important;
}

.m-tb-15 {
  margin-top: 15 !important;
  margin-bottom: 15 !important;
}

.m-lr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-tb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

//END Default Custom css