// font family
@font-face {
  font-family: 'Lato Bold';
  src: url('./assets/font_family/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('./assets/font_family/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Medium';
  src: url('./assets/font_family/lato/Lato-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/font_family/poppins/Poppins-Regular.ttf');
}


// End font family

// @import '@geoman-io/leaflet-geoman-free';
// @import '@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';

//ag grid

@import "~ag-grid-community/dist/styles/ag-grid";
@import "~ag-grid-community/dist/styles/ag-theme-material";
// @import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
// .ag-theme-alpine {
//   @include ag-theme-alpine();
// }

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jcpThree-primary: mat-palette($mat-blue);
$jcpThree-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jcpThree-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$jcpThree-theme: mat-light-theme($jcpThree-primary, $jcpThree-accent, $jcpThree-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$custom-typography: mat-typography-config($font-family: 'Lato Regular,Lato Bold',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500));

@include angular-material-theme($jcpThree-theme);

// .alternate-theme {
//   $alternate-primary: mat-palette(#0070db);
//   // $alternate-accent:  mat-palette($mat-yellow, 400);
//   $alternate-theme: mat-light-theme($alternate-primary);
//   @include angular-material-theme($alternate-theme);
// }

//external css file

// @import './scss/leaflet/leaflet-geoman.css';
@import './scss/leaflet/leaflet-extend';
@import './scss/_ag-jcp3';
@import './scss/_vars.scss';
@import './scss/_theme.scss';
@import './scss/_sidebar.scss';
@import './scss/_button_css.scss';
@import './scss/button/hover.scss';

//END external css file

// font icons

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//END font icons



// * {
//   font-family: 'Lato Regular', 'Lato Bold' !important;
// }

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden; // -webkit-user-select: none;
  margin: 0;
  // font-family: "Roboto", "RobotoDraft", "Helvetica Neue", sans-serif , 'Lato Regular','Lato Bold'!important;
  font-family: 'Lato Regular', 'Lato Bold' !important;

  .container-main-view {
    height: 100%;
  }

}



// Home Page

$md-primary: #0070db;
$color-white: #ffffff;


.container-jcp {}

.mat-menu-panel.notifications-dropdown {
  // background-color: red;
  max-width: none;
  width: 500px;
  height: auto;
  // height: calc(100% - 90px);
  // max-height: calc(100% - 90px);
  // min-height: calc(100% - 90px);

  // margin-left: -8px;
  // margin-top: 24px;
  .mat-menu-content {
    padding-top: 0px;
    padding-bottom: 0px;
    // height: calc(100% - 100px);
    // max-height: calc(100% - 100px);
    // min-height: calc(100% - 53px);

    height: 475px;
    max-height: calc(100% - 100px);
    min-height: calc(100% - 1px);

    .notifications-header {
      padding: 0;
      color: #464D69;
      height: 60px;
      line-height: 4;
      // padding: 0 15px;
      margin: 0;
      // box-shadow: 0 1px 1px -1px grey;
      border-bottom: 1px solid #cccccc;

      .notifications-name {
        font-size: 15px;
        font-weight: 500;
      }

      .notifications-status {
        font-size: 12px;
        line-height: 5;

        #allNotifocationId {
          width: 60%;
          float: right;
          margin-top: 10px;

          .mat-form-field-wrapper {
            .mat-form-field-underline {
              height: 0px !important;
            }

            .mat-form-field-underline {
              display: none !important;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: 0;
            }
          }

        }

      }
    }

    .main-content {
      padding: 0;
      height: calc(100% - 152px);
      max-height: calc(100% - 152px);
      min-height: calc(100% - 152px);
      overflow: auto;
      box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;

      .notifications-content {
        height: 73px;
        // height: calc(100% - 73px);
        // max-height: calc(100% - 73px);
        // min-height: calc(100% - 73px);
        line-height: 2;
        padding: 0;
        color: #FC5F5F;
        background-color: RGBA(252, 95, 95, 0.12);
        margin: 0;
        border-bottom: 1px solid #cccccc;

        // .notifications-content-icon {
        //   padding: 0;
        //   margin: 13px auto;

        //   .iconMod {
        //     margin: auto;
        //     text-align: center;
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 30px;

        //   }

        // }

        .notifications-content-name {
          margin: 8px 0px;
          width: 100%;

          .iconMod {
            margin: auto;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 30px;
            background-color: RGBA(252, 95, 95, 0.15);
            color: #FC5F5F;
          }

          .active-iconMod {
            background-color: RGBA(0, 112, 219, 0.14);
            color: #0070DB;
          }

          .header {
            font-size: 15px;
            font-weight: 500;
          }

          .sub-header {
            font-size: 12px;
            color: #707070;
            // width: 25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .notifications-content-status {
            color: #464D69;
            margin: 8px 0px;
            font-size: 12px;
            // line-height: 4;
          }

          .active {
            font-size: 12px;
            color: #707070;
            width: 25em;
            height: auto;
            white-space: normal;
            overflow: auto;
            text-overflow: ellipsis;
          }

        }

        &:visited,
        &:active,
        &:hover {
          border-left: 3px solid #FC5F5F;
          outline: 0;
        }


      }

      .activeParent {
        outline: 0;
        color: #464D69;
        background-color: #ffffff;
        border-bottom: 1px solid #cccccc;
        height: auto;
      }
    }

    .activeParent-main-content {}

    .notifications-content-more {
      padding: 0;
      color: #464D69;
      height: 35px;
      line-height: 2;
      padding: 0 15px;
      margin: 0;
      box-shadow: 0 1px 1px -1px grey;

      a {
        color: #007bff;
        font-size: 14px;
      }

      &:visited {
        color: #609;
      }
    }

    .notifications-content-view-all {
      padding: 0;
      margin: 0;
      background-color: RGBA(0, 112, 219, 0.14);
      color: #0070DB;
      height: 58px;

      .notifications-content-all {
        padding: 0;
        margin: 17px auto;
        text-align: center;
      }
    }


  }


}

:hover,
:focus {
  outline: 0;
}

.mat-menu-panel.menuAdmin-dropdown {
  // margin-top: 10px;

  // margin-right: 10px;
  .mat-menu-content {
    padding: 0;
    width: 245px;

    .userDetails-Container {
      // height: 80px;
      padding: 15px;
      border-bottom: 1px solid #EBECEF;
      text-align: center;

      .userImg {
        cursor: pointer;
        border-radius: 25px;
        border: solid 1px #0070DB;
        height: 50px;
        margin: auto;
      }

      .user-name-content {
        margin: auto;
        padding-top: 8px;
        line-height: 20px;
        text-align: center;

        .user-header {
          font-size: 18px;
          font-weight: 600;
          font-family: 'Lato Bold';
          color: #464D69;
          white-space: pre-wrap;
          /* CSS3 */
          white-space: -moz-pre-wrap;
          /* Firefox */
          white-space: -o-pre-wrap;
          /* Opera 7 */
          word-wrap: break-word;
        }

        .user-SubHeader {
          font-weight: 400;
          font-size: 14px;
          color: #0070DB;
        }
      }

    }

    .user-menu-opt-container {
      padding-bottom: 15px;
      padding-top: 15px;

      .mat-menu-item.user-menu-opt {
        color: #666666;
        height: 48px;
        padding: 10px 20px;
        // margin: 10px 0px;
        // line-height: 3;

        .user-menu-opt-name {
          font-size: 14px;
          font-weight: 400;
          line-height: 2;
        }
      }

      .mat-menu-item:hover {
        background-color: RGBA(0, 112, 219, 0.10) !important;
      }
    }


  }

}


// .mat-menu-panel.menuAdmin-dropdown.arrow-top:after {
//   content: " ";
//   position: absolute;
//   right: 12px;
//   top: 1px;
//   border-top: none;
//   border-right: 10px solid transparent;
//   border-left: 10px solid transparent;
//   border-bottom: 10px solid #fff;
// }

:hover,
:focus {
  outline: 0;
}

.mat-menu-panel.menuSettingMyJcp-dropdown {
  // margin-top: 10px;
  max-width: 325px;
  border-radius: 4px;
  height: auto;

  // margin-right: 10px;
  .mat-menu-content {
    padding: 0;
    width: 315px;
    height: 520px;
    max-height: calc(100% - 100px);
    min-height: calc(100% - 51px);

    .my-jcp-setting-toolbar {
      height: 50px;
      background: #005EB9;
      color: #fff;
      padding: 0 15px;

      .my-jcp-setting-header {
        .my-jcp-setting-header-icon {
          font-size: 20px;
        }

        .my-jcp-setting-header-title {
          padding: 0px 0px 0px 15px;
          font-size: 18px;
          font-family: Lato Regular;
          font-weight: 400;
        }
      }

      .my-jcp-setting-header-action {
        .my-jcp-setting-header-action-icon {
          font-size: 14px;

          .divActionIcon {
            line-height: 2;
            margin-left: 10px;
          }
        }
      }
    }

    .my-jcp-setting-subheader {
      height: 50px;
      background: #E6E6E6;
      color: #005EB9;
      padding: 0 15px;

      .my-jcp-container {
        .my-jcp-subheader-title {
          font-size: 11px;
          font-family: Lato Regular;
        }

        .my-jcp-subheader-subtitle {
          font-size: 14px;
          font-family: Lato Medium;
        }
      }

      .my-jcp-container-icon {
        .my-jcp-icon {

          // font-size: 20px;
          .divaccordIcon {
            margin-left: 10px;
          }
        }
      }
    }

    .my-jcp-setting-search {
      padding: 0 15px;
      height: 45px;

      .my-jcp-search-container {
        .my-jcp-search-form-field {
          width: 100%;

          input[type=text] {
            //   padding-left: 50px !important;
            font-family: Lato Regular;
            font-size: 14px !important;
            color: #005EB9 !important;
          }

          input[type=text]::-webkit-input-placeholder {
            // padding-left: 40px;
            color: #005EB9 !important;
            font-size: 16px;
            line-height: 4;
          }

          input[type=text]:-webkit-autofill,
          input[type=text]:-webkit-autofill:hover,
          input[type=text]:-webkit-autofill:focus,
          input[type=text]:-webkit-autofill:active {
            -webkit-animation: autofill 0s forwards;
            animation: autofill 0s forwards;
            font-size: 12px;
            font-weight: 400;
            // padding-left: 40px;
            line-height: 4;
          }

        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 0;
        }

        .mat-form-field.mat-focused .mat-form-field-ripple {
          background-color: #76A7D6;
        }

        .mat-form-field-appearance-legacy .mat-form-field-underline {
          background-color: #76A7D6;
        }

        .mat-form-field-outline,
        .mat-form-field-empty.mat-form-field-label,
        .mat-form-field-label,
        .mat-form-field-underline,
        .mat-input-element,
        ::placeholder {
          color: #005EB9 !important;
          font-family: Lato Regular !important;
          font-size: 12px !important;
        }

      }
    }

    .my-jcp-setting-accordion-container {
      height: calc(100% - 152px);
      max-height: calc(100% - 152px);
      min-height: calc(100% - 152px);
      overflow: auto;
      box-shadow:
      inset 0px 11px 8px -10px #CCC,
      inset 0px -11px 8px -10px #CCC;

      .my-jcp-setting-accordion {
        .my-jcp-setting-accordion-card {
          margin: 10px;
          border-radius: 4px;
          background: #B3D4F4;

          .my-jcp-accordion-header {
            height: 43px !important;
            padding: 0 15px 0 6px !important;
            box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3) !important;

            .my-jcp-accordion-header-title {
              line-height: 2 !important;


              .drag-drop-icon {
                font-size: 32px !important;
              }

              .vision-icon {
                font-size: 20px !important;
                margin: 5px 0 !important;

              }

              .not-vision-icon {
                font-size: 20px !important;
                margin: 5px 0 !important;
                color: #5D5D5D;

              }
            }

            .mat-expansion-indicator,
            .mat-expansion-indicator:after {
              color: #005FBA !important;
              margin-bottom: 5px;
            }

          }

          .mat-expansion-panel-content {
            .mat-expansion-panel-body {
              padding: 0;
            }
          }

          .my-jcp-accordion-content {
            .button-container {
              .button-type {
                width: 122px;
                height: 28px;

                color: #ffffff;
                text-align: center;
                line-height: 2.4;
                border-radius: 10px;
                font-size: 12px;
                font-family: Lato Medium;
                margin: 10px;
              }
            }
          }

        }
      }
    }

    .my-jcp-setting-submit {
      padding: 0;
      margin: 0;
      background-color: RGBA(0, 112, 219, 0.14);
      color: #0070DB;
      height: 58px;

      .notifications-content-all {
        padding: 0;
        margin: 17px auto;
        text-align: center;
      }
    }


  }

}

:hover,
:focus {
  outline: 0;
}



.mat-autocomplete-panel.autoSearchClass {
  border-radius: 0px 0px 20px 20px;
  font-family: 'Lato Regular';
  height: calc(100% - 0px);
  max-height: calc(100% - 0px);

  .headerMain {
    color: #9195A6;
    font-size: 13px;
    padding: 10px 35px;
    font-family: Lato Medium;
  }

  .autoSearch-mat-option {
    .autoSearch-row {
      color: #464D69;
      padding: 0;
      margin: 0;

      .autoSearch-row-icon {

        padding: 6px 0;
        font-size: 18px;
        width: 30px;
        height: 30px;
        background: #F0F1F3;
        border-radius: 18px;
        text-align: center;
        margin: 0 15px;
      }

      .autoSearch-row-iconsec {

        padding: 15px 0;
        font-size: 18px;
        width: 30px;
        height: 30px;
        // background: #F0F1F3;
        border-radius: 18px;
        text-align: center;
        margin: 0 15px;
      }

      .autoSearch-row-name {
        font-size: 13px;
      }

      .autoSearch-row-namesec {
        font-size: 13px;
        // line-height: 3;
      }

      .autoSearch-row-url {
        font-size: 13px;

      }
    }

    :hover {
      color: #0070DB;
    }
  }


}

.mat-autocomplete-panel.autoSearchClassLayers {
  border-radius: 0px 0px 20px 20px;
  font-family: 'Lato Regular';
  height: calc(100% - 0px);
  max-height: calc(100% - 0px);

  .headerMain {
    color: #9195A6;
    font-size: 13px;
    padding: 10px 35px;
    font-family: Lato Medium;
  }

  .autoSearch-mat-option {
    .autoSearch-row {
      color: #464D69;
      padding: 0;
      margin: 0;

      .autoSearch-row-icon {

        padding: 6px 0;
        font-size: 18px;
        width: 30px;
        height: 30px;
        background: #F0F1F3;
        border-radius: 18px;
        text-align: center;
        margin: 0 15px;
      }

      .autoSearch-row-iconsec {

        padding: 15px 0;
        font-size: 18px;
        width: 30px;
        height: 30px;
        // background: #F0F1F3;
        border-radius: 18px;
        text-align: center;
        margin: 0 15px;
      }

      .autoSearch-row-name {
        font-size: 13px;
      }

      .autoSearch-row-namesec {
        font-size: 13px;
        // line-height: 3;
      }

      .autoSearch-row-url {
        font-size: 13px;

      }
    }

    :hover {
      color: #0070DB;
    }
  }


}

//END Home Page


///report page

.report-wizard-container {

  .report-wizard-card-two {
    // height: calc(100% - 165px);
    // min-height: calc(100% - 165px);
    // max-height: calc(100% - 165px);

    .report-filter-tab-group {
      height: 100%;
      overflow: auto;
      border-radius: 10px;

      .mat-horizontal-content-container {
        // height: calc(100% - 72px);
        // min-height: calc(100% - 72px);
        // max-height: calc(100% - 72px);
        padding: 0;

        // .mat-horizontal-stepper-content {
        //   // height: 100%;

        .report-filter-tab {
          height: 100%;
          position: relative;

          .report-filter-form {
            height: -webkit-fill-available;

            .report-flex-container {
              // height: calc(100% - 52px);
              height: 100%;
              width: 100%;
              // height: -webkit-fill-available;
            }

            .report-action-container {
              // height: 52px;

              .submit-button {
                width: 100px !important;
                min-width: unset !important;

              }

              .previous-button {
                color: #0070DB !important;
              }
            }

          }
        }

        // }
      }
    }

    // .mat-horizontal-content-container {
    //   height: calc(100% - 225px);
    //   // min-height: calc(100% - 225px);
    //   // max-height: calc(100% - 225px);
    //   // height: 100%;
    //   padding-bottom: 0px;

    //   .mat-horizontal-stepper-content {
    //     height: 100%;
    //     .report-filter-tab {
    //       height: 100%;
    //       .report-filter-form {
    //         height: 100%;
    //         .report-flex-container{
    //           height: calc(100% - 52px);
    //         }
    //       }
    //     }
    //   }

    // }

    //   .report-filter-tab-group {

    //     .mat-tab-body-wrapper {
    //       height: 100%;

    //       .mat-tab-body {
    //         .mat-tab-body-content {
    //           .report-flex-container {
    //             height: calc(100% - 52px);
    //             // overflow: auto;

    //             .report-flex-item {

    //               .report-form-field {
    //                 width: inherit;
    //               }
    //             }

    //           }
    //         }
    //       }
    //     }

    //     .report-action-container {
    //       .submit-button {
    //         width: 100px !important;
    //         min-width: unset !important;
    //       }
    //     }

    //   }
  }

}

// .daterange-container {

.md-drppicker {
  // top: 95px !important;
  // left: -174% !important;
  // right: 15px !important;
  // top: 44px !important;
  // left: auto !important;
  // right: auto !important;
  position: fixed;
  font-family: Lato Regular !important;
  color: inherit;
  border-radius: 4px;
  // width: 643px !important; // width: 278px;
  padding: 12px;
  // margin-top: -55px !important;
  // margin-top: 115px !important;
  // margin-left: 138px !important;
  overflow: hidden;
  z-index: 1000;
  font-size: 12px !important;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

  .ranges {
    // float: none;
    text-align: left;
    margin: 0;

    ul li button.active {
      background-color: #0078D7;
      color: #fff;
    }
  }

  .calendar {
    max-width: 100%;
    margin: 0px; // float: right;

    .calendar-table {
      border: 1px solid #fff;
      padding: 0px 15px;
      border-radius: 4px;
      background-color: #fff;

      .table-condensed {
        .drp-animate {}
      }

      td.active,
      .md-drppicker td.active:hover {
        background-color: #0078D7;
        border-color: transparent;
        color: #fff;
      }
    }

    .left {
      float: left !important;
    }

    .right {
      float: right !important;
    }
  }

  .calendar-time {
    text-align: center;
    margin: 12px auto;
    line-height: 30px;
    position: relative;

    .hourselect {
      width: 55px;
      margin: 0;
      background: #ffffff;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      padding: 2px;
      outline: 0;
      font-size: 13px !important;
      font-family: inherit;
    }

    .minuteselect {
      width: 55px;
      margin: 0 8px;
      background: #ffffff;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      padding: 2px;
      outline: 0;
      font-size: 13px !important;
      font-family: inherit;
    }

    .secondselect {
      width: 55px;
      margin: 0 auto;
      background: #ffffff;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      outline: 0;
      font-size: 13px !important;
      font-family: inherit;
    }

    // .select{
    //   border-bottom: 1px solid rgba(0, 0, 0, .12);
    // }
    .select .select-item {
      display: inline-block;
      width: 48px;
      position: relative;
      font-family: inherit;
      background-color: #ffffff;
      padding: 10px 10px 10px 0;
      font-size: 14px;
      border-radius: 0;
      // border: none;
      // border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    .ampmselect {
      margin-left: 10px;
    }
  }


  .buttons {
    .buttons_input {
      .mat-raised-button {
        margin: 10px !important;

      }

    }
  }

  .buttons .buttons_input .mat-raised-button:nth-child(2) {
    color: #0070DB;
  }

  .clear-button {
    color: #0070DB !important;
  }

  table {
    width: 100%;
    margin: 0;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table,
  td {
    border: none;
  }

  th {
    border: none;
    color: #988c8c;
    font-size: 14px;
    font-family: Lato Regular;
    font-weight: 500;
  }

  td.in-range {
    background-color: RGBA(0, 120, 215, 0.13);
    border-color: transparent;
    color: #000;
    // border-radius: 0;
  }
}

.double {
  width: auto;
}

.shown {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ltr {
  direction: ltr;
  text-align: left;
}


.iconCal {
  position: absolute;
  right: -25px;
  bottom: 0;
  font-size: 20px;
  color: gray;
}

// }

///END report page

///Create report pop up
.material-dialog-container {
  .mat-dialog-container {
    border-radius: 4px;
    padding: 0px !important;
  }
}

.create-report-container {

  .create-report-dialog-content {
    padding: 0px 15px;
    margin: 0px;
    height: calc(100% - 110px);

    .report-engin-container {

      .create-tab-group {
        width: 100%;

        .mat-tab-header {
          border-radius: 25px;
          border: 1px solid #0070db;

          // background: red;
          .mat-tab-label-container {
            .mat-tab-list {
              .mat-tab-labels {
                .mat-tab-label {
                  height: 40px !important;
                }

              }

              .mat-tab-label-active {
                color: #fff !important;
                background: #0070db !important;
                border-radius: 25px;
                height: 40px !important;
              }

              .mat-ink-bar {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

}

///END Create report pop up
//Successful pop up
.successful-container {
  border-radius: 4px;

  .successful-text-action-container {
    .successful-text-button {
      width: 170px !important;
      height: 40px !important;
    }
  }
}

//END Successful pop up


//Home landing

.jcp-landing-page-container {
  .jcp-landing-grid-list {
    // height: 100%;

    .jcp-landing-grid-tile-one {
      border-radius: 4px;

      // height: calc((25% - 1.80px) * 2 + 1px) !important;
      .mat-figure {
        margin: 0 5px 5px 0 !important;

        .jcp-landing-card {
          height: 99% !important;
          min-height: 99% !important;

          .mat-form-field-wrapper {
            color: #474E6A;
            height: 43px;

            .mat-form-field-underline {
              height: 0px !important;
            }

            .mat-form-field-underline {
              display: none !important;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: 0;
            }
          }
        }
      }
    }

    .jcp-landing-grid-tile-two {
      border-radius: 4px;
      // height: calc((25% - 1.75px) * 3 + 2px) !important;

      .mat-figure {
        margin: 0 0 5px 5px !important;

        .jcp-landing-card {
          height: 99.5% !important;
          min-height: 99.5% !important;

          .mat-form-field-wrapper {
            color: #474E6A;
            height: 43px;

            .mat-form-field-underline {
              height: 0px !important;
            }

            .mat-form-field-underline {
              display: none !important;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: 0;
            }
          }
        }
      }
    }

    .jcp-landing-grid-tile-three {
      border-radius: 4px;

      .mat-figure {
        margin: 6px 5px 0 0 !important;

        .jcp-landing-card {
          height: 99% !important;
          min-height: 99% !important;


          .mat-form-field-wrapper {
            color: #474E6A;
            height: 43px;

            .mat-form-field-underline {
              height: 0px !important;
            }

            .mat-form-field-underline {
              display: none !important;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: 0;
            }
          }
        }
      }
    }

    .jcp-landing-grid-tile-four {
      border-radius: 4px;

      .mat-figure {
        margin: 5px 0 0 5px !important;

        .jcp-landing-card {
          height: 97% !important;
          min-height: 97% !important;


          .mat-form-field-wrapper {
            color: #474E6A;
            height: 43px;

            .mat-form-field-underline {
              height: 0px !important;
            }

            .mat-form-field-underline {
              display: none !important;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: 0;
            }
          }

          .usage-metrics-card-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 43px);

            .usage-metrics-container {
              height: 69px;
              // margin: 29px 32px;

            }
          }

        }

      }
    }

  }
}

//End Home landing

// layers

// .leaflet-control-container {

//   // width:97px;
//   // height: 42px;
//   // position: absolute; right: 56px
//   .leaflet-bottom {

//     .leaflet-control {
//       margin-bottom: 10px;
//       width: 42px;
//       height: 97px;
//     }
//   }
// }

//End Layers


//angular meterial glob css

.aggridMenuPanelRender {
  .mat-menu-content {
    .mat-menu-item {}

    :hover {
      color: #0070DB;
    }
  }
}


button:focus {
  outline: 0px !important;
}

.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1 !important;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.mat-tab-label-active {
  color: #0070db !important;
}

.mat-form-field {
  width: inherit;
}

.selectMenuPanel {
  margin-top: 2rem;
}

.icon-button {
  float: right;
  padding: 10px 15px;
  text-align: center;
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px;
}

.icon-button:hover {
  background: RGBA(0, 112, 219, 0.13);
}

.search-filter-icon {
  position: absolute;
  right: -15px;
  bottom: -20px;
  width: 50px !important;
  height: 50px !important;
}

table {
  width: 100% !important;

  .mat-header-row {
    background: rgba(211, 213, 220, 0.44);
    ;
    height: 58px;

    .mat-header-cell {
      font-family: 'Lato Bold';
      font-size: 16px;
      font-weight: 500;
      color: #000000;
    }
  }
}

.jcp-two-lines-progress {
  line-height: 24px;
  margin: 9px 0;

  .values {}

  .progress {
    display: -webkit-box;
    display: flex;
    height: 5px !important;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
}

.mat-stroked-button.mat-primary {
  color: #0078D7;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #0078D7;
  color: white;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #0078D7;
}

// .md-drppicker{
//  background: #ffffff;
// }

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

// ::-webkit-scrollbar-track
// {
//   background: rgba(0, 0, 0, 0.1);
// }

// ::-webkit-scrollbar-thumb
// {
//   background: rgba(0, 0, 0, 0.5);

// }
//scrollbar
/* total width */
::-webkit-scrollbar {
  cursor: pointer !important;
  // background-color:#fff;
  width: 9px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  cursor: pointer !important;
  background-color: #fff;
  width: 9px;
}

::-webkit-scrollbar-track:hover {
  cursor: pointer !important;
  background-color: #f4f4f4;
  width: 6px;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 1px solid #fff;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 0px solid #f4f4f4;
  width: 6px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none
}


/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*
 *  STYLE 8
 */





//scrollbar

//END angular meterial glob css



//Default Custom css
.success {
  color: #23B22E;
}

.buttonColorBg {
  background: #0078D7;
}

.buttonColorFont {
  color: #0078D7;
}

.buttonWidth {
  width: 100px;
}

.p-15 {
  padding: 15px !important;
}

.p-l-10 {
  padding-left: 10 !important;
}

.p-lr-15 {
  padding-left: 15 !important;
  padding-right: 15 !important;
}

.p-tb-15 {
  padding-top: 15 !important;
  padding-bottom: 15 !important;
}

.p-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-tb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.m-15 {
  margin: 15px !important;
}

.m-lr-15 {
  margin-left: 15 !important;
  margin-right: 15 !important;
}

.m-tb-15 {
  margin-top: 15 !important;
  margin-bottom: 15 !important;
}

.m-lr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-tb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.mat-option {
  font-family: Lato Regular !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow:
    0px 0px 1px -1px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.14),
    0px 0px 3px 0px rgba(0, 0, 0, 0.12)
}

//END Default Custom css


//////////////

//////////////