//ag grid

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

///slick grid
/* for example, let's change the mouse hover color */
$cell-odd-background-color: lightyellow;
$row-mouse-hover-color: lightgreen;

/* make sure to add the @import the SlickGrid Bootstrap Theme AFTER the variables changes */
@import '../node_modules/angular-slickgrid/styles/sass/slickgrid-theme-bootstrap.scss';


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jcpThree-primary: mat-palette($mat-blue);
$jcpThree-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jcpThree-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$jcpThree-theme: mat-light-theme($jcpThree-primary, $jcpThree-accent, $jcpThree-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($jcpThree-theme);

//external css file

@import './scss/_ag-jcp3';
@import './scss/_vars.scss';
@import './scss/_theme.scss';
@import './scss/_sidebar.scss';
@import './scss/_button_css.scss';
@import './scss/button/hover.scss';

//END external css file

// font icons

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//END font icons

// font family
@font-face {
  font-family: 'Lato Bold';
  src: url('./assets/font_family/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('./assets/font_family/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Medium';
  src: url('./assets/font_family/lato/Lato-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/font_family/poppins/Poppins-Regular.ttf');
}

// End font family

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden; // -webkit-user-select: none;
  margin: 0;
  // font-family: "Roboto", "RobotoDraft", "Helvetica Neue", sans-serif , 'Lato Regular','Lato Bold'!important;
  font-family: 'Lato Regular', 'Lato Bold' !important;

  .container-main-view {
    height: 100%;

  }
}



// Home Page

$md-primary: #0070db;
$color-white: #ffffff;


.container-jcp {}

.mat-menu-panel.notifications-dropdown {
  // background-color: red;
  max-width: none;
  width: 500px;
  height: auto;
  // height: calc(100% - 90px);
  // max-height: calc(100% - 90px);
  // min-height: calc(100% - 90px);

  // margin-left: -8px;
  // margin-top: 24px;
  .mat-menu-content {
    padding-top: 0px;
    padding-bottom: 0px;
    // height: calc(100% - 100px);
    // max-height: calc(100% - 100px);
    // min-height: calc(100% - 53px);

    height: 475px;
    max-height: calc(100% - 100px);
    min-height: calc(100% - 1px);

    .notifications-header {
      padding: 0;
      color: #464D69;
      height: 60px;
      line-height: 4;
      // padding: 0 15px;
      margin: 0;
      // box-shadow: 0 1px 1px -1px grey;
      border-bottom: 1px solid #cccccc;

      .notifications-name {
        font-size: 15px;
        font-weight: 500;
      }

      .notifications-status {
        font-size: 12px;
        line-height: 5;

        #allNotifocationId {
          width: 60%;
          float: right;
          margin-top: 10px;

          .mat-form-field-wrapper {
            .mat-form-field-underline {
              height: 0px !important;
            }

            .mat-form-field-underline {
              display: none !important;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: 0;
            }
          }

        }

      }
    }

    .main-content {
      padding: 0;
      height: calc(100% - 152px);
      max-height: calc(100% - 152px);
      min-height: calc(100% - 152px);
      overflow: auto;
      box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;

      .notifications-content {
        height: 73px;
        // height: calc(100% - 73px);
        // max-height: calc(100% - 73px);
        // min-height: calc(100% - 73px);
        line-height: 2;
        padding: 0;
        color: #FC5F5F;
        background-color: RGBA(252, 95, 95, 0.12);
        margin: 0;
        border-bottom: 1px solid #cccccc;

        // .notifications-content-icon {
        //   padding: 0;
        //   margin: 13px auto;

        //   .iconMod {
        //     margin: auto;
        //     text-align: center;
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 30px;

        //   }

        // }

        .notifications-content-name {
          margin: 8px 0px;
          width: 100%;

          .iconMod {
            margin: auto;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 30px;
            background-color: RGBA(252, 95, 95, 0.15);
            color: #FC5F5F;
          }

          .active-iconMod {
            background-color: RGBA(0, 112, 219, 0.14);
            color: #0070DB;
          }

          .header {
            font-size: 15px;
            font-weight: 500;
          }

          .sub-header {
            font-size: 12px;
            color: #707070;
            // width: 25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .notifications-content-status {
            color: #464D69;
            margin: 8px 0px;
            font-size: 12px;
            // line-height: 4;
          }

          .active {
            font-size: 12px;
            color: #707070;
            width: 25em;
            height: auto;
            white-space: normal;
            overflow: auto;
            text-overflow: ellipsis;
          }

        }

        &:visited,
        &:active,
        &:hover {
          border-left: 3px solid #FC5F5F;
          outline: 0;
        }


      }

      .activeParent {
        outline: 0;
        color: #464D69;
        background-color: #ffffff;
        border-bottom: 1px solid #cccccc;
        height: auto;
      }
    }

    .activeParent-main-content {}

    .notifications-content-more {
      padding: 0;
      color: #464D69;
      height: 35px;
      line-height: 2;
      padding: 0 15px;
      margin: 0;
      box-shadow: 0 1px 1px -1px grey;

      a {
        color: #007bff;
        font-size: 14px;
      }

      &:visited {
        color: #609;
      }
    }

    .notifications-content-view-all {
      padding: 0;
      margin: 0;
      background-color: RGBA(0, 112, 219, 0.14);
      color: #0070DB;
      height: 58px;

      .notifications-content-all {
        padding: 0;
        margin: 17px auto;
        text-align: center;
      }
    }


  }


}

:hover,
:focus {
  outline: 0;
}

.mat-menu-panel.menuAdmin-dropdown {
  // margin-top: 10px;

  // margin-right: 10px;
  .mat-menu-content {
    padding: 0;
    width: 245px;

    .userDetails-Container {
      // height: 80px;
      padding: 15px;
      border-bottom: 1px solid #EBECEF;
      text-align: center;

      .userImg {
        cursor: pointer;
        border-radius: 25px;
        border: solid 1px #0070DB;
        height: 50px;
        margin: auto;
      }

      .user-name-content {
        margin: auto;
        padding-top: 8px;
        line-height: 20px;
        text-align: center;

        .user-header {
          font-size: 18px;
          font-weight: 600;
          font-family: 'Lato Bold';
          color: #464D69;
          white-space: pre-wrap;
          /* CSS3 */
          white-space: -moz-pre-wrap;
          /* Firefox */
          white-space: -o-pre-wrap;
          /* Opera 7 */
          word-wrap: break-word;
        }

        .user-SubHeader {
          font-weight: 400;
          font-size: 14px;
          color: #0070DB;
        }
      }

    }

    .user-menu-opt-container {
      padding-bottom: 15px;
      padding-top: 15px;

      .mat-menu-item.user-menu-opt {
        color: #666666;
        height: 48px;
        padding: 10px 20px;
        // margin: 10px 0px;
        // line-height: 3;

        .user-menu-opt-name {
          font-size: 14px;
          font-weight: 400;
          line-height: 2;
        }
      }

      .mat-menu-item:hover {
        background-color: RGBA(0, 112, 219, 0.10) !important;
      }
    }


  }

}

// .mat-menu-panel.menuAdmin-dropdown.arrow-top:after {
//   content: " ";
//   position: absolute;
//   right: 12px;
//   top: 1px;
//   border-top: none;
//   border-right: 10px solid transparent;
//   border-left: 10px solid transparent;
//   border-bottom: 10px solid #fff;
// }

:hover,
:focus {
  outline: 0;
}

.mat-autocomplete-panel.autoSearchClass {
  border-radius: 0px 0px 20px 20px;
  font-family: 'Lato Regular';
  height: calc(100% - 0px);
  max-height: calc(100% - 0px);

  .headerMain {
    color: #9195A6;
    font-size: 13px;
    padding: 10px 35px;
  }

  .autoSearch-mat-option {
    .autoSearch-row {
      color: #464D69;
      padding: 0;
      margin: 0;

      .autoSearch-row-icon {

        padding: 6px 0;
        font-size: 18px;
        width: 30px;
        height: 30px;
        background: #F0F1F3;
        border-radius: 18px;
        text-align: center;
        margin: 0 15px;
      }

      .autoSearch-row-iconsec {

        padding: 15px 0;
        font-size: 18px;
        width: 30px;
        height: 30px;
        // background: #F0F1F3;
        border-radius: 18px;
        text-align: center;
        margin: 0 15px;
      }

      .autoSearch-row-name {
        font-size: 14px;
      }

      .autoSearch-row-namesec {
        font-size: 14px;
        // line-height: 3;
      }

      .autoSearch-row-url {
        font-size: 14px;

      }
    }

    :hover {
      color: #0070DB;
    }
  }


}

//END Home Page


///report page

.report-wizard-container {

  .report-wizard-card-two {
    height: calc(100% - 225px);
    min-height: calc(100% - 225px);
    max-height: calc(100% - 225px);

    .report-filter-tab-group {
      height: 100%;

      .mat-horizontal-content-container {
        height: calc(100% - 72px);
        min-height: calc(100% - 72px);
        max-height: calc(100% - 72px);
        padding: 0;

        // .mat-horizontal-stepper-content {
        //   // height: 100%;

        .report-filter-tab {
          height: 100%;
          position: relative;

          .report-filter-form {
            height: -webkit-fill-available;

            .report-flex-container {
              // height: calc(100% - 52px);
              height: 100%;
              width: 100%;
              // height: -webkit-fill-available;
            }

            .report-action-container {
              // height: 52px;

              .submit-button {
                width: 100px !important;
                min-width: unset !important;
              }
            }

          }
        }

        // }
      }
    }

    // .mat-horizontal-content-container {
    //   height: calc(100% - 225px);
    //   // min-height: calc(100% - 225px);
    //   // max-height: calc(100% - 225px);
    //   // height: 100%;
    //   padding-bottom: 0px;

    //   .mat-horizontal-stepper-content {
    //     height: 100%;
    //     .report-filter-tab {
    //       height: 100%;
    //       .report-filter-form {
    //         height: 100%;
    //         .report-flex-container{
    //           height: calc(100% - 52px);
    //         }
    //       }
    //     }
    //   }

    // }

    //   .report-filter-tab-group {

    //     .mat-tab-body-wrapper {
    //       height: 100%;

    //       .mat-tab-body {
    //         .mat-tab-body-content {
    //           .report-flex-container {
    //             height: calc(100% - 52px);
    //             // overflow: auto;

    //             .report-flex-item {

    //               .report-form-field {
    //                 width: inherit;
    //               }
    //             }

    //           }
    //         }
    //       }
    //     }

    //     .report-action-container {
    //       .submit-button {
    //         width: 100px !important;
    //         min-width: unset !important;
    //       }
    //     }

    //   }
  }

}

.daterange-container {
  .ng-star-inserted {
    .md-drppicker {
      // top: 95px !important;
      // left: -174% !important;
      // right: 15px !important;
      // top: 44px !important;
      left: auto !important;
      right: auto !important;
      position: fixed;
      font-family: Lato Regular;
      color: inherit;
      background-color: #fff;
      border-radius: 4px;
      width: 643px !important; // width: 278px;
      padding: 12px;
      margin-top: -55px !important;
      overflow: hidden;
      z-index: 1000;
      font-size: 14px;
      background-color: #ffffff;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

      .ranges {
        // float: none;
        text-align: left;
        margin: 0;

        ul li button.active {
          background-color: #0078D7;
          color: #fff;
        }
      }

      .calendar {
        max-width: 100%;
        margin: 0px; // float: right;

        .calendar-table {
          border: 1px solid #fff;
          padding: 0px 15px;
          border-radius: 4px;
          background-color: #fff;

          .table-condensed {
            .drp-animate {}
          }

          td.active,
          .md-drppicker td.active:hover {
            background-color: #0078D7;
            border-color: transparent;
            color: #fff;
          }
        }

        .left {
          float: left !important;
        }

        .right {
          float: right !important;
        }
      }

      .calendar-time {
        text-align: center;
        margin: 12px auto;
        line-height: 30px;
        position: relative;

        .hourselect {
          width: 55px;
          margin: 0 8px;
          background: #ffffff;
          border-bottom: 1px solid rgba(0, 0, 0, .12);
          padding: 2px;
          outline: 0;
          font-size: 12px;
          font-family: inherit;
        }

        .minuteselect {
          width: 55px;
          margin: 0 8px;
          background: #ffffff;
          border-bottom: 1px solid rgba(0, 0, 0, .12);
          padding: 2px;
          outline: 0;
          font-size: 12px;
          font-family: inherit;
        }

        .secondselect {
          width: 55px;
          margin: 0 auto;
          background: #ffffff;
          border-bottom: 1px solid rgba(0, 0, 0, .12);
          outline: 0;
          font-size: 12px;
          font-family: inherit;
        }

        // .select{
        //   border-bottom: 1px solid rgba(0, 0, 0, .12);
        // }
        .select .select-item {
          display: inline-block;
          width: 48px;
          position: relative;
          font-family: inherit;
          background-color: #ffffff;
          padding: 10px 10px 10px 0;
          font-size: 14px;
          border-radius: 0;
          // border: none;
          // border-bottom: 1px solid rgba(0, 0, 0, .12);
        }

        .ampmselect {
          margin-left: 10px;
        }
      }

      // .shown {
      //     display: block;
      // }
      .buttons {
        .buttons_input {
          .btn {
            position: relative;
            overflow: hidden;
            border-width: 0;
            outline: 0;
            padding: 0 15px;
            cursor: pointer;
            border-radius: 2px;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            ;
            background-color: #0078D7;
            color: #ffffff;
            -webkit-transition: background-color .4s;
            transition: background-color .4s;
            height: auto;
            text-transform: uppercase;
            line-height: 36px;
            border: 0;
            margin: 0 8px;

            svg {
              margin-bottom: 6px;
              display: none;
            }
          }

          .clear {
            color: #000000;
            // -webkit-box-shadow: none;
            // box-shadow: none;
            // background-color: #fff !important;
          }
        }
      }

      table {
        width: 100%;
        margin: 0;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
      }

      table,
      td {
        border: none;
      }

      th {
        border: none;
        color: #988c8c;
        font-size: 14px;
        font-family: Lato Regular;
        font-weight: 500;
      }

      td.in-range {
        background-color: RGBA(0, 120, 215, 0.13);
        border-color: transparent;
        color: #000;
        // border-radius: 0;
      }
    }

    .double {
      width: auto;
    }

    .shown {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .ltr {
      direction: ltr;
      text-align: left;
    }
  }

  .iconCal {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    color: gray;
  }
}

///END report page

///Create report pop up
.material-dialog-container {
  .mat-dialog-container {
      border-radius: 0px;
      padding: 0px !important;
  }
}

///END Create report pop up


//angular meterial glob css
button:focus {
  outline: 0px !important;
}

.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1 !important;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.mat-tab-label-active {
  color: #0070db !important;
}

.mat-form-field {
  width: inherit;
}

.selectMenuPanel {
  margin-top: 2rem;
}

.icon-button {
  float: right;
  padding: 2px 15px;
  text-align: center;
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px;
}

.icon-button:hover {
  background: RGBA(0, 112, 219, 0.13);
}

.search-filter-icon {
  position: absolute;
  right: -15px;
  bottom: -20px;
  width: 50px !important;
  height: 50px !important;
}

table {
  width: 100% !important;

  .mat-header-row {
    background: rgba(211, 213, 220, 0.44);
    ;
    height: 58px;

    .mat-header-cell {
      font-family: 'Lato Bold';
      font-size: 16px;
      font-weight: 500;
      color: #000000;
    }
  }
}

.jcp-two-lines-progress {
  line-height: 24px;
  margin: 9px 0;

  .values {}

  .progress {
    display: -webkit-box;
    display: flex;
    height: 5px !important;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
}


//END angular meterial glob css



//Default Custom css
.p-15 {
  padding: 15px !important;
}

.p-l-10 {
  padding-left: 10 !important;
}

.p-lr-15 {
  padding-left: 15 !important;
  padding-right: 15 !important;
}

.p-tb-15 {
  padding-top: 15 !important;
  padding-bottom: 15 !important;
}

.p-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-tb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.m-15 {
  margin: 15px !important;
}

.m-lr-15 {
  margin-left: 15 !important;
  margin-right: 15 !important;
}

.m-tb-15 {
  margin-top: 15 !important;
  margin-bottom: 15 !important;
}

.m-lr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-tb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

//END Default Custom css


//////////////

//////////////