<div class="task-details-wrapper">
    <mat-card class="cia-module-card h-100">
        <mat-toolbar color="mat-blue-grey" class="create-report-toolbar wo-details">
            <mat-toolbar-row class="mat-blue-grey">
                <div class="col pl-0 wo-header">
                    <div class="header" fxFlex="90">Create Site SLA Configuration</div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        
        <mat-card class="location" style="box-shadow: none;padding-top: 0;">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Select Location
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="td-flex-container">
                        <!-- <label class="sla-label">Select Location</label> -->
                        <div class="d-flex flex-row justify-content-between">
                            <div fxLayout="d-flex  flex-row" class="col">
                                <div class="px-space-3 mx-2" fxFlex="20">
                                    <mat-form-field class="twamp-field-container  " fxFlex="auto">
                                        <mat-select [(value)]="r4gStateList[0].value" placeholder="R4G States"
                                            disableOptionCentering (openedChange)="openedChange($event)">
                                            <input matInput [(ngModel)]="searchGeographyListValue" autocomplete="off"
                                                [ngModelOptions]="{standalone: true}" placeholder="Search..."
                                                style="height: 48px !important;padding-left:15px">
                                            <mat-option
                                                *ngFor="let item of r4gStateList | filter:searchGeographyListValue"
                                                [value]="item.value">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="px-space-3 mx-2" fxFlex="20">
                                    <mat-form-field class="twamp-field-container  " fxFlex="auto">
                                        <mat-select [(value)]="maintentancePointName[0].value"
                                            placeholder="Maintentance Point Name" disableOptionCentering
                                            (openedChange)="openedChange($event)">
                                            <input matInput [(ngModel)]="searchMaintentancePointNameValue"
                                                autocomplete="off" [ngModelOptions]="{standalone: true}"
                                                placeholder="Search..."
                                                style="height: 48px !important;padding-left:15px">
                                            <mat-option
                                                *ngFor="let mpn of maintentancePointName | filter:searchMaintentancePointNameValue"
                                                [value]="mpn.value">
                                                {{mpn.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="px-space-3 mx-4" fxFlex="15">
                                    <mat-form-field class="twamp-field-container  " fxFlex="auto">
                                        <mat-select [(value)]="jioCenter[0].value" placeholder="Jio Center"
                                            disableOptionCentering (openedChange)="openedChange($event)">
                                            <input matInput [(ngModel)]="searchJioCenterValue" autocomplete="off"
                                                [ngModelOptions]="{standalone: true}" placeholder="Search..."
                                                style="height: 48px !important;padding-left:15px">
                                            <mat-option *ngFor="let item of jioCenter | filter:searchJioCenterValue"
                                                [value]="item.value">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="px-space-3 mx-4" fxFlex="20">
                                    <mat-form-field class="twamp-field-container  " fxFlex="auto">
                                        <mat-select [(value)]="sapId[0].value" placeholder="SAP ID"
                                            disableOptionCentering (openedChange)="openedChange($event)">
                                            <input matInput [(ngModel)]="searchSapIDValue" autocomplete="off"
                                                [ngModelOptions]="{standalone: true}" placeholder="Search..."
                                                style="height: 48px !important;padding-left:15px">
                                            <mat-option *ngFor="let item of sapId | filter:searchSapIDValue"
                                                [value]="item.value">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="" fxFlex="15">
                                    <mat-form-field class="twamp-field-container  " fxFlex="auto" style="width: 100%;">
                                        <mat-select [(value)]="siteType[0].value" placeholder="SAP Type"
                                            disableOptionCentering (openedChange)="openedChange($event)">
                                            <input matInput [(ngModel)]="searchSapTypeValue" autocomplete="off"
                                                [ngModelOptions]="{standalone: true}" placeholder="Search..."
                                                style="height: 48px !important;padding-left:15px">
                                            <mat-option *ngFor="let item of siteType | filter:searchSapTypeValue"
                                                [value]="item.value">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>

        <!-- <mat-card>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Define SLAs
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card> -->



        <mat-card style="box-shadow: none; padding-top: 0;">

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Define SLAs
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="wo-grid" style="height: 165px">
                        <app-ag-grid-tree [columnDefs]="columnDefs" [rowData]="rowData">
                        </app-ag-grid-tree>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>

    </mat-card>

</div>

<div class="d-flex task-footer">
    <div class="col"></div>
    <div class="p-2" *ngIf="hideDefaultBtn">
        <button style="width: 190px;" mat-stroked-button color="primary" class="buttonWidth"
            (click)="setAsDefault()">Set as Default Template</button>
    </div>
    <div class="p-2">
        <button style="width: 119px;" mat-stroked-button color="primary" class="buttonWidth"
            >Apply</button>
    </div>
</div>