<div class="nc-site-details-popup-dialog">
    <mat-toolbar class="dialog-header">
        <mat-toolbar-row>
            <div fxFlex="grow">
                <div>Site ID</div>
            </div>
            <button (click)="closeDialog()" mat-icon-button class="dialog-close-button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <!-- <div mat-dialog-content class="main-content"> -->
    <!-- <div class=""> -->
    <div class="containerDiv" fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <div fxLayout="row">
            <div fxFlex="35" fxLayout="row">
                <div class="latLongLabel">
                    Grid Latitude :
                </div>
                <div class="latLongValue">
                    18.6304301718391
                </div>
            </div>
            <div fxFlex="50"  fxLayout="row">
                <div class="latLongLabel">
                    Grid Longitude :
                </div>
                <div class="latLongValue">
                    73.848192745904
                </div>
            </div>
        </div>
        <div fxLatout="row">
            <div fxFlex="20">
                <div class="label">
                    Candidate Category
                </div>
                <div class="value">
                    4G Site
                </div>
            </div>
            <div fxFlex="25">
                <div class="label">
                    Candidate SAP ID
                </div>
                <div class="value">
                    I-MH-CWAD-ENB-I072
                </div>
            </div>
            <div fxFlex="20">
                <div class="label">
                    Site Priority
                </div>
                <div class="value">
                   IP1
                </div>
            </div>
            <div fxFlex="20">
                <div class="label">
                    Backhaul Type
                </div>
                <div class="value">
                   MW
                </div>
            </div>
            <div fxFlex="15">
                <div class="label">
                    Tower Type
                </div>
                <div class="value">
                   RTT
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLatout="row">
            <div fxFlex="20">
                <div class="label">
                    Traffic (in GB)
                </div>
                <div class="value">
                    624.361961559791
                </div>
            </div>
            <div fxFlex="25">
                <div class="label">
                    Budget Handset Users
                </div>
                <div class="value">
                    27284
                </div>
            </div>
            <div fxFlex="20">
                <div class="label">
                   1234
                </div>
                <div class="value">
                    4G Site
                </div>
            </div>
            <div fxFlex="20">
                <div class="label">
                   2675
                </div>
                <div class="value">
                    4G Site
                </div>
            </div>
            <div fxFlex="15">
                <div class="label">
                    Cluter
                </div>
                <div class="value">
                    Urban
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <!-- </div> -->
    <!-- <mat-divider></mat-divider> -->
</div>