<mat-card class="active-alarm p-0">
    <div class="active-alarm-flex-container">
        <div class="d-flex mx-2 flex-row justify-content-between align-items-center full-height">
            <div class="col-4 kpi-editor-flex-item kpi-title">
                5G Active Alarm </div>
            <div class="col-8 active-alarm-flex-item d-flex justify-content-end align-items-center">

                <button class="btn-dl md-icon-button md-button" type="button" aria-label="Download">
                    <div class="zmdi zmdi-download">
                    </div>

                </button>

                <mat-icon class="icon-button search-icon-kpi" aria-label="search" (click)="show = !show;" *ngIf="!show">
                    <span class="zmdi zmdi-search"></span>
                </mat-icon>

                <div class="search-section" *ngIf="show">
                    <div class="search-zone search-items mr-10">

                        <select (change)="onSelectOption($event)" formControlName="replytype" name="" id="search-items">
                            <option selected value="search severity">Search Severity</option>
                            <option value="search event type">Search Event Type</option>
                            <option value="search alarm name">Search Alarm Name</option>
                            <option value="Date">Date</option>
                        </select>

                    </div>
                   
                   



                    <mat-form-field>


                        <input class="search-field" matInput (ngModelChange)="onFilterChanged($event);"
                            autocomplete="off" placeholder="">
                        <mat-icon class="search-filter-icon" (click)="toggleSearch();" aria-label="search">
                            <span class="zmdi zmdi-close"></span>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="header-date-picker" *ngIf="selectedvalue == 'Date'">
                    <mat-form-field color="primary" appearance="fill">
                        <!-- <mat-label>Choose a date</mat-label> -->
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <mat-divider style="position: relative;"></mat-divider>
    <div class="active-alarm-table-container">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material ag-jcp3" rowHeight="48"
            headerHeight="48" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" enableColResize
            enableSorting enableFilter groupHeaders [suppressCellSelection]="true" toolPanelSuppressGroups
            toolPanelSuppressValues rowSelection="multiple" [enableRangeSelection]="true"
            [paginationPageSize]="PaginationPageSize" [pagination]="true" [suppressPaginationPanel]="true"
            [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
            (gridReady)="onReady($event)">
        </ag-grid-angular>
        <app-pagination [pageSize]="PaginationPageSize" [gridApi]="gridAPI"
            [noOfPages]="gridAPI?.paginationGetTotalPages()" [rowCount]="gridAPI?.getDisplayedRowCount()"
            [paginationArray]="[10, 20, 30, 40]"></app-pagination>
    </div>
</mat-card>