$blueactive-color: #0078D7;
::ng-deep.container-jcp .body-sidenav-container .jcp-toolbar .jcp-page-route {
    overflow: hidden !important;
}

::ng-deep.pre-post-report {
    .card-header {
        height: 64px;
        margin: 0px 8px;
        background-color: white;
        padding: 0px;
        .mat-card-header-text {
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            place-content: center flex-start;
            align-items: center;
        }
    }
    .height-58 {
        height: 58px;
        .card-title {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 0px !important;
            font-family: lato medium;
        }
    }
    .calc-height-124 {
        height: calc(100% - 124px);
        .left-card {
            margin-right: 15px;
            overflow: hidden;
            height: 100%;
            .left-card-header {
                height: 36px;
                color: rgba(0, 0, 0, .8);
                font-family: lato medium;
            }
            .card-content {
                overflow: auto;
                height: calc(100% - 10px);
            }
        }
        .right-card {
            .card-title {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 0px !important;
                font-family: lato medium;
            }
            .card-subheader {
                height: 36px;
                color: rgba(0, 0, 0, .8);
                font-family: lato medium;
                border: 0px
            }
        }
    }
}

.button-full {
    border-color: $blueactive-color !important;
    width: 100%;
}