<div #container class="jcp-table-control-layers-container">
    <div class="toolbar-table-control-layers px-3" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="toolbar-table-control-title" fxFlex>
            <span>Table View</span>
        </div>
        <div class="toolbar-table-control-icon-list">
            <div class="p-2 zmdi zmdi-minus"></div>
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="table-control-layers-filter" fxLayout="row" fxLayoutAlign="space-between center" (click)="$event.stopPropagation();">
        <div class="filter-selected-layers px-3" fxFlex="45">
            <mat-form-field class="form-field-selected-layers pt-2 w-100">
                <mat-select disableOptionCentering class="mat-select-selected-layers" [formControl]="selectedLayerCtrl" placeholder="Selected Layer" #singleSelect>
                    <mat-option (click)="$event.stopPropagation();">
                        <ngx-mat-select-search placeholderLabel="Search" [formControl]="selectedLayerFilterCtrl">
                            <div class="mat-select-search-custom-header-content">
                                <div class="zmdi zmdi-search"></div>
                            </div>
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option (click)="$event.stopPropagation();" *ngFor="let selectedLayer of filteredselectedLayers | async" [value]="selectedLayer">
                        {{selectedLayer.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-selected-area px-3" fxFlex="40">
            <mat-form-field class="form-field-selected-area pt-2 w-100">
                <mat-select id="matselectarea" placeholder="Select Area" disableOptionCentering [formControl]="areaParentSelect" [(ngModel)]="selectedOptionArea" (selectionChange)="areaSelectionFunc()">
                    <mat-option value="Pan India">Pan India</mat-option>
                    <mat-option [value]="selectedOptionJioState">
                        <div (click)="$event.stopPropagation();" [matMenuTriggerFor]="jioState" fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Jio State <span *ngIf="optionJioStateValue">- {{optionJioStateValue}}</span></div>
                            <div class="zmdi zmdi-caret-right" style="font-size: 20px;"></div>
                        </div>

                        <mat-menu xPosition="after" #jioState="matMenu" (click)="$event.stopPropagation();">
                            <div mat-menu-item (click)="$event.stopPropagation();">
                                <mat-form-field class="example-full-width p-0">
                                    <input matInput placeholder="Search" [(ngModel)]='listFilterJioStates' autocomplete="off">
                                    <div class="zmdi zmdi-search" *ngIf="!listFilterJioStates" style="position: absolute;right: 0;font-size: 20px;"></div>
                                    <div mat-button *ngIf="listFilterJioStates" matSuffix mat-icon-button aria-label="Clear" (click)="listFilterJioStates=''">
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div style="height: 200px;overflow: auto;">
                                <div mat-menu-item *ngFor='let state of JioStatesList' (click)="jioStateFunc(state.nameState);areaSelectionFunc();">
                                    <div>{{ state.nameState }}</div>
                                </div>
                            </div>
                        </mat-menu>

                    </mat-option>
                    <mat-option [value]="selectedOptionJioCenter">
                        <div (click)="$event.stopPropagation();" [matMenuTriggerFor]="jioCenter" fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Jio Center <span *ngIf="optionjioCentersValue">- {{optionjioCentersValue}}</span></div>
                            <div class="zmdi zmdi-caret-right" style="font-size: 20px;"></div>
                        </div>

                        <mat-menu #jioCenter="matMenu">
                            <div mat-menu-item (click)="$event.stopPropagation();">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" [(ngModel)]='listFilterjioCenters' autocomplete="off">
                                    <div class="zmdi zmdi-search" *ngIf="!listFilterjioCenters" style="position: absolute;right: 0;font-size: 20px;"></div>
                                    <div mat-button *ngIf="listFilterjioCenters" matSuffix mat-icon-button aria-label="Clear" (click)="listFilterjioCenters=''">
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div style="height: 200px;overflow: auto;">
                                <div mat-menu-item *ngFor='let state of jioCentersList' (click)="jioCentersFunc(state.nameState);areaSelectionFunc();">
                                    <div>{{ state.nameState }}</div>
                                </div>
                            </div>
                        </mat-menu>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-download-data px-3" fxFlex="15">
            <div style="width: 40px;height: 40px;background: #0078D7; border-radius: 4px;color: #ffffff;padding: 5px 0px;
            text-align: center;font-size: 20px;">
                <div class="zmdi zmdi-download"></div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="ag-grid-jcp-container">
        <ag-grid-angular #agGrid style="width: 100%;max-height: calc(100% - 65px);height: 100%;" class="ag-theme-material table-view-zoom-ag-grid" [gridOptions]="gridOptions" id="myGrid" [rowData]="rowData" [columnDefs]="columnDefs" [enableFilter]="true" (gridReady)="onGridReady($event)"
            (rowClicked)='onRowClicked($event)'></ag-grid-angular>
    </div>


</div>