.overshooting-cell-container {
    height: calc(100% - 52px);
    overflow: auto;
    background: transparent;

    .blocks {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
    }



    .section-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #ffffff;
        padding: 1rem;
        color: #000000;
        border: 1px solid #ffffff;
        border-radius: 4px;
        height: 64px;
        margin-bottom: 5px;

        p {
            margin: 0;
        }

        div.prev-page {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 37px;
            height: 37px;
            border-radius: 50px;
           
            text-align: center;

            &:hover {
                background: #f2f8fd;
                border-radius: 50px;
                width: 37px;
                height: 37px;
            }
        }

        .main-title {
            text-align: left;
            font-size: 15px;
            line-height: 18px;
            font-family: "Lato Bold";
            letter-spacing: 0px;
            color: #000000;
        }
    }


    .task-retrigger-details {

        header {

            text-align: left;
            font-size: 15px;
            line-height: 18px;
            font-family: "Lato Bold";
            letter-spacing: 0.03px;
            color: #464D69;
            text-transform: capitalize;
            opacity: 1;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            padding: 1rem;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;


        }
    }

    .site-details {
        text-align: left;

        color: #000000;

        .label {
            color: #9c9c9c;
            font-size: 12px;
            line-height: 18px;
            font-family: "Lato Regular";
        }

        .details {
            font-size: 14px;
            line-height: 22px;
            font-family: "Lato Regular";
            letter-spacing: 0px;
            color: #000000;
        }

        .body-text {
            text-align: left;
            font-size: 14px;
            line-height: 22px;
            font-family: "Lato Regular";
            letter-spacing: 0px;
            color: #000000;
            opacity: 0.54;
        }

        header {
            text-align: left;
            font-size: 15px;
            line-height: 18px;
            font-family: "Lato Bold";
            letter-spacing: 0.03px;
            color: #464D69;
            text-transform: capitalize;
            opacity: 1;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            padding: 1rem;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;

        }

        .sitedetails-row {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;

            .sitedetails-cell,
            .sitepdetails-cell {
                font-size: 12px;
                font-family: lato;

            }
        }
    }

    .site-parameter-details {


        header {
            text-align: left;
            font-size: 15px;
            line-height: 18px;
            font-family: "Lato Bold";
            letter-spacing: 0.03px;
            color: #464D69;
            text-transform: capitalize;
            opacity: 1;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            padding: 1rem;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;
        }

        .sitepdetails-row {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .sitepdetails-cell {
                color: #000000;
            }
        }
    }

    .overshooting-cell-statistical-details {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: #ffffff;

        .oscontainer {
            padding: 2rem;
        }

        header {
            text-align: left;
            font-size: 15px;
            line-height: 18px;
            font-family: "Lato Bold";
            letter-spacing: 0.03px;
            color: #464D69;
            text-transform: capitalize;
            opacity: 1;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            padding: 1rem;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;
        }

        .os-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

        }

        .os-cell {
            flex: 0 0 30%;

            .details {
                color: #000000;
                font-size: 14px;

            }

            .value {
                color: #000000;
                opacity: 0.54;
            }
        }
    }

    .implemented-parameter-details {

        background: #ffffff;
        color: #000000;

        header {
            text-align: left;
            font-size: 15px;
            line-height: 18px;
            font-family: "Lato Bold";
            letter-spacing: 0.03px;
            color: #464D69;
            text-transform: capitalize;
            opacity: 1;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            padding: 1rem;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;
        }

        .imp-details-row {
            color: #000000;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            .impcell {
                width: 265px;
                margin-right: 2rem;
            }

        }


    }

    .blocks-text {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        font-family: "Lato Regular";
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.54;
    }
}



.footer {
    width: 100%;
    height: 50px;
    color: #000000;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #f2f2f2;
    border-top: 1px solid #cccccc;
}











.submit-btn {
    background: #1976d2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
}

:host .mat-radio-button {
    margin-right: 20px;
}



.impheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .title {
        flex: 0 0 92%;
    }

    .clone-btn {
        flex: 0 0 0;
        text-align: right;
    }

    .btn-clone {
        width: 71px;
        height: 28px;

        border-radius: 4px;
        opacity: 1;
        color: #FFFFFF;
        text-transform: capitalize;
        background: #0078d7;
        border: 1px solid #0078d7;
        font-size: 14px;
        line-height: 17px;
        font-family: "Lato Medium";
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }
}

.task-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    border: 1px solid lightgray;
    height: 52px;
}


.block-heading {
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    font-family: "Lato Bold";
    letter-spacing: 0.03px;
    color: #464D69;
    text-transform: capitalize;
    opacity: 1;

}
.remarks {
    padding:1rem;
    font-size: 14px;
    line-height: 18px;
    font-family: "Lato Medium";
}
.remarks label {
    display: block;
}
.remarks-field {
    border: none;
    color: #000000;
    font-size: 14px;


}

.os-cell {
    .details {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        font-family: "Lato Regular";
        letter-spacing: 0px;
        color: #000000;
    }
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: none;
}