<!-- <div class="modal-body-wrapper">
    <mat-dialog-content class="dialog-title">
        <h2>Legends & Filters</h2>
        <mat-icon>close</mat-icon>
    </mat-dialog-content>
    <mat-dialog-content class="layers">
        <mat-form-field appearance="fill">
            <mat-label class="drp-label">Select Layer</mat-label>
            <mat-select>
                <mat-option *ngFor="let layer of layers" [value]="layer.value">
                    {{layer.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content class="date">
        <span>Date:
            <mat-form-field appearance="fill">
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </span>
    </mat-dialog-content>
    <mat-dialog-content class="slider">
        <input type="text" class="js-range-slider" name="my_range" value="" />
    </mat-dialog-content>
</div> -->

<div #container class="jcp-table-control-layers-container">
    <div class="toolbar-table-control-layers px-3" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="toolbar-table-control-title" fxFlex>
            <span>Legends & Filters</span>
        </div>
        <div class="toolbar-table-control-icon-list">
            <div class="p-2 zmdi zmdi-minus"></div>
            <div class="p-2 zmdi zmdi-close" (click)="onCloseClick()"></div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="table-control-layers-filter" fxLayout="row" fxLayoutAlign="space-between center" (click)="$event.stopPropagation();">
        <div class="filter-selected-layers px-3" fxFlex="45">
            <mat-form-field class="form-field-selected-layers pt-2 w-100">
                <mat-select disableOptionCentering class="mat-select-selected-layers" placeholder="Selected Layer" #singleSelect>
                    <mat-option *ngFor="let layer of layers" [value]="layer.value">
                        {{layer.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="legends-and-filters">
        <div class="date-legends-and-filters" fxLayout="row" fxLayoutAlign="end center">
            <div>Date:</div>
            <form [formGroup]="form" class="report-filter-form">
                <div class="filter-selected-layers px-3" fxFlex="35">
                    <!-- <mat-form-field class="form-field-selected-layers p-0 w-100" appearance="fill">
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->

                    <mat-form-field class="">
                        <!-- <div class="daterange-container"> -->
                        <input class="daterange-container-input" matInput ngxDaterangepickerMd formControlName="selected" placeholder="" [showDropdowns]="true" [singleDatePicker]="true" [showCancel]="true" [locale]="locale" />
                        <!-- </div> -->
                    </mat-form-field>

                </div>
            </form>
        </div>
    </div>

    <div class="custom-slider p-3">
        <div class="container-color">
            <div class="container-color-list" *ngFor="let item of items">
                <div class="container-color-block" [style.background-color]="item.legend"></div>
            </div>
        </div>
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
    </div>



</div>