<div class="workorder-details">
    <mat-card class="cia-module-card">

        <mat-toolbar color="mat-blue-grey" class="create-report-toolbar wo-details">
            <mat-toolbar-row class="mat-blue-grey">
                <div class="col pl-0 wo-header">
                    <mat-icon class="icon-button mx-2" style="color: #7E7E7E;" aria-label="search" (click)="goBack()">
                        <span class="zmdi zmdi-arrow-left" style="line-height: 1.5;"></span>
                    </mat-icon>
                    <div class="header" fxFlex="90"> Workorder Details</div>
                    <mat-icon class="header-icon" aria-label="search" fxFlex="5">
                        <span class="ic ic-cloud-upload"></span>
                    </mat-icon>

                    <mat-icon class="header-icon" aria-label="search" fxFlex="5">
                        <span class="ic ic-download3"></span>
                    </mat-icon>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <!-- <mat-content> -->
        <div style="height: calc(100% - 60px);overflow: auto;">
            <div class="px-3">
                <form>
                    <div fxLayout="row wrap">
                        <div class="p-2" fxFlex="25">
                            <div class="label">Template Type</div>
                            <div class="value">RET Change</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Workorder ID</div>
                            <div class="value">WO-RAN-E-KO-RET-07072017-0160863</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Project Type</div>
                            <div class="value">RET Change</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <mat-form-field class="p-0" fxFlex="100">
                                <mat-label>Description <span class="px-1 zmdi zmdi-help-outline"></span>
                                </mat-label>
                                <textarea matInput placeholder="Description" required
                                    style="line-height: 7px !important"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="md-subhead">Schedule</div>
                            <div class="label">Date</div>
                            <input type="date" class="date w-100" [value]="selectedDate" name="selectedDate" disabled>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="pt-4">
                                <div class="label">Time</div>
                            </div>
                            <input type="time" class="time" [(ngModel)]="selectedTime" name="selectedTime" disabled>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="md-subhead">Work Order Expiry</div>
                            <div class="label">Date</div>
                            <input type="date" class="date w-100" [value]="selectedDate" name="expiryTime" disabled>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="pt-4">
                                <div class="label">Time</div>
                            </div>
                            <input type="time" class="time" [(ngModel)]="selectedTime" name="expiryTime" disabled>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="label">Impact Area</div>
                            <div class="value">Mumbai</div>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="label">Risk Assessment</div>
                            <div class="value">Low Risk</div>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="label">Urgency</div>
                            <div class="value">Low</div>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="label">Reason For Change</div>
                            <div class="value">Incident/Accidental Problem</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Requester ID</div>
                            <div class="value">Shaika.gayal@ril.com</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Domain</div>
                            <div class="value">RAN Operator</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Sub Domain</div>
                            <div class="value">eNB</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Service</div>
                            <div class="value">RANeNB</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Description</div>
                            <div class="value">RET Change</div>
                        </div>

                        <div class="p-2" fxFlex="25">
                            <div class="label">Risk Impact Analysis </div>
                            <div class="value">-</div>
                        </div>
                        <div class="p-2" fxFlex="25">
                            <div class="label">Implementation Comments</div>
                            <textarea class="w-100" disabled></textarea>
                        </div>

                        <div class="p-2" fxFlex="100">
                            <div class="label">Comments</div>
                            <textarea class="w-100" disabled></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <mat-divider></mat-divider>
            <mat-form-field style="width: 35%; margin-left: 20px">
                <input matInput [(ngModel)]="searchGrid" (ngModelChange)="onFilterChanged($event);" autocomplete="off"
                    placeholder="SEARCH JC / SAP / CELL ID">
                <mat-icon class="search-filter-icon" (click)="toggleSearch();" aria-label="search">
                    <span class="zmdi zmdi-search"></span>
                </mat-icon>
            </mat-form-field>
            <mat-card-content class="cia-card-content" style="height: calc(100% - 49px);">
                <div class="jcp-table-container" style="height: 100%;">
                    <app-table-ag-grid [events]="eventsSubject.asObservable()"></app-table-ag-grid>
                </div>
            </mat-card-content>

        </div>
        <mat-divider></mat-divider>
        <div class="px-3 d-flex reject">
            <div class="py-2">
                <button mat-stroked-button color="primary" class="buttonWidth">REJECT</button>
            </div>
        </div>
    </mat-card>
</div>