<div class="wifi-wrapper">
    <div class="wifi-topbar topbar-title wifi-utility-wrapper px-2">
        <div class="wifi-title p-3">WIFI Utility</div>
        <div class="printer-links p-3">
            <div class="icon-btn">
                <div class="zmdi zmdi-download"></div>
            </div>
        </div>
    </div>
    <div class="p-4" fxLayout="row" fxLayoutAlign="start center"
        style="color:black;font-family: Lato Medium;font-size: 14px;">
        <div>MSISDN</div>
    </div>
    <div class="px-4" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50">
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter 10 Digit Number Only" class="imei-field">
            </mat-form-field>
        </div>
        <div class="px-3" fxFlex="50">
            <div>
                <button mat-raised-button color="primary">Convert</button>
            </div>
        </div>
    </div>
    <div class="px-4" fxLayout="row" fxLayoutAlign="start center">
        <div class="py-3" fxFlex="50">
            <mat-form-field class="full-width">
                <mat-label>IMEI</mat-label>
                <input matInput class="imei-field">
            </mat-form-field>
        </div>
        <div class="py-3" fxFlex="50">
            <mat-form-field class="full-width">
                <mat-label>MAC</mat-label>
                <input matInput class="imei-field">
            </mat-form-field>
        </div>
    </div>
</div>