<div mat-dialog-content class="wo-sector-container">
    <mat-card class="task-summary-view p-0">
        <div class="d-flex mx-2 flex-row flex-wrap task-flex-container" fxLayout="row">

            <div class="p-2 task-flex-item" style="padding: 15px;">
                <div class="prop-label">Building Name</div>
                <div class="prop-value">Champabaug</div>
            </div>
            <div class="p-2 task-flex-item" style="padding: 15px;">
                <div class="prop-label">R4G</div>
                <div class="prop-value">Andhra Pradesh</div>
            </div>
            <div class="p-2 task-flex-item" style="padding: 15px;">
                <div class="prop-label">MP Name</div>
                <div class="prop-value">Durg Bhilainagar</div>
            </div>
            <div class="p-2 task-flex-item" style="padding: 15px;">
                <div class="prop-label">Jio Center</div>
                <div class="prop-value">AP-NRRP-JCP01-0102</div>
            </div>

            <div class="p-2 task-flex-item">
                <!-- <mat-icon class="search-icon" aria-label="search" ">
                    <span class=" style="color: rgba(0,0,0,0.54);"></span>
                </mat-icon> -->

                <button mat-button
                    class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center"
                    (click)="showWifiBand($event)">
                    <div class="zmdi zmdi-portable-wifi" style="font-size: 22px;    margin-bottom: 1px;"></div>
                </button>

            </div>

        </div>
    </mat-card>

    <!-- <mat-card class="tab-container p-0">
        <mat-dialog-content class="date">
            <mat-tab-group>
                <mat-tab label="OVERVEW">
                    <app-overview></app-overview>
                </mat-tab>
                <mat-tab label="GEOGRAPHICAL DETAILS">
                    <app-geographical-details></app-geographical-details>
                </mat-tab>
                <mat-tab label="INVENTORY">
                    <app-inventory></app-inventory>
                </mat-tab>
                <mat-tab label="BACKHAUL">
                    <app-backhaul></app-backhaul>
                </mat-tab>
                <mat-tab label="SITE MILESTONES">
                    <app-site-milestone></app-site-milestone>
                </mat-tab>
                <mat-tab label="POWER"> POWER </mat-tab>
                <mat-tab label="EMS DETAILS"> EMS DETAILS </mat-tab>
            </mat-tab-group>
        </mat-dialog-content>
    </mat-card> -->

    <mat-card class="tab-container p-0">
        <mat-dialog-content class="date">
            <mat-tab-group>
                <mat-tab label="OVERVEW">
                    <app-overview></app-overview>
                </mat-tab>
                <mat-tab label="ANTENNA PARAMETER">
                    <app-antenna-parameter></app-antenna-parameter>
                </mat-tab>
                <mat-tab label="RADIO PARAMETER">
                    <app-radio-parameter></app-radio-parameter>
                </mat-tab>
                <mat-tab label="GOLDEN PARAMETER">
                    <app-golden-parameter></app-golden-parameter>
                </mat-tab>
            </mat-tab-group>
        </mat-dialog-content>
    </mat-card>
</div>