<div mat-dialog-content class="properties-container w-100">
    <div class="flex-container">
        <div class="d-flex flex-row justify-content-between header">
            <div class="col-6 sector-flex-item" fxFlex>
                <mat-icon class="icon-button" style="color: white;float: left;line-height: 1.3;" aria-label="search">
                    <span class="zmdi zmdi-balance"></span>
                </mat-icon>

                <div class="py-3 sector-title">Properties for SAP ID: I-MU-PNVL-ENB-9076</div>
            </div>

            <div class="col-1 sector-flex-item" fxFlex>
                <mat-icon class="close-icon" style="line-height: 2;position: relative; left: 43px;"
                    (click)="closeDialog()" aria-label="search">
                    <span class="zmdi zmdi-close"></span>
                </mat-icon>
            </div>
        </div>
    </div>
    <div class="properties-header p-0">
        <div class="d-flex mx-2 flex-row flex-wrap prop-container col-9" fxLayout="row">
            <div class="prop-flex-item">
                <div class="prop-label">Building Name</div>
                <div class="prop-value">Champabaug</div>
            </div>
            <div class="prop-flex-item">
                <div class="prop-label">R4G</div>
                <div class="prop-value">Andhra Pradesh</div>
            </div>
            <div class="prop-flex-item">
                <div class="prop-label">MP Name</div>
                <div class="prop-value">Durg Bhilainagar</div>
            </div>
            <div class="prop-flex-item">
                <div class="prop-label">Jio Center</div>
                <div class="prop-value">AP-NRRP-JCP01-0102</div>
            </div>

            <div class="prop-flex-item prop-flex-item-wifi">
                <button mat-button
                    class="icon-container-button mat-icon-button d-flex justify-content-center align-items-center"
                    (click)="showWifiBand()" disabled>
                    <div class="zmdi zmdi-portable-wifi"></div>
                </button>
            </div>

            <div id="chart" class="donut-chart">
            </div>
        </div>

        <div class="col-3 sector-flex-item" fxFlex>
            <mat-icon class="icon-button col-4" (click)="closeDialog()"
                style="margin-top: 15px; color: rgba(0, 0, 0, 0.38);" aria-label="search">
                <span class="zmdi zmdi-download"></span>
            </mat-icon>

            <mat-icon class="icon-button col-4" aria-label="search"
                style="margin-top: 15px; color: rgba(0, 0, 0, 0.38);" disabled>
                <span class="zmdi zmdi-print"></span>
            </mat-icon>

            <mat-icon aria-label="search" class="icon-button col-4"
                style="margin-top: 15px; color: rgba(0, 0, 0, 0.38);" disabled>
                <span class="zmdi zmdi-share"></span>
            </mat-icon>
        </div>
    </div>

    <div class="prop-tab-container p-0" *ngIf="showPropTabs">
        <div class="tabs">
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab label="OVERVIEW">
                    <app-overview></app-overview>
                </mat-tab>
                <mat-tab label="GEOGRAPHICAL DETAILS">
                    <app-geographical-details [selectedTab]="selectedTab"></app-geographical-details>
                </mat-tab>
                <mat-tab label="INVENTORY" disabled>
                    <app-inventory [selectedTab]="selectedTab"></app-inventory>
                </mat-tab>
                <mat-tab label="BACKHAUL" disabled>
                    <app-backhaul [selectedTab]="selectedTab"></app-backhaul>
                </mat-tab>
                <mat-tab label="SITE MILESTONES" disabled>
                    <app-site-milestone [selectedTab]="selectedTab"></app-site-milestone>
                </mat-tab>
                <mat-tab label="POWER" disabled>
                    <app-power [selectedTab]="selectedTab"> </app-power>
                </mat-tab>
                <mat-tab label="EMS DETAILS" disabled>
                    <app-ems-details [selectedTab]="selectedTab"></app-ems-details>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="prop-tab-container prop-wifi-tabs p-0" *ngIf="showWifiTabs">
        <div class="tabs h-100">
            <mat-tab-group class="h-100" (selectedTabChange)="tabChanged($event)">
                <mat-tab label="OVERVEW">
                    <app-overview></app-overview>
                </mat-tab>
                <mat-tab label="ANTENNA PARAMETER">
                    <app-antenna-parameter [selectedTab]="selectedTab"></app-antenna-parameter>
                </mat-tab>
                <mat-tab label="RADIO PARAMETER">
                    <app-radio-parameter [selectedTab]="selectedTab"></app-radio-parameter>
                </mat-tab>
                <mat-tab label="GOLDEN PARAMETER">
                    <app-golden-parameter [selectedTab]="selectedTab"></app-golden-parameter>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>